*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.area-game {
    width: 800px;
    height: 300px;
    border-bottom: 2px solid #633708;
    margin: 0 auto;
    position: relative;
    #human {
        width: 50px;
        height: 50px;
        background-image: url(../imgs/human.gif);
        background-size: 80px 80px;
        position: absolute;
        top: 250px;
        left: 50px;
        z-index: 3;
    }
    .up {
        animation: up 1.1s linear;
    }
    @keyframes up {
        0% {
            top: 250px;
        }
        30% {
            top: 190px;
        }
        50% {
            top: 170px;
        }
        80% {
            top: 190px;
        }
        100% {
            top: 250px;
        }
    }
    #stone {
        position: absolute;
        width: 30px;
        height: 40px;
        background-image: url(../imgs/stone.png);
        background-size: 30px 40px;
        left: 760px;
        top: 258px;
        z-index: 1;
    }
    #tree {
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url(../imgs/tree.png);
        background-size: 50px 60px;
        top: 249px;
        left: 980px;
        z-index: 1;
    }
    #bad-dino {
        width: 80px;
        height: 80px;
        position: absolute;
        background-image: url(../imgs/badDino.gif);
        background-size: 70px 70px;
        top: 230px;
        z-index: 3;
    }
    #croco {
        width: 35px;
        height: 35px;
        position: absolute;
        background-image: url(../imgs/croco.gif);
        background-size: 100% 100%;
        z-index: 1;
        top: 263px;
        left: 1200px;
    }
    #bird {
        width: 50px;
        height: 50px;
        position: absolute;
        background-image: url(../imgs/bird.gif);
        background-size: 100% 100%;
        z-index: 1;
        top: 214px;
        left: 1090px;
    }
}

