* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    min-height: 100%;
    min-width: 900px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}
.container {
    width: 900px;
    margin: 0 auto;
    .area__game {
        width: 900px;
        height: 600px;
        margin: 0 auto;
        background-image: url(../imgs/handleArea-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 2;
        cursor: url('../imgs/ham.png'), auto;
        border: none;
    }
    .first__enemy__animal {
        display: none;
        width: 125px;
        height: 125px;
        position: absolute;
        right: 240px;
        top: 380px;
    }
    .after__change__top1 {
        position: static;
        margin-left: 530px;
        margin-top: 270px;
    }
    .second__enemy__animal {
        display: none;
        width: 153px;
        height: 102px;
        position: absolute;
        top: 350px;
        left: 370px;
    }
    .third__enemy__animal {
        display: none;
        width: 132.4px;
        height: 75.4px;
        position: absolute;
        left: 230px;
        top: 440px;
    }
    .fourth__enemy__animal {
        display: none;
        width: 106px;
        height: 94.2px;
        position: absolute;
        bottom: 10px;
        left: 260px;
    }
    .fifth__enemy__animal {
        display: none;
        width: 101px;
        height: 98.8px;
        position: absolute;
        bottom: -40px;
        left: 390px;
    }
    .sixth__enemy__animal {
        display: none;
        width: 120.8px;
        height: 82.6px;
        position: absolute;
        right: 250px;
        bottom: 0px;
    }
    .score {
        position: absolute;
        color: black;
        font-size: 24px;
        z-index: 100;
        top: 47px;
        left: 440px;
    }
    .shadow__score__span {
        color: red;
        font-size: 24px;
        z-index: 50;
        position: absolute;
        top: 50px;
        left: 444px;
    }
    .blue__background {
        position: absolute;
        left: 218px;
        width: 110px;
    }
    .yellow__circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ffd729;
        position: absolute;
        left: 245px;
        top: 14px;
    }
    .timer__span {
        font-size: 13px;
        color: white;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .alert__game__over {
        position: absolute;
        color: red;
        font-size: 23px;
        text-transform: uppercase;
        letter-spacing: 2px;
        top: 250px;
        left: 150px;
    }
    .alert__game__win {
        position: absolute;
        color: #FF00FF;
        top: 250px;
        left: 150px;
        letter-spacing: 2px;
        font-size: 23px;
        text-transform: uppercase;
    }
}
.disable {
    display: none;
}