* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    min-height: 100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
    .area__game {
        width: 900px;
        height: 600px;
        border: 1px solid black;
        margin: 0 auto;
        background-image: url(../imgs/handleArea-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 2;
    }
    .first__enemy__animal {
        display: none;
        width: 125px;
        height: 125px;
        position: absolute;
        right: 240px;
        top: 380px;
    }
    .after__change__top1 {
        position: static;
        margin-left: 530px;
        margin-top: 270px;
    }
    .second__enemy__animal {
        display: none;
        width: 153px;
        height: 102px;
        position: absolute;
        top: 350px;
        left: 370px;
    }
    .third__enemy__animal {
        display: none;
        width: 132.4px;
        height: 75.4px;
        position: absolute;
        left: 230px;
        top: 440px;
    }
    .fourth__enemy__animal {
        display: none;
        width: 106px;
        height: 94.2px;
        position: absolute;
        bottom: 10px;
        left: 260px;
    }
    .fifth__enemy__animal {
        display: none;
        width: 101px;
        height: 98.8px;
        position: absolute;
        bottom: -40px;
        left: 390px;
    }
}
.disable {
    display: none;
}