$white: white;
$black: black;
$cosmo-blue: #41e6e8;
$orange: orange;
$purple: purple;
$dark-purple: #8A2BE2;
$very-dark-blue: #1f1f1f;
$pink: #C71585;
$blue: #1E90FF;
$lime: #00FF00;
$races-name: #8FBC8F;
$tennis-name: #00FFFF;
$red: red;
$huq: #F0FFF0;
$fz: 16px;
$fz26: $fz + 10;
.wrapper__modal__window {
    width: 400px;
    height: 200px;
    background-color: #00BFFF;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    animation: modalWindow 0.7s linear;
    background-color: $very-dark-blue;
    .textcontent__in__modal__window {
    font-family: 'Press Start 2P', cursive;
    color: $white;
    font-weight: 400;
    padding-left: 30px;
    line-height: 25px;
    font-size: $fz - 6;
    span {
        font-weight: 400;
        color: $red;
        a {
            color: $lime;
        }
    }
    }
    .alert__message {
        color: $lime;
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 400;
    }
}

@keyframes modalWindow {
    from {
        top: -10%;
    }

    to {
        top: 12%;
    }
}
.hide {
    background-color: rgb(0, 0, 0.5);
    filter: blur(5px);
}
.overflow {
    overflow: hidden;
}
.disable {
    display: none;
}
