*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(../imgs/menuFone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.area-game {
    display: none;
    width: 800px;
    height: 300px;
    border-bottom: 2px solid #633708;
    margin: 0 auto;
    position: relative;
    background-image: url(../imgs/startfone.jpg);
    background-repeat: no-repeat;
    background-size: 127% 127%;
    #human {
        width: 50px;
        height: 50px;
        background-image: url(../imgs/human.gif);
        background-size: 80px 80px;
        position: absolute;
        top: 250px;
        left: 50px;
        z-index: 3;
    }
    .up {
        animation: up 1.1s linear;
    }
    @keyframes up {
        0% {
            top: 250px;
        }
        30% {
            top: 190px;
        }
        50% {
            top: 170px;
        }
        80% {
            top: 190px;
        }
        100% {
            top: 250px;
        }
    }
    #stone {
        position: absolute;
        width: 30px;
        height: 40px;
        background-image: url(../imgs/stone-removebg-preview.png);
        background-size: 30px 40px;
        left: 760px;
        top: 258px;
        z-index: 1;
    }
    #tree {
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url(../imgs/tree.png);
        background-size: 50px 60px;
        top: 249px;
        left: 980px;
        z-index: 1;
    }
    #bad-dino {
        width: 80px;
        height: 80px;
        position: absolute;
        background-image: url(../imgs/badDino.gif);
        background-size: 70px 70px;
        top: 230px;
        z-index: 3;
    }
    #croco {
        width: 35px;
        height: 35px;
        position: absolute;
        background-image: url(../imgs/croco.gif);
        background-size: 100% 100%;
        z-index: 1;
        top: 263px;
        left: 1200px;
    }
    #sky {
        width: 80px;
        height: 80px;
        position: absolute;
        background-image: url(../imgs/sky.png);
        background-size: 100% 100%;
        z-index: 1;
        top: 52px;
        left: 1090px;
    }
    #sky1 {
        width: 100px;
        height: 100px;
        position: absolute;
        background-image: url(../imgs/sky1.png);
        background-size: 100% 100%;
        z-index: 1;
        top: 62px;
        left: 900px;
    }
    #score {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    #floor {
        position: absolute;
        width: 800px;
        height: 100px;
        top: 300px;
    }
}
.menu {
    width: 400px;
    height: 300px;
    margin: 250px auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1px;
    div {
        height: 100px;
        width: 400px;
        text-align: center;
        cursor: pointer;
    }
    div:nth-child(1) {
        height: 100px;
        background-color: #00003f;
        position: relative;
        span {
            position: absolute;
            top: 40px;
            left: 150px;
        }
    }
    #play:hover {
        transform: scale(1.1);
        transition: 1s;
    }
    div:nth-child(2) {
        background-color: #800000;
        padding-top: 40px;
    }
    #reg:hover {
        transform: scale(1.1);
        transition: 1s;
    }
    div:nth-child(3) {
        background-color: #006400;
        padding-top: 40px;
    }
    #table-winner:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    transform: rotate(12deg);
    top: 80px;
    right: 50px;
}
#jo_1 {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 250px;
    height: 200px;
    transform: rotate(9deg);
    border: 4px solid white;
}
#jo_2 {
    position: absolute;
    top: 20px;
    left: 180px;
    width: 250px;
    height: 200px;
    transform: rotate(-8deg);
    border: 4px solid white;
}
#jo_3 {
    position: absolute;
    top: 290px;
    left: 120px;
    width: 250px;
    height: 200px;
    transform: rotate(-20deg);
    border: 4px solid white;
}