* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 250px 100px 100px;
    padding-bottom: 280px;
    background-color: lightblue;
}
.wrap {
    width: 152px;
    border: 1px solid black;
    margin-left: 410px;
    font-size: 0px;
}
.cube {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}
.cursor-change {
    cursor: url('../imgs/pen.jpg'), auto;
}