body {
    height: 5000px;
}

h2 {
    color: green;
    font-size: 29px;

}

div.block {
    background-color: lightgreen;
    width: 250px;
    height: 250px;
    margin: 0 auto;
     
     ul {
         background-color: blue;
         border: 1px solid orangered;
         li {
             color: purple;
             font-size: 20px;
             list-style: georgian;
             a {
                 text-decoration: dotted;
                 color: yellow;
                 a:before {
                     content: "//";
                     color: cadetblue;
                     span {
                         color: red;
                         font-size: 30px;
                         letter-spacing: 3px;
                         text-decoration: underline;
                         box-shadow: 1px 3px 4px 7px black;
                     }
                 }
             }
         }
     }
}


div.block2 {
    background-color: green;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    & p {
        color: red;
    }
}

$maincolor: #804080;
$size: 240px;
$font-size-p: 50px;
$text: 15px;

div.in {
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    margin: 0 auto;
    
}



@mixin headlings {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: tomato;
    background-color: yellowgreen;
    border: 3px dotted red;
}


div.in {
    p {@include headlings;}
}


