










.text {
    font-size: 20px;
    font-family: sans-serif, serif;
}

.list li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 20px;
    
    
    
}


.text::first-line {
    color: red;
    font-weight: bold;
    font-size: 23px;
}

.text::first-letter {
    font-size: 40px;
    color: blue;
}
    .list li:after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 70%;
        background-color: aqua;
        display: inline-block;
        margin: 0 0 0 10px;
    }

.list li:before {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 70%;
    background-color: brown;
    display: inline-block;
    margin: 0 10px 0 0;
}

.list li:hover::before {
    background-color: green;
    
}

.list li:hover::after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 70%;
    background-color: plum;
    display: inline-block;
    margin: 0 0 0 10;

}

