body {
    font-family: sans-serif, serif;
}

div::first-line {
    color: black;
    letter-spacing: 1px;
    font-size: 35px;
}

h1+h3 {
    color: green;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}

div:nth-child(3) {
    color: red;
}


.fone {
    background-image: url(../img/extref.png);
    background-repeat: no-repeat;
    background-position: left ;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 20px;

}

a+p {
    color: blue;
    line-height: 23px;
    font-style: italic;
}


h3+p {
    color: red;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

div+p {
    color: blue;
    line-height: 23px;
    font-style: italic;
}