$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;
$light-gray: #E5E5E5;
$bold-gray: #797979;
$blue: #0085FF;
$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

@media all and (max-width:1280px) {
    .container {
        width: 960px;
    }
    .header {
        .container {
            h4 {
               font-size: $fz26 - 2;
               span {
                font-size: $fz26 - 2;
               }
            }
            ul {
                li {
                 margin-right: 30px;
                }
            }

            .tel {
                a:nth-child(2) {
                font-size: $fz18 - 2;
                }
            } 
        }
    }
    .footer {

        .container {

            .wrap_footer {
                flex-direction: column;
                align-items: center;
                

                .arrive {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .company {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .repair-brands {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }
            }

            .end_footer {
                width: auto;
            }
        }
    }
    .repair-now {
        .container {
            .wrap-repair-now{
                background-position: 60% 65%;
            }
        }
    }
    .our-contacts {
        .container {
            .about-contacts {
                height: auto;
                flex-wrap: wrap;
            }
        }
    }
}
@media all and (max-width:992px) {
    .container {
        width: 560px;
    }
     .header {

        .container {
            
            .menu{
                display: block;
                
            }
            ul{
                display: none;
            }

            .tel {
                display: none;
            }
        }
    }
     .footer {
        display: none;
    }
    .footer-mobile {
        padding-top: 82px;
        display: block;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer-mobile-block-one {
                height: 314px;
                padding: 0.1px;
                border-bottom: 2px solid $light-blue;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 320px;

                h5 {
                    font-weight: $regular;
                    color: $black;
                    font-size: $fz26;
                    line-height: 31.69px;
                    margin-bottom: 10px;
                    margin-left: 0px;

                    span {
                        color: $bold-pink;
                        line-height: 31.69px;
                        font-size: $fz26;
                        font-weight: $bold800;
                    }
                }

                .p-one {
                    color: $gray;
                    font-weight: $regular;
                    font-size: $fz18;
                    line-height: 21.94px;
                    margin-bottom: 30px;
                    margin-left: 0px;
                }

                .p-two {
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 21.94px;
                    margin-bottom: 30px;
                    color: $black;
                    margin-left: 00px;
                }


                .lists-footer-mobile {
                    padding: 0.1px;
                    width: 100%;
                    display: flex;
                    height: auto;

                    li {
                        margin-bottom: 25px;

                        a {
                            color: $black;
                            font-size: $fz15;
                            font-weight: $medium;
                            line-height: 20.25px;
                        }
                    }
                    
                    
                }
            }

            .footer-mobile-block-two {
                width: 320px;
                padding-top: 30px;
                border-bottom: 2px solid $light-blue;
                p {
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 21.94px;
                    margin-bottom: 30px;
                    color: $black;
                    margin-left: 0px;
                }

                .lists2-footer-mobile {
                    display: flex;
                    width: 70%;
                    justify-content: space-between;

                    ul {

                        li {

                            margin-bottom: 25px;

                            a {
                                    color: $black;
                                    font-size: $fz15;
                                    font-weight: $medium;
                                    line-height: 20.25px;
                                }
                        }
                    }
                }
            }

            .footer-mobile-block-three {
                width: 320px;
                padding-top: 30px;
                padding-bottom: 20px;

                h6 {
                    color: $black;
                    font-size: $fz18;
                    line-height: 24.3px;
                    font-weight: $extra-bold;
                    margin-bottom: 30px;
                }

                .first-list-footer-mobile-block-three{
                    margin-bottom: 30px;

                    li:nth-child(1){
                        line-height: 29.7px;
                        color: $bold-pink;
                        font-size: $fz18;
                        font-weight: $bold;
                        margin-bottom: 5px;
                    }

                    li:nth-child(2) {
                        color: $gray;
                        font-weight: $medium;
                        line-height: 29.7px;
                        font-size: $fz18;
                    }
                }

                p {
                    line-height: 24.75px;
                    color: $black;
                    font-size: $fz15;
                    font-weight: $medium;
                    margin-bottom: 30px;
                }

                .second-list-footer-mobile-block-three {
                    
                    li:nth-child(1) {
                        font-family: $fz15;
                        line-height: 20.25px;
                        color: $gray;
                        font-weight: $medium;
                        margin-bottom: 5px;
                    }

                    li:nth-child(2) {
                        font-size: $fz18;
                        color: $bold-pink;
                        font-weight: $bold;
                        line-height: 29.7px;
                        margin-bottom: 5px;
                    }

                    li:nth-child(3) {
                        font-family: $fz15;
                        line-height: 20.25px;
                        color: $black;
                        font-weight: $medium;
                        margin-bottom: 5px;
                    }
                }
            }

            .end-p {
                color: $gray;
                line-height: 18.29px;
                font-weight: $medium;
                font-size: $fz15;
                margin-bottom: 14px;
                margin-top: 14px;
            }
        }
    }
    .repair-now {
        .container {
            .wrap-repair-now {
                flex-direction: column;
                align-items: center;
                background: none;

                div:nth-child(1) {
                    margin-left: 90px;
                    margin-bottom: 30px;
                    
                    
                }

                div:nth-child(2) {
                    .thanks {
                        left: -85px;
                        top: 230px;
                        width: 550px;
                    }
                }
            }
        }
    }
}
@media all and (max-width:560px) {
    .container {
        width: 320px;
    }
    .header {
          .container {
              .nav-header {
                  width: 100%;
              }
          }
      }
      .repair-now {
          .container {
              .wrap-repair-now {
                  background: url(../img/fone-r-mobile.png) no-repeat center;
                  height: 860px;

                  div:nth-child(1) {
                      p {
                          width: 330px;
                      }
                  }
                   div:nth-child(2) {

                    .thanks {
                        width: 311px;
                        

                        .wrap-thanks {
                             h5 {
                            font-size: $fz18;
                            
                        }
                        p {
                                font-size: 14px;
                                line-height: 29.7px;
                                color: #000000;
                                font-weight: 700;
                                width: auto;
                                margin-left: 30px;
                        }
                        }

                       
                    }
                   }
              }
          }
      }
    .our-contacts {
        .container {
            .about-contacts {
                padding-bottom: 165px;
            }
            .map {
                background: none;
                background: url(../img/map-mobile-con.png) no-repeat;
            }
        }
    }
}