$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;
$light-gray: #E5E5E5;
$bold-gray: #797979;
$blue: #0085FF;
$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $fz;
    font-weight: $light;
    
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    width: 683px;
    height: 49px;
    font-weight: $extra-bold;
    font-size: $fz36;
    line-height: 48.6px;
    color: $black;
    text-transform: uppercase;
}

h3 {
    font-size: $fz28;
    font-weight: $extra-bold;
    line-height: 37.8px;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
}

.container {
    width: 1224px;
    margin: 0 auto;
}


.header {
    height: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        h4 {
            font-size: $fz26;
            font-weight: $light;
            color: $black;
            line-height: 31.69px;

            span {
                color: $bold-pink;
                font-size: $fz26;
                font-weight: $bold800;
                line-height: 31.69px;
                text-transform: uppercase;

            }
        }

        .menu {
            width: 20px;
            height: 20px;
            display: none;
        }

        .nav-header {
            display: none;
            width: 320px;
            background-color: $white;
            height: auto;
            position: absolute;
            z-index: 3;
            right: 0;
            top: 0px;
            animation: nav-header 0.4s linear;
            padding-left: 20px;
            padding-bottom: 25px;
            


            @keyframes nav-header {
                from {
                    right: -100px;
                }

                to {
                    right: 0px;
                }
            }

            

            .interior-modal {
                width: 100%;
                height: 100%;
                position: relative;
                display: block;
                padding: 0.1px;
                padding-top: 24px;

                a {
                    width: 100%;
                    color: $black;
                    font-size: $fz15;
                    line-height: 18.29px;
                    font-weight: $medium;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 25px;
                }


                   h6 {
            font-size: $fz26;
            font-weight: $light;
            color: $black;
            line-height: 31.69px;
            margin-bottom: 74px;

            span {
                color: $bold-pink;
                font-size: $fz26;
                font-weight: $bold800;
                line-height: 31.69px;
                text-transform: uppercase;

            }
        }

           p {
                    color: $black;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-bottom: 30px;
           }

           .modal-list1 {
               display: block;
               margin-bottom: 25px;

               li:nth-child(1) {
                   color: $bold-pink;
                   font-size: $fz18;
                   font-weight: $bold;
                   line-height: 29.7px;
               }
               li:nth-child(2) {
                   line-height: 29.7px;
                   font-size: $fz18 - 3;
                   color: $gray;
                   font-weight: $regular;
               }
           }
           .modal-list2 {
               display: block;

               li:nth-child(1) {
                       line-height: 20.25px;
                        color: #C4C4C4;
                        font-weight: 500;
                        margin-bottom: 5px;
                        font-size: $fz15;
                    }
                     li:nth-child(2) {
                            font-size: 18px;
                            color: #ff005c;
                            font-weight: 600;
                            line-height: 29.7px;
                            margin-bottom: 5px;
                    }

                    li:nth-child(3) {
                        color: $black;
                        font-weight: $medium;
                    }
           }
           button {
               padding-left: 48px;
               padding-right: 48px;
               padding-top: 15px;
               padding-bottom: 15px;
               background-color: $bold-pink;
               color: $white;
               font-weight: $extra-bold;
               line-height: 18.29px;
               font-size: $fz15;
               border: 1px solid $bold-pink;
               display: block;
               margin-top: 50px;
           }

                #close-modal-header {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 40px;
                    height: 40px;
                    border: 2px solid $black;
                    border-radius: 50px;
                    background-color: lightpink;
                }
            }
        }

        ul {
            display: flex;

            li {
                margin-right: 50px;

                a {
                    font-size: $fz15;
                    color: $black;
                    font-weight: $medium;
                    line-height: 31.69px;
                }

                a:hover {
                    color: $bold-pink;
                    font-weight: $medium;

                }
            }

            li:hover {
                animation: link 2s ease-in-out 0s normal none infinite running;
            }

            @keyframes link {

                0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }

                10%,
                30% {
                    transform: rotate(-5deg);
                }

                20%,
                40% {
                    transform: rotate(5deg);
                }
            }




        }

        div.tel {

            a {
                font-size: $fz18;
                font-weight: $extra-bold;
                line-height: 21.94px;
                color: $black;
            }
        }

    }
}

.our-contacts {
    padding-top: 100px;
    .container {
        .about-contacts {
            width: 100%;
            height: 244px;
            padding: 0.1px;
            padding-left: 50px;
            padding-right: 49px;
            padding-top: 45px;
            padding-bottom: 45px;
            display: flex;
            justify-content: space-between;
            -webkit-box-shadow: 0px 0px 37px -9px rgba(191, 224, 255, 1);
            -moz-box-shadow: 0px 0px 37px -9px rgba(191, 224, 255, 1);
            box-shadow: 0px 0px 37px -9px rgba(191, 224, 255, 1);
           
            
            div:nth-child(1) {
                width: 217px;
                height: 138px;
                padding: 0.1px;

                h5 {
                    color: $black;
                    line-height: 24.3px;
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    margin-bottom: 30px;
                }

                ul {

                    li:nth-child(1) {
                        font-size: $fz15;
                        color: $gray;
                        font-weight: $medium;
                        line-height: 20.25px;
                    }

                    li:nth-child(2) {
                        a {
                        line-height: 29.7px;
                        font-size: $fz18;
                        font-weight: $extra-bold;
                        color: $black;
                        
                        }
                        

                        span {
                            font-size: $fz;
                            color: $bold-pink;
                            font-weight: $medium;
                        }
                    }
                }
            }

            .list2 {
                width: 156px;
                height: 75px;
                align-self: center;

                li:nth-child(1) {
                    line-height: 20.25px;
                    color: $gray;
                    font-weight: $medium;
                    font-size: $fz15;
                }

                li:nth-child(2) {
                    color: $black;
                    font-weight: $extra-bold;
                    line-height: 29.7px;
                    font-size: $fz18;
                }
                li:nth-child(3) {
                    color: $black;
                    font-weight: $extra-bold;
                    line-height: 29.7px;
                    font-size: $fz18;
                }
            }
            .list3 {
                align-self: center;
                li:nth-child(1) {
                    line-height: 20.25px;
                    color: $gray;
                    font-weight: $medium;
                    font-size: $fz15;
                }

                li:nth-child(2) {
                    color: $black;
                    font-weight: $extra-bold;
                    line-height: 29.7px;
                    font-size: $fz18;
                }
                li:nth-child(3) {
                    line-height: 20.25px;
                    color: $gray;
                    font-weight: $medium;
                    font-size: $fz15;
                }
            }

            div:nth-child(4) {
                width: 444px;
                height: 154px;
                padding: 0.1px;

                h5 {
                    color: $black;
                    line-height: 24.3px;
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    margin-bottom: 30px;
                }

                p {
                    color: $black;
                    font-size: $fz15;
                    line-height: 24.75px;
                    font-weight: $medium;
                }
            }
        }
         .about-contacts:hover {
                transform: scale(1.05);
                transition: 2s;
            }

        .map {
            width: 100%;
            height: 458px;
            background: url(../img/map-contacts.png) no-repeat;
        }
    }
}

.repair-now {
    padding-top: 100px;

    .container {

        .wrap-repair-now {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 45px;
            padding-bottom: 50px;
            padding-left: 52px;
            padding-right: 52px;
            -webkit-box-shadow: 0px 0px 37px -9px #bfe0ff;
            -moz-box-shadow: 0px 0px 37px -9px #bfe0ff;
            box-shadow: 0px 0px 37px -9px #bfe0ff;
            background: url(../img/brokendisplay.png) no-repeat center;
            position: relative;
            
            div:nth-child(1) {
                height: 249px;
                width: 390px;
                padding: 0.1px;

                h4 {
                    line-height: 24.3px;
                    font-size: $fz18;
                    color: $black;
                    font-weight: $extra-bold;
                    margin-bottom: 30px;
                }
                
                p {
                    width: 390px;
                    height: 75px;
                    font-size: $fz15;
                    color: $black;
                    font-weight: $medium;
                    margin-bottom: 20px;
                }

                ul {
                    
                    li:nth-child(1) {
                        color: $bold-pink;
                        line-height: 29.7px;
                        font-size: $fz18;
                        font-weight: $extra-bold;
                        margin-bottom: 20px;
                    }

                    li:nth-child(2) {
                        font-weight: $medium;
                        font-size: $fz15;
                        color: $black;
                        line-height: 24.75px;
                        width: 228px;
                        height: 75px;
                    }
                }
            }

            

            div:nth-child(2) {
                height: 254px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                input {
                    width: 300px;
                    height: 50px;
                    border: 1px solid #E5E5E5;
                    padding-left: 20px;
                    margin-bottom: 30px;

                }

                ::placeholder {
                    color: $gray;
                    font-weight: $medium;
                    font-size: $fz15;
                    line-height: 20.25px;
                }

                a {
                    width: 300px;
                    height: 50px;
                    border: 1px solid $bold-pink;
                    background-color: $bold-pink;
                    line-height: 20.25px;
                    font-weight: $medium;
                    font-size: $fz15;
                    color: $white;
                    cursor: pointer;
                    display: block;
                    padding-left: 83px;
                    padding-top: 15px;

                }

                .thanks {
               position: absolute;
               width: 560px;
               height: 198px;
               left: 340px;
               display: none;
               
               

               .wrap-thanks {
                   width: 100%;
                   height: 100%;
                   background-color: lightcoral;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                   background-color: $white;
                   border: 1px solid $white;
                    -webkit-box-shadow: 0px 0px 37px -9px #bfe0ff;
                    -moz-box-shadow: 0px 0px 37px -9px #bfe0ff;
                    box-shadow: 0px 0px 37px -9px #bfe0ff;
                    position: relative;

                   h5 {
                       font-size: $fz28;
                       line-height: 37.8px;
                       color: $black;
                       font-weight: $extra-bold;
                       text-transform: uppercase;

                   }
                   p {
                       font-size: $fz18;
                       line-height: 29.7px ;
                       color: $black;
                       font-weight: $extra-bold;
                       width: 403px;
                   }

                   img {
                       position: absolute;
                       top: 5px;
                       right: 5px;
                       cursor: pointer;
                   }
               }
           }
            }

           
        }
        .wrap-repair-now:hover {
                 transform: scale(1.06);
                 transition: 2s;
            }      
    }
}

.animation-on {
    animation: size 2s;
    @keyframes size {
            0% {
                color: $white;
                transform: scale(0, .025)
            }
    
            50% {
                color: $black;
                transform: scale(1, .025)
            }
        }
}

.footer {
    padding-top: 152px;

    .container {
        padding: 0.1px;


        .wrap_footer {
            padding: 0.1px;
            display: flex;
            justify-content: space-between;

            .arrive {
                padding: 0.1px;
                width: 611px;
                border-right: 2px solid $light-blue;


                ul:nth-child(1) {
                    width: 425px;
                    height: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;


                    li:nth-child(1) {
                        font-size: $fz26;
                        font-weight: $light;
                        color: $black;
                        line-height: 31.69px;

                        span {
                            color: $bold-pink;
                            font-size: $fz26;
                            font-weight: $bold800;
                            line-height: 31.69px;
                            text-transform: uppercase;

                        }
                    }

                    li:nth-child(2) {
                        color: $gray;
                        line-height: 21.94px;
                        font-weight: $regular;
                        font-size: $fz18 - 2;
                    }
                }

                h6 {
                    color: $black;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                .list_2 {
                    width: 519px;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;


                    li:nth-child(1) {
                        color: $bold-pink;
                        font-weight: $bold;
                        line-height: 29.7px;
                        font-size: $fz18;
                    }

                    li:nth-child(2) {
                        color: $gray;
                        font-weight: $medium;
                        font-size: $fz15;
                        line-height: 20.25px;
                    }
                }

                p {
                    width: 531px;
                    height: 125px;
                    color: $black;
                    font-size: $fz15;
                    font-weight: $medium;
                    line-height: 24.75px;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                ul:last-child {
                    width: 403px;
                    height: 54px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    background-image: url(../img/metro.png);
                    background-repeat: no-repeat;
                    background-position: 54% 50%;
                    align-items: center;

                    li:nth-child(1) {
                        width: 178px;
                        height: 54px;
                        color: $gray;
                        font-size: $fz15;
                        line-height: 20.25px;
                        font-weight: $medium;

                        span {
                            color: $bold-pink;
                            line-height: 29.7px;
                            font-weight: $bold;
                            font-size: $fz18 - 2;
                        }
                    }

                    li:nth-child(2) {
                        line-height: 20.25px;
                        font-size: $fz15;
                        font-weight: $medium;
                        color: $black;
                    }
                }
            }

            .company {
                width: 243px;
                height: 396px;
                display: flex;
                align-items: center;
                margin-left: 40px;
                border-right: 2px solid $light-blue;


                ul {


                    li {
                        margin-bottom: 25px
                    }

                    li:first-child {
                        color: $black;
                        font-size: $fz18;
                        line-height: 24.3px;
                        font-weight: $extra-bold;
                    }

                    li:nth-child(2) {
                        
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }

                    li:nth-child(3) {
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }

                    li:nth-child(4) {
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }

                    li:nth-child(5) {
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }

                    li:nth-child(6) {
                       a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }


                }
            }

            .repair-brands {
                width: 288px;
                height: 396px;
                display: flex;
                justify-content: space-between;
                padding: 0.1px;

                ul {

                    li {
                        margin-bottom: 20px;
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }
                }

                ul:first-child {
                    margin-top: 62px;

                    li:nth-child(1) {
                        a {
                        color: $black;
                        font-weight: $medium;
                        line-height: 20.25px;
                        font-size: $fz15;
                        }
                    }
                }

                ul:last-child {
                    margin-top: 106px;
                }
            }
        }

        .end_footer {
            width: 1224px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;

            h6 {
                color: $gray;
                font-size: $fz15;
                font-weight: $medium;
                line-height: 18.29px;
            }
        }


    }
}

.footer-mobile {
    display: none;
}