@media all and (max-width: 1280px) {
  .container {
    width: 960px; }

  .header .container h4 {
    font-size: 24px; }
    .header .container h4 span {
      font-size: 24px; }
  .header .container ul li {
    margin-right: 30px; }
  .header .container .tel a:nth-child(2) {
    font-size: 16px; }

  .footer .container .wrap_footer {
    flex-direction: column;
    align-items: center; }
    .footer .container .wrap_footer .arrive {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .company {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .repair-brands {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
  .footer .container .end_footer {
    width: auto; }

  .repair-now .container .wrap-repair-now {
    background-position: 60% 65%; }

  .our-contacts .container .about-contacts {
    height: auto;
    flex-wrap: wrap; } }
@media all and (max-width: 992px) {
  .container {
    width: 560px; }

  .header .container .menu {
    display: block; }
  .header .container ul {
    display: none; }
  .header .container .tel {
    display: none; }

  .footer {
    display: none; }

  .footer-mobile {
    padding-top: 82px;
    display: block; }
    .footer-mobile .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer-mobile .container .footer-mobile-block-one {
        height: 314px;
        padding: 0.1px;
        border-bottom: 2px solid #BFE0FF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px; }
        .footer-mobile .container .footer-mobile-block-one h5 {
          font-weight: 400;
          color: #000000;
          font-size: 26px;
          line-height: 31.69px;
          margin-bottom: 10px;
          margin-left: 0px; }
          .footer-mobile .container .footer-mobile-block-one h5 span {
            color: #ff005c;
            line-height: 31.69px;
            font-size: 26px;
            font-weight: 800; }
        .footer-mobile .container .footer-mobile-block-one .p-one {
          color: #C4C4C4;
          font-weight: 400;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-one .p-two {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 00px; }
        .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile {
          padding: 0.1px;
          width: 100%;
          display: flex;
          height: auto; }
          .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-two {
        width: 320px;
        padding-top: 30px;
        border-bottom: 2px solid #BFE0FF; }
        .footer-mobile .container .footer-mobile-block-two p {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile {
          display: flex;
          width: 70%;
          justify-content: space-between; }
          .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-three {
        width: 320px;
        padding-top: 30px;
        padding-bottom: 20px; }
        .footer-mobile .container .footer-mobile-block-three h6 {
          color: #000000;
          font-size: 18px;
          line-height: 24.3px;
          font-weight: 700;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three {
          margin-bottom: 30px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(1) {
            line-height: 29.7px;
            color: #ff005c;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(2) {
            color: #C4C4C4;
            font-weight: 500;
            line-height: 29.7px;
            font-size: 18px; }
        .footer-mobile .container .footer-mobile-block-three p {
          line-height: 24.75px;
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(1) {
          font-family: 15px;
          line-height: 20.25px;
          color: #C4C4C4;
          font-weight: 500;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(2) {
          font-size: 18px;
          color: #ff005c;
          font-weight: 600;
          line-height: 29.7px;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(3) {
          font-family: 15px;
          line-height: 20.25px;
          color: #000000;
          font-weight: 500;
          margin-bottom: 5px; }
      .footer-mobile .container .end-p {
        color: #C4C4C4;
        line-height: 18.29px;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 14px;
        margin-top: 14px; }

  .repair-now .container .wrap-repair-now {
    flex-direction: column;
    align-items: center;
    background: none; }
    .repair-now .container .wrap-repair-now div:nth-child(1) {
      margin-left: 90px;
      margin-bottom: 30px; }
    .repair-now .container .wrap-repair-now div:nth-child(2) .thanks {
      left: -85px;
      top: 230px;
      width: 550px; } }
@media all and (max-width: 560px) {
  .container {
    width: 320px; }

  .header .container .nav-header {
    width: 100%; }

  .repair-now .container .wrap-repair-now {
    background: url(../img/fone-r-mobile.png) no-repeat center;
    height: 860px; }
    .repair-now .container .wrap-repair-now div:nth-child(1) {
      width: 320px;
      margin-left: 0px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) p {
        width: 320px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) h4 {
        width: 200px; }
    .repair-now .container .wrap-repair-now div:nth-child(2) .thanks {
      width: 311px;
      left: 5px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks h5 {
        font-size: 18px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks p {
        font-size: 14px;
        line-height: 29.7px;
        color: #000000;
        font-weight: 700;
        width: auto;
        margin-left: 30px; }
  .repair-now .container .wrap-repair-now:not([disabled]):hover {
    transform: none; }

  .our-contacts .container .about-contacts {
    padding-bottom: 165px; }
  .our-contacts .container .map {
    background: none;
    background: url(../img/map-mobile-con.png) no-repeat; } }

/*# sourceMappingURL=contact-media.css.map */
