@media all and (max-width: 1400px) {
  .container {
    width: 960px;
    background-color: green; }

  .header .container h4 {
    font-size: 24px; }
    .header .container h4 span {
      font-size: 24px; }
  .header .container ul li {
    margin-right: 30px; }
  .header .container .tel a:nth-child(2) {
    font-size: 16px; }

  .hero .container h1 {
    font-size: 36px;
    width: 370px;
    margin-bottom: 20px; }
  .hero .container p {
    font-size: 16px;
    margin-bottom: 20px; }
  .hero .container .hero-fone-mobile {
    width: 545px;
    height: 475px; }
    .hero .container .hero-fone-mobile img:nth-child(1) {
      width: 500px; }
    .hero .container .hero-fone-mobile img:nth-child(2) {
      width: 230px; }
    .hero .container .hero-fone-mobile img:nth-child(3) {
      width: 310px; }

  .slider .container {
    height: 900px; }
    .slider .container .carousel {
      height: 790px;
      background-color: orange; }
    .slider .container .first-slide {
      display: flex;
      justify-content: none;
      align-items: center;
      flex-direction: column;
      background-color: purple; }
      .slider .container .first-slide .quality img {
        left: 170px; }
      .slider .container .first-slide .prise img {
        left: 170px; }
      .slider .container .first-slide .warranty img {
        left: 170px; }
    .slider .container .second-slide {
      display: flex;
      justify-content: none;
      align-items: center;
      flex-direction: column;
      background-color: blue; }
      .slider .container .second-slide .professional-staff img {
        left: 170px; }
      .slider .container .second-slide .special-equipment img {
        left: 170px; }
      .slider .container .second-slide .direct-deliveries img {
        left: 170px; }

  .repair .container .blocks {
    flex-direction: column;
    align-items: center; }

  .brands .container .all-brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .brands .container .all-brands .mobile_brands_block_one {
      width: 220px;
      height: auto;
      flex-direction: column;
      margin-bottom: 0px; }
      .brands .container .all-brands .mobile_brands_block_one .xiaomi {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .apple {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .huawei {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .honor {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .meizu {
        margin-bottom: 30px; }
    .brands .container .all-brands .mobile_brands_block_two {
      width: 220px;
      height: auto;
      flex-direction: column; }
      .brands .container .all-brands .mobile_brands_block_two .samsung {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .nokia {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .lenovo {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .sony {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .asus {
        margin-bottom: 30px; }

  .video .container .play-video {
    width: 960px; }

  .opinion .container {
    height: 900px; }
    .opinion .container .carousel {
      height: 790px;
      background-color: orange; }
      .opinion .container .carousel .slide1 {
        height: auto;
        flex-direction: column;
        align-items: center; }
      .opinion .container .carousel .slide2 {
        height: auto;
        flex-direction: column;
        align-items: center; }

  .reviews .container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background: url(../img/yandex1.png) no-repeat 40% 30%, url(../img/google1.png) no-repeat 50% 60%, url(../img/2gis.png) no-repeat 60% 30%, url(../img/yell.png) no-repeat 50% 5%;
    background-color: green; }
    .reviews .container a {
      margin-bottom: 30px; }
    .reviews .container a:nth-child(2) {
      align-self: end; }
    .reviews .container a:nth-child(3) {
      align-self: flex-start; }
    .reviews .container a:nth-child(4) {
      align-self: end; }
    .reviews .container a:nth-child(5) {
      align-self: flex-start; }

  .sale .container .slide_1 .wrap {
    background-size: 60%; }
    .sale .container .slide_1 .wrap h2 {
      color: #ff005c; }
    .sale .container .slide_1 .wrap ul li {
      color: #ff005c; }
      .sale .container .slide_1 .wrap ul li span {
        color: #ff005c; }
    .sale .container .slide_1 .wrap .links_wrap1 {
      display: block; }
      .sale .container .slide_1 .wrap .links_wrap1 a {
        display: block;
        margin-bottom: 15px; }
      .sale .container .slide_1 .wrap .links_wrap1 a:nth-child(2) {
        color: #ff005c; }

  .master .container .form {
    width: 944px; }

  .work .container .criteria_1 {
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.1px; }
    .work .container .criteria_1 div:nth-child(3) {
      margin-top: 30px; }
  .work .container .criteria_2 {
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .work .container .criteria_2 div:nth-child(1) {
      background: url(../img/blue-line.png) no-repeat 42.7%; }
      .work .container .criteria_2 div:nth-child(1) .border-right {
        display: none; }
    .work .container .criteria_2 div:nth-child(2) {
      margin-top: 30px;
      background: url(../img/blue-line.png) no-repeat 42.7%; }
      .work .container .criteria_2 div:nth-child(2) .border-right {
        display: none; }

  .our_service_center .container {
    height: 1060px; }
    .our_service_center .container .carousel {
      height: 900px;
      background-color: orange; }
      .our_service_center .container .carousel .carousel-indicators {
        top: 860px; }
    .our_service_center .container .picture-slides {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }

  .courier .container .call-up {
    width: 960px; }

  .contacts .container .contacts-information {
    width: auto; }
  .contacts .container .map {
    width: auto; }
    .contacts .container .map #union1 {
      left: 220px; }
    .contacts .container .map #union2 {
      left: 425px; }
    .contacts .container .map #union3 {
      left: 285px; }
    .contacts .container .map #union4 {
      left: 510px;
      top: 100px; }
    .contacts .container .map #union5 {
      left: 140px; }
    .contacts .container .map #union6 {
      left: 365px; }
    .contacts .container .map #union7 {
      left: 562px;
      top: 260px; }
    .contacts .container .map #union8 {
      left: 190px;
      top: 310px; }
    .contacts .container .map #union9 {
      left: 380px;
      top: 345px; }
    .contacts .container .map #union10 {
      left: 30px; }
    .contacts .container .map #union11 {
      left: 320px; }

  .footer .container .wrap_footer {
    flex-direction: column;
    align-items: center; }
    .footer .container .wrap_footer .arrive {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .company {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .repair-brands {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
  .footer .container .end_footer {
    width: auto; } }
@media all and (max-width: 992px) {
  .container {
    width: 560px; }

  .header .container {
    padding: 0.1px; }
    .header .container ul li {
      display: none; }
    .header .container img {
      display: block;
      margin-left: 300px; }
    .header .container .tel {
      display: none; }

  .hero .container {
    flex-direction: column;
    align-items: center; }
    .hero .container h1 {
      font-size: 26px;
      width: 300px; }
    .hero .container p {
      font-size: 15px;
      width: 250px;
      height: auto; }
    .hero .container .hero-fone-mobile {
      animation: none;
      width: 430px;
      margin-top: 50px; }
      .hero .container .hero-fone-mobile img:nth-child(1) {
        width: 400px; }
      .hero .container .hero-fone-mobile img:nth-child(2) {
        width: 130px; }
      .hero .container .hero-fone-mobile img:nth-child(3) {
        width: 190px; }

  .repair .container .left__blocks .display {
    width: 560px; }
  .repair .container .left__blocks .dinamics {
    width: 560px; }
  .repair .container .left__blocks .buttons {
    width: 560px; }
  .repair .container .left__blocks .net {
    width: 560px; }
  .repair .container .right__blocks .battery {
    width: 560px; }
  .repair .container .right__blocks .camera {
    width: 560px; }
  .repair .container .right__blocks .speaker {
    width: 560px; }
  .repair .container .right__blocks .other-problems {
    width: 560px; } }

/*# sourceMappingURL=media.css.map */
