@media all and (max-width: 1400px) {
  .container {
    width: 960px; }

  .header .container h4 {
    font-size: 24px; }
    .header .container h4 span {
      font-size: 24px; }
  .header .container ul li {
    margin-right: 30px; }
  .header .container .tel a:nth-child(2) {
    font-size: 16px; }

  .hero .container h1 {
    font-size: 36px;
    width: 370px;
    margin-bottom: 20px; }
  .hero .container p {
    font-size: 16px;
    margin-bottom: 20px; }
  .hero .container .hero-fone-mobile {
    width: 545px;
    height: 475px; }
    .hero .container .hero-fone-mobile img:nth-child(1) {
      width: 500px; }
    .hero .container .hero-fone-mobile img:nth-child(2) {
      width: 230px; }
    .hero .container .hero-fone-mobile img:nth-child(3) {
      width: 310px; }
  .hero .container .modal_hero {
    top: 50px;
    left: 270px; }

  .slider .container {
    height: 900px; }
    .slider .container .carousel {
      height: 790px; }
    .slider .container .first-slide {
      display: flex;
      justify-content: none;
      align-items: center;
      flex-direction: column; }
      .slider .container .first-slide .quality img {
        left: 170px; }
      .slider .container .first-slide .prise img {
        left: 170px; }
      .slider .container .first-slide .warranty img {
        left: 170px; }
    .slider .container .second-slide {
      display: flex;
      justify-content: none;
      align-items: center;
      flex-direction: column;
      background-color: blue; }
      .slider .container .second-slide .professional-staff img {
        left: 170px; }
      .slider .container .second-slide .special-equipment img {
        left: 170px; }
      .slider .container .second-slide .direct-deliveries img {
        left: 170px; }

  .repair .container .blocks {
    flex-direction: column;
    align-items: center; }

  .brands .container .all-brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .brands .container .all-brands .mobile_brands_block_one {
      width: 220px;
      height: auto;
      flex-direction: column;
      margin-bottom: 0px; }
      .brands .container .all-brands .mobile_brands_block_one .xiaomi {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .apple {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .huawei {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .honor {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_one .meizu {
        margin-bottom: 30px; }
    .brands .container .all-brands .mobile_brands_block_two {
      width: 220px;
      height: auto;
      flex-direction: column; }
      .brands .container .all-brands .mobile_brands_block_two .samsung {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .nokia {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .lenovo {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .sony {
        margin-bottom: 30px; }
      .brands .container .all-brands .mobile_brands_block_two .asus {
        margin-bottom: 30px; }

  .video .container .play-video {
    width: 960px; }

  .opinion .container {
    height: 900px; }
    .opinion .container .carousel {
      height: 790px; }
      .opinion .container .carousel .slide1 {
        height: auto;
        flex-direction: column;
        align-items: center; }
      .opinion .container .carousel .slide2 {
        height: auto;
        flex-direction: column;
        align-items: center; }

  .reviews .container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background: url(../img/yandex1.png) no-repeat 40% 30%, url(../img/google1.png) no-repeat 50% 60%, url(../img/2gis.png) no-repeat 60% 30%, url(../img/yell.png) no-repeat 50% 5%; }
    .reviews .container a {
      margin-bottom: 30px; }
    .reviews .container a:nth-child(2) {
      align-self: end; }
    .reviews .container a:nth-child(3) {
      align-self: flex-start; }
    .reviews .container a:nth-child(4) {
      align-self: end; }
    .reviews .container a:nth-child(5) {
      align-self: flex-start; }

  .sale .container .slide_1 .wrap {
    background-size: 60%; }
    .sale .container .slide_1 .wrap h2 {
      color: #ff005c; }
    .sale .container .slide_1 .wrap ul li {
      color: #ff005c; }
      .sale .container .slide_1 .wrap ul li span {
        color: #ff005c; }
    .sale .container .slide_1 .wrap .links_wrap1 {
      display: block; }
      .sale .container .slide_1 .wrap .links_wrap1 a {
        display: block;
        margin-bottom: 15px; }
      .sale .container .slide_1 .wrap .links_wrap1 a:nth-child(2) {
        color: #ff005c; }

  .master .container .form {
    width: 944px; }

  .work .container .criteria_1 {
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.1px; }
    .work .container .criteria_1 div:nth-child(3) {
      margin-top: 30px; }
  .work .container .criteria_2 {
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .work .container .criteria_2 div:nth-child(1) {
      background: url(../img/blue-line.png) no-repeat 42.7%; }
      .work .container .criteria_2 div:nth-child(1) .border-right {
        display: none; }
    .work .container .criteria_2 div:nth-child(2) {
      margin-top: 30px;
      background: url(../img/blue-line.png) no-repeat 42.7%; }
      .work .container .criteria_2 div:nth-child(2) .border-right {
        display: none; }

  .our_service_center .container {
    height: 1060px; }
    .our_service_center .container .carousel {
      height: 900px; }
      .our_service_center .container .carousel .carousel-indicators {
        top: 860px; }
    .our_service_center .container .picture-slides {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }

  .courier .container .call-up {
    width: 960px; }

  .contacts .container .contacts-information {
    width: auto; }
  .contacts .container .map {
    width: auto; }
    .contacts .container .map #union1 {
      left: 220px; }
    .contacts .container .map #union2 {
      left: 425px; }
    .contacts .container .map #union3 {
      left: 285px; }
    .contacts .container .map #union4 {
      left: 510px;
      top: 100px; }
    .contacts .container .map #union5 {
      left: 140px; }
    .contacts .container .map #union6 {
      left: 365px; }
    .contacts .container .map #union7 {
      left: 562px;
      top: 260px; }
    .contacts .container .map #union8 {
      left: 190px;
      top: 310px; }
    .contacts .container .map #union9 {
      left: 380px;
      top: 345px; }
    .contacts .container .map #union10 {
      left: 30px; }
    .contacts .container .map #union11 {
      left: 320px; }

  .footer .container .wrap_footer {
    flex-direction: column;
    align-items: center; }
    .footer .container .wrap_footer .arrive {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .company {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .repair-brands {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
  .footer .container .end_footer {
    width: auto; } }
@media all and (max-width: 992px) {
  .container {
    width: 560px; }

  .header .container {
    padding: 0.1px; }
    .header .container ul li {
      display: none; }
    .header .container .menu {
      display: block;
      margin-left: 300px; }
    .header .container .tel {
      display: none; }

  .hero .container {
    flex-direction: column;
    align-items: center; }
    .hero .container h1 {
      font-size: 26px;
      width: 300px; }
    .hero .container p {
      font-size: 15px;
      width: 250px;
      height: auto; }
    .hero .container .hero-fone-mobile {
      animation: none;
      width: 430px;
      margin-top: 50px; }
      .hero .container .hero-fone-mobile img:nth-child(1) {
        width: 400px; }
      .hero .container .hero-fone-mobile img:nth-child(2) {
        width: 130px; }
      .hero .container .hero-fone-mobile img:nth-child(3) {
        width: 190px; }
    .hero .container .modal_hero {
      left: 50px; }

  .repair .container .left__blocks {
    width: auto; }
    .repair .container .left__blocks .display {
      width: 560px; }
    .repair .container .left__blocks .dinamics {
      width: 560px; }
    .repair .container .left__blocks .buttons {
      width: 560px; }
    .repair .container .left__blocks .net {
      width: 560px; }
  .repair .container .right__blocks {
    width: auto; }
    .repair .container .right__blocks .battery {
      width: 560px; }
    .repair .container .right__blocks .camera {
      width: 560px; }
    .repair .container .right__blocks .speaker {
      width: 560px; }
    .repair .container .right__blocks .other-problems {
      width: 560px; }

  .opinion .container .slide1 .comment1 {
    background-position: 5% 95%; }
    .opinion .container .slide1 .comment1 p {
      width: 500px;
      margin: 0 auto; }
    .opinion .container .slide1 .comment1 .list-comment {
      height: auto; }
      .opinion .container .slide1 .comment1 .list-comment ul {
        height: auto; }
  .opinion .container .slide1 .comment2 {
    background-position: 5% 95%; }
    .opinion .container .slide1 .comment2 ul {
      height: auto; }
    .opinion .container .slide1 .comment2 .list-comment {
      height: auto; }
    .opinion .container .slide1 .comment2 p {
      width: 500px;
      margin: 0 auto; }
  .opinion .container .slide2 .comment3 {
    background-position: 5% 95%; }
    .opinion .container .slide2 .comment3 p {
      width: 500px;
      margin: 0 auto; }
    .opinion .container .slide2 .comment3 .list-comment {
      height: auto; }
      .opinion .container .slide2 .comment3 .list-comment ul {
        height: auto; }
  .opinion .container .slide2 .comment4 {
    background-position: 5% 95%; }
    .opinion .container .slide2 .comment4 ul {
      height: auto; }
    .opinion .container .slide2 .comment4 .list-comment {
      height: auto; }
    .opinion .container .slide2 .comment4 p {
      width: 500px;
      margin: 0 auto; }

  .video .container .play-video {
    width: 560px;
    height: auto; }

  .sale .container .slide_1 {
    height: 500px;
    padding: 0.1px; }
    .sale .container .slide_1 ul {
      flex-direction: column;
      width: auto; }
      .sale .container .slide_1 ul li {
        width: auto; }
    .sale .container .slide_1 .wrap {
      padding: 0.1px;
      height: 500px;
      background-size: 80%; }
      .sale .container .slide_1 .wrap ul li:nth-child(2) {
        width: 400px; }
      .sale .container .slide_1 .wrap .typewriter {
        width: 420px;
        font-size: 22px; }
  @keyframes typewriter {
    from {
      width: 0; }
    to {
      width: 420px; } }
      .sale .container .slide_1 .wrap .links_wrap1 {
        margin-top: 100px;
        width: auto; }

  .master .container {
    height: 600px; }
    .master .container .form {
      width: auto;
      height: 500px;
      background: none; }
      .master .container .form .about-form {
        width: auto;
        height: auto;
        flex-direction: column; }
        .master .container .form .about-form .information-form ul li {
          width: 200px; }
        .master .container .form .about-form .block-form h6 {
          width: 200px; }

  .work .container .criteria_1 div:nth-child(1) {
    margin-bottom: 30px; }
  .work .container .criteria_2 div:nth-child(2) {
    width: 520px; }
    .work .container .criteria_2 div:nth-child(2) h5 {
      margin-left: 5px; }
  .work .container .criteria_2 div:nth-child(1) {
    width: 520px; }
    .work .container .criteria_2 div:nth-child(1) h5 {
      margin-left: 5px; }

  .our_service_center .container {
    height: 1250px; }
    .our_service_center .container .carousel {
      height: 1050px; }
      .our_service_center .container .carousel .carousel-indicators {
        top: 1000px; }

  .courier .container {
    height: 500px; }
    .courier .container .call-up {
      width: auto;
      background: none;
      flex-direction: column;
      height: 400px; }

  .contacts .container .contacts-information .contact-list-1 {
    width: auto;
    padding-right: 10px; }
    .contacts .container .contacts-information .contact-list-1 ul:nth-child(1) li:nth-child(1) {
      font-size: 14px; }
    .contacts .container .contacts-information .contact-list-1 ul:nth-child(1) li:nth-child(2) {
      font-size: 15px; }
  .contacts .container .contacts-information .contact-list-2 {
    width: auto; }
    .contacts .container .contacts-information .contact-list-2 ul li:nth-child(2) {
      font-size: 16px; }
  .contacts .container .contacts-information .contact-list-3 ul:nth-child(1) li:nth-child(1) {
    font-size: 16px; }
  .contacts .container .contacts-information .contact-list-3 ul:nth-child(1) li:nth-child(2) {
    font-size: 16px; }
  .contacts .container .contacts-information .contact-list-3 ul:nth-child(1) li:nth-child(3) {
    font-size: 16px; }
  .contacts .container .map {
    background: url(../img/map-mobile.png) no-repeat center;
    height: 620px;
    background-size: 100%; }
    .contacts .container .map img {
      display: none !important; }
  .contacts .container .about-center .next-about {
    transform: none; }

  .footer .container .wrap_footer .arrive {
    width: auto; }
    .footer .container .wrap_footer .arrive h6 {
      width: 200px; }
    .footer .container .wrap_footer .arrive p {
      font-size: 14px;
      width: 500px; } }
@media all and (max-width: 580px) {
  .container {
    width: 100%; }

  .header .container .menu {
    margin-left: 220px; }

  .hero .container {
    height: 597px;
    background: url(../img/fone-header-mobile.png) no-repeat right;
    align-items: flex-start;
    flex-direction: column; }
    .hero .container .hero-fone-mobile {
      display: none; }
    .hero .container h1 {
      font-size: 48px;
      height: auto;
      width: 270px; }
    .hero .container .relative {
      height: 376px;
      display: flex;
      flex-direction: column; }
    .hero .container .modal_hero {
      left: 20px; }

  .video {
    display: none; }
    .video .container .play-video {
      width: 460px; }

  .opinion {
    display: none; }

  .reviews .container {
    background: none; }
    .reviews .container a:nth-child(5) {
      align-self: center; }
    .reviews .container a:nth-child(4) {
      align-self: center; }
    .reviews .container a:nth-child(3) {
      align-self: center; }
    .reviews .container a:nth-child(2) {
      align-self: center; }
    .reviews .container a:nth-child(1) {
      align-self: center; }

  .brands .container .all-brands {
    flex-direction: column; }
    .brands .container .all-brands .mobile_brands_block_two {
      display: none;
      height: auto;
      animation: brands_2 1.1s linear; }
  @keyframes brands_2 {
    from {
      opacity: 0.5; }
    to {
      opacity: 1; } }
    .brands .container .all-brands .open-second-brands {
      display: block; }

  .master {
    display: none; }

  .our_service_center {
    display: none; }

  .courier {
    display: none; }

  .work .container .criteria_1 div:nth-child(4) {
    display: block; }
  .work .container .criteria_1 div:nth-child(5) {
    display: block; }
  .work .container .criteria_2 {
    display: none; }

  .sale .container .slide_1 .wrap {
    height: 480px; }
  .sale .container .slide_1 .typewriter {
    margin-left: 0px;
    margin-bottom: 20px; }
  .sale .container .slide_1 ul {
    margin-left: 0px;
    width: auto; }

  .contacts .container .contacts-information {
    flex-direction: column; }
    .contacts .container .contacts-information div:nth-child(1) {
      width: 100%; }
      .contacts .container .contacts-information div:nth-child(1) ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 110px; }
        .contacts .container .contacts-information div:nth-child(1) ul li {
          font-size: 24px !important; }
        .contacts .container .contacts-information div:nth-child(1) ul a {
          font-size: 24px !important; }
    .contacts .container .contacts-information div:nth-child(2) {
      width: 100%; }
      .contacts .container .contacts-information div:nth-child(2) ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 110px; }
        .contacts .container .contacts-information div:nth-child(2) ul li {
          font-size: 24px !important; }
        .contacts .container .contacts-information div:nth-child(2) ul a {
          font-size: 24px !important; }
    .contacts .container .contacts-information div:nth-child(3) {
      width: 100%; }
      .contacts .container .contacts-information div:nth-child(3) ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 110px; }
        .contacts .container .contacts-information div:nth-child(3) ul li {
          font-size: 24px !important; }
        .contacts .container .contacts-information div:nth-child(3) ul a {
          font-size: 24px !important; }
  .contacts .container .map {
    background: url(../img/map-mobile.png) no-repeat center;
    height: 420px;
    background-size: cover; }
    .contacts .container .map img {
      display: none; }
  .contacts .container .about-center .next-about {
    transform: none; }

  .footer {
    display: none; }

  .footer-mobile {
    padding-top: 82px;
    display: block; }
    .footer-mobile .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer-mobile .container .footer-mobile-block-one {
        height: 314px;
        padding: 0.1px;
        border-bottom: 2px solid #BFE0FF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px; }
        .footer-mobile .container .footer-mobile-block-one h5 {
          font-weight: 400;
          color: #000000;
          font-size: 26px;
          line-height: 31.69px;
          margin-bottom: 10px;
          margin-left: 30px; }
          .footer-mobile .container .footer-mobile-block-one h5 span {
            color: #ff005c;
            line-height: 31.69px;
            font-size: 26px;
            font-weight: 800; }
        .footer-mobile .container .footer-mobile-block-one .p-one {
          color: #C4C4C4;
          font-weight: 400;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-one .p-two {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 30px; }
        .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile {
          padding: 0.1px;
          width: 100%;
          display: flex;
          height: auto; }
          .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-two {
        width: 320px;
        padding-top: 30px;
        border-bottom: 2px solid #BFE0FF; }
        .footer-mobile .container .footer-mobile-block-two p {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile {
          display: flex;
          width: 70%;
          justify-content: space-between; }
          .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-three {
        width: 320px;
        padding-top: 30px;
        padding-bottom: 20px; }
        .footer-mobile .container .footer-mobile-block-three h6 {
          color: #000000;
          font-size: 18px;
          line-height: 24.3px;
          font-weight: 700;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three {
          margin-bottom: 30px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(1) {
            line-height: 29.7px;
            color: #ff005c;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(2) {
            color: #C4C4C4;
            font-weight: 500;
            line-height: 29.7px;
            font-size: 18px; }
        .footer-mobile .container .footer-mobile-block-three p {
          line-height: 24.75px;
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(1) {
          font-family: 15px;
          line-height: 20.25px;
          color: #C4C4C4;
          font-weight: 500;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(2) {
          font-size: 18px;
          color: #ff005c;
          font-weight: 600;
          line-height: 29.7px;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(3) {
          font-family: 15px;
          line-height: 20.25px;
          color: #000000;
          font-weight: 500;
          margin-bottom: 5px; }
      .footer-mobile .container .end-p {
        color: #C4C4C4;
        line-height: 18.29px;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 14px;
        margin-top: 14px; }

  .repair .container .display {
    display: none; }
  .repair .container .dinamics {
    display: none; }
  .repair .container .buttons {
    display: none; }
  .repair .container .net {
    display: none; }
  .repair .container .battery {
    display: none; }
  .repair .container .camera {
    display: none; }
  .repair .container .speaker {
    display: none; }
  .repair .container .other-problems {
    display: none; }
  .repair .container .left__blocks {
    padding: 0.1px;
    position: relative;
    height: auto; }
    .repair .container .left__blocks .close {
      position: absolute;
      right: 30px;
      top: 38px;
      display: none; }
    .repair .container .left__blocks .close1 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .left__blocks .close2 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .left__blocks .close3 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .left__blocks .wrap-display-mobile {
      display: block;
      position: relative; }
    .repair .container .left__blocks .wrap-dinamics-mobile {
      display: block;
      position: relative; }
    .repair .container .left__blocks .wrap-buttons-mobile {
      display: block;
      position: relative; }
    .repair .container .left__blocks .wrap-net-mobile {
      display: block;
      position: relative; }
    .repair .container .left__blocks .display-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: display-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .left__blocks .display-mobile .icon-display {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .left__blocks .display-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .left__blocks .display-mobile .open {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .left__blocks .display-mobile ul {
        margin-top: 38px;
        display: none; }
        .repair .container .left__blocks .display-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .left__blocks .dinamics-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: dinamics-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .left__blocks .dinamics-mobile .icon-dinamics {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .left__blocks .dinamics-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .left__blocks .dinamics-mobile .open2 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .left__blocks .dinamics-mobile ul {
        margin-top: 38px;
        display: none;
        background-color: #fff; }
        .repair .container .left__blocks .dinamics-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .left__blocks .buttons-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: dinamics-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .left__blocks .buttons-mobile .icon-buttons {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .left__blocks .buttons-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .left__blocks .buttons-mobile .open3 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .left__blocks .buttons-mobile ul {
        margin-top: 38px;
        display: none;
        background-color: #fff; }
        .repair .container .left__blocks .buttons-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .left__blocks .net-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: dinamics-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .left__blocks .net-mobile .icon-net {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .left__blocks .net-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .left__blocks .net-mobile .open4 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .left__blocks .net-mobile ul {
        margin-top: 38px;
        display: none;
        background-color: #fff; }
        .repair .container .left__blocks .net-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .repair .container .right__blocks {
    padding: 0.1px;
    position: relative;
    height: auto; }
    .repair .container .right__blocks .close4 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .right__blocks .close5 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .right__blocks .close6 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .right__blocks .close7 {
      position: absolute;
      right: 32px;
      top: 40px;
      display: none; }
    .repair .container .right__blocks .wrap-battery-mobile {
      display: block;
      position: relative; }
    .repair .container .right__blocks .wrap-camera-mobile {
      display: block;
      position: relative; }
    .repair .container .right__blocks .wrap-speaker-mobile {
      display: block;
      position: relative; }
    .repair .container .right__blocks .wrap-other-problems-mobile {
      display: block;
      position: relative; }
    .repair .container .right__blocks .battery-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: display-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .right__blocks .battery-mobile .icon-battery {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .right__blocks .battery-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .right__blocks .battery-mobile .open5 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .right__blocks .battery-mobile ul {
        margin-top: 38px;
        display: none; }
        .repair .container .right__blocks .battery-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .right__blocks .camera-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: display-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .right__blocks .camera-mobile .icon-camera {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .right__blocks .camera-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .right__blocks .camera-mobile .open6 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .right__blocks .camera-mobile ul {
        margin-top: 38px;
        display: none; }
        .repair .container .right__blocks .camera-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .right__blocks .speaker-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: display-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .right__blocks .speaker-mobile .icon-speaker {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .right__blocks .speaker-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .right__blocks .speaker-mobile .open7 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .right__blocks .speaker-mobile ul {
        margin-top: 38px;
        display: none; }
        .repair .container .right__blocks .speaker-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    .repair .container .right__blocks .other-problems-mobile {
      display: block;
      width: 335px;
      height: 100px;
      border: 1px solid #fff;
      padding: 0.1px;
      margin-bottom: 30px;
      border: 2px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      -moz-box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      box-shadow: 0px 0px 27px -7px rgba(191, 224, 255, 0.8);
      animation: display-mobile 1.2s linear;
      transition: 0.5s; }
      .repair .container .right__blocks .other-problems-mobile .icon-other-problems {
        position: absolute;
        left: 19px;
        top: 34px; }
      .repair .container .right__blocks .other-problems-mobile h6 {
        color: #000000;
        line-height: 24.3px;
        margin-top: 38px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 17px; }
      .repair .container .right__blocks .other-problems-mobile .open8 {
        position: absolute;
        top: 38px;
        right: 30px; }
      .repair .container .right__blocks .other-problems-mobile ul {
        margin-top: 38px;
        display: none; }
        .repair .container .right__blocks .other-problems-mobile ul li {
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          line-height: 20.25px;
          margin-bottom: 20px;
          animation: list-ds 1.5s linear; }
  @keyframes list-ds {
    from {
      opacity: 0; }
    to {
      opacity: 1; } } }
@media all and (max-width: 500px) {
  .container {
    width: 100%; }

  .header .container {
    position: relative; }
    .header .container .menu {
      margin-left: 140px; }

  .hero .container .modal_hero {
    width: 320px;
    left: 0px; }

  .repair .left__blocks {
    width: 320px !important; }
    .repair .left__blocks #display-mobile {
      width: 320px; }
      .repair .left__blocks #display-mobile h6 {
        font-size: 15px; }
    .repair .left__blocks #dinamics-mobile {
      width: 320px; }
      .repair .left__blocks #dinamics-mobile h6 {
        font-size: 15px; }
    .repair .left__blocks #buttons-mobile {
      width: 320px; }
      .repair .left__blocks #buttons-mobile h6 {
        font-size: 15px; }
    .repair .left__blocks #net-mobile {
      width: 320px; }
      .repair .left__blocks #net-mobile h6 {
        font-size: 15px; }
  .repair .right__blocks {
    width: 320px !important; }
    .repair .right__blocks #battery-mobile {
      width: 320px; }
      .repair .right__blocks #battery-mobile h6 {
        font-size: 15px; }
    .repair .right__blocks #camera-mobile {
      width: 320px; }
      .repair .right__blocks #camera-mobile h6 {
        font-size: 15px; }
    .repair .right__blocks #speaker-mobile {
      width: 320px; }
      .repair .right__blocks #speaker-mobile h6 {
        font-size: 15px; }
    .repair .right__blocks #other-problems-mobile {
      width: 320px; }
      .repair .right__blocks #other-problems-mobile h6 {
        font-size: 15px; }

  .sale .container .slide_1 {
    width: auto;
    height: auto; }
    .sale .container .slide_1 ul {
      height: auto; }
      .sale .container .slide_1 ul li:nth-child(1) {
        width: 255px;
        color: #000000;
        font-weight: 400;
        font-size: 19px;
        margin-bottom: 35px; }
        .sale .container .slide_1 ul li:nth-child(1) span {
          color: #000000;
          font-size: 20px; }
    .sale .container .slide_1 .wrap {
      background: url(../img/opacity-mobile-sale.png) no-repeat center;
      height: 584px; }
      .sale .container .slide_1 .wrap .typewriter {
        display: none; }
      .sale .container .slide_1 .wrap .prise-sale {
        font-size: 48px !important; }
        .sale .container .slide_1 .wrap .prise-sale span {
          font-size: 48px !important; }
      .sale .container .slide_1 .wrap .links_wrap1 {
        margin-top: 0px;
        margin-left: 0px; }
        .sale .container .slide_1 .wrap .links_wrap1 a:nth-child(1) {
          width: 286px;
          height: 50px;
          display: block;
          margin: 0 auto;
          margin-top: 35px; }
        .sale .container .slide_1 .wrap .links_wrap1 a:nth-child(2) {
          display: block;
          margin-left: 20px;
          margin-top: 25px;
          width: 253px;
          padding-left: 30px;
          color: #C4C4C4;
          font-weight: 600; }
      .sale .container .slide_1 .wrap .mobile-headling {
        display: block;
        width: 291px;
        height: 76px;
        font-size: 28px;
        line-height: 37.8px;
        color: #000000;
        margin-left: 0px; }
      .sale .container .slide_1 .wrap ul li {
        width: auto; }
      .sale .container .slide_1 .wrap ul li:nth-child(2) {
        width: auto;
        font-size: 36px; }
        .sale .container .slide_1 .wrap ul li:nth-child(2) span {
          font-size: 30px;
          color: #000000; }

  .work .container .criteria_1 div:nth-child(1) {
    width: 320px; }
    .work .container .criteria_1 div:nth-child(1) .border-bottom {
      width: 320px; }
    .work .container .criteria_1 div:nth-child(1) p {
      width: 276px;
      margin-left: 25px; }
  .work .container .criteria_1 div:nth-child(2) {
    width: 320px; }
    .work .container .criteria_1 div:nth-child(2) .border-bottom {
      width: 320px; }
    .work .container .criteria_1 div:nth-child(2) p {
      width: 285px;
      margin-left: 25px; }
  .work .container .criteria_1 div:nth-child(3) {
    width: 320px; }
    .work .container .criteria_1 div:nth-child(3) .border-bottom {
      width: 320px; }
    .work .container .criteria_1 div:nth-child(3) p {
      width: 276px;
      margin-left: 25px; }
  .work .container .criteria_1 div:nth-child(4) {
    width: 320px; }
    .work .container .criteria_1 div:nth-child(4) .border-bottom {
      width: 320px; }
    .work .container .criteria_1 div:nth-child(4) p {
      width: 276px;
      margin-left: 25px; }
  .work .container .criteria_1 div:nth-child(5) {
    width: 320px; }
    .work .container .criteria_1 div:nth-child(5) .border-bottom {
      width: 320px; }
    .work .container .criteria_1 div:nth-child(5) p {
      width: 276px;
      margin-left: 25px; } }

/*# sourceMappingURL=media.css.map */
