// colors
$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;
$light-gray: #E5E5E5;
$bold-gray: #797979;

// font size

$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;


// font-weight 

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

@media all and (max-width:1400px) {
    .container {
        width: 960px;
        background-color: green;
    }

    // header

    .header {

        .container {

            h4 {
               font-size: $fz26 - 2;

               span {
                font-size: $fz26 - 2;
               }
            }

            ul {
               
                li {
                    margin-right: 30px;
                }
            }

            .tel {

                a:nth-child(2) {
                    font-size: $fz18 - 2;
                }
            }

            
        }
    }

    // hero

    .hero {

        .container {

            h1 {
                font-size: $fz48 - 12;
                width: 370px;
                margin-bottom: 20px;
            }

            p {
                font-size: $fz18 - 2;
                margin-bottom: 20px;
            }

            .hero-fone-mobile {
                width: 545px;
                height: 475px;

                img:nth-child(1) {
                    width: 500px;
                }
                img:nth-child(2) {
                    width: 230px;
                }
                img:nth-child(3) {
                    width: 310px;
                }
            }
        }
    }

    // slider_1

    .slider {

        .container {
            height: 900px;
            

            .carousel {
                height: 790px;
                background-color: orange;
            }

            .first-slide {
                    display: flex;
                    justify-content: none;
                    align-items: center;
                    flex-direction: column;
                    background-color: purple;

                    .quality {
                        

                        img {

                            left: 170px;
                        }
                    }

                    .prise {

                        img {
                            left: 170px;
                        }
                    }

                    .warranty {
                        
                        img {
                            left: 170px;
                        }
                    }
            }

            .second-slide {
                display: flex;
                justify-content: none;
                align-items: center;
                flex-direction: column;
                background-color: blue;

                .professional-staff {
                    
                    img {
                        left: 170px;
                    }
                }

                .special-equipment {

                    img {
                        left: 170px;
                    }
                }

                .direct-deliveries {

                    img {

                        left: 170px;
                    }
                }
            }

        }
    }

    // repair

    .repair {

        .container {

            .blocks {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    // brands

    .brands {

        .container {


            .all-brands {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .mobile_brands_block_one {
                    width: 220px;
                    height: auto;
                    flex-direction: column;
                    margin-bottom: 0px;

                    .xiaomi {
                        margin-bottom: 30px;

                    }

                    .apple {
                        margin-bottom: 30px;

                    }

                    .huawei {
                        margin-bottom: 30px;

                    }

                    .honor {
                        margin-bottom: 30px;
                    }

                    .meizu {
                        margin-bottom: 30px;
                    }
                }
                .mobile_brands_block_two {
                    width: 220px;
                    height: auto;
                    flex-direction: column;


                    .samsung {
                        margin-bottom: 30px;

                    }

                    .nokia {
                        margin-bottom: 30px;

                    }

                    .lenovo {
                        margin-bottom: 30px;

                    }

                    .sony {
                        margin-bottom: 30px;

                    }

                    .asus {
                        margin-bottom: 30px;
                    }

                }
            }
        }
    }

    // video

    .video {


        .container {

            .play-video {

                width: 960px;
            }
        }
    }

    // opinion

    .opinion {

        .container {
            height: 900px;


            .carousel {
                height: 790px;
                background-color: orange;

                .slide1 {
                        height: auto;
                        flex-direction: column;
                        align-items: center;
                }

                .slide2 {
                    height: auto;
                    flex-direction: column;
                    align-items: center;
                }
            }

        }
    }

    // .reviews 


    .reviews {

        .container {

            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            background: url(../img/yandex1.png) no-repeat 40% 30%, url(../img/google1.png) no-repeat 50% 60%, url(../img/2gis.png) no-repeat 60% 30%, url(../img/yell.png) no-repeat 50% 5%;
            background-color: green;

            a {
                margin-bottom: 30px;
            }

            a:nth-child(2) {
                align-self: end;
            }

            a:nth-child(3) {
                align-self: flex-start;
            }

            a:nth-child(4) {
                align-self: end;
            }
            
            a:nth-child(5) {
                align-self: flex-start;
            }
        }
    }

    // sale

    .sale {

        .container {

            .slide_1 {

                .wrap {
                    background-size: 60%;

                    h2 {
                        color: $bold-pink;
                    }

                    ul {

                        li {
                            color: $bold-pink;

                            span {
                                color: $bold-pink;
                            }
                        }
                    }

                    .links_wrap1 {
                        display: block;

                        a {
                            display: block;
                            margin-bottom: 15px;
                        }

                        a:nth-child(2) {
                            color: $bold-pink;
                        }
                    }
                }
            }
        }
    }

    // master

    .master {

        .container {


            .form {
                width: 944px;
            }
        }
    }
    

    // work

    .work {

        .container {

            .criteria_1 {
                width: auto;
                height: auto;
                justify-content: space-evenly;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 0.1px;

                
                

                div:nth-child(3) {
                    margin-top: 30px;
                }
            }

            .criteria_2 {
                width: auto;
                height: auto;
                justify-content: space-evenly;
                flex-wrap: wrap;

                div:nth-child(1) {
                    background: url(../img/blue-line.png) no-repeat 42.7%;
                    .border-right {
                        display: none;
                    }
                }

                div:nth-child(2) {
                    margin-top: 30px;
                    background: url(../img/blue-line.png) no-repeat 42.7%;
                    
                    .border-right {
                    display: none;
                    }
                }
                    
            }
        }
    }


    // our service center

    .our_service_center {

        .container {

            height: 1060px;
            

            .carousel {
                height: 900px;
                background-color: orange;


                .carousel-indicators {
                    top: 860px;

                    
                }
            }
                        .picture-slides {
                            display: flex;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                        }
        }
    }


    // courier 


    .courier {

        .container {

            .call-up {
                width: 960px;
            }
        }
    }

    // contacts


    .contacts {

        .container {

            .contacts-information {
                width: auto;
            }

            .map {
                width: auto;

                #union1 {
                    left: 220px;
                }

                #union2 {
                    left: 425px;
                }

                #union3 {
                    left: 285px;
                }

                #union4 {
                    left: 510px;
                    top: 100px;
                }

                #union5 {
                    left: 140px;
                }

                #union6 {
                    left: 365px;
                }

                #union7 {
                    left: 562px;
                    top: 260px;
                }

                #union8 {
                    left: 190px;
                    top: 310px;
                    
                }

                #union9 {
                    left: 380px;
                    top: 345px;
                }

                #union10 {
                    left: 30px;
                }

                #union11 {
                    left: 320px;
                }
            }
        }
    }

    // footer 

    .footer {

        .container {

            .wrap_footer {
                flex-direction: column;
                align-items: center;
                

                .arrive {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .company {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .repair-brands {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }
            }

            .end_footer {
                width: auto;
            }
        }
    }
}

@media all and (max-width:992px) {
    .container {
        width: 560px;
    }

    // header

    .header {

        .container {
            padding: 0.1px;
            ul {
            
                    li {
                        display: none;
                    }
                }
            
                img {
                    display: block;
                    margin-left: 300px;
                }

                .tel {
                    display: none;
                }
        }
    }

    // hero 

    .hero {

        .container {
             flex-direction: column;
             align-items: center;

            h1 {
                font-size: $fz26;
                width: 300px;
                
            }

            p {
                font-size: $fz15;
                width: 250px;
                height: auto;
            }

            .hero-fone-mobile {
                animation: none;
                width: 430px;
                margin-top: 50px;

                img:nth-child(1) {
                    width: 400px;
                }
                img:nth-child(2) {
                    width: 130px;
                }
                img:nth-child(3) {
                    width: 190px;
                }

             
            }
        }
    }

    // repair {

    .repair {

        .container {

            .left__blocks {
                width: auto;

                .display {
                    width: 560px;
                }

                .dinamics {
                    width: 560px;
                }

                .buttons {
                    width: 560px;
                }

                .net {
                    width: 560px;
                }
            }


            .right__blocks {
                width: auto;


                .battery {
                    width: 560px;
                }

                .camera {
                    width: 560px;
                }
                
                .speaker {
                    width: 560px;
                }

                .other-problems {
                    width: 560px;
                }
            }
        }
    }


    // video

    .video {

        .container {

            .play-video {
                width: 560px;
                height: auto;
            }
        }
    }

    // sale 


    .sale {

        .container {

            .slide_1 {
                height: 500px;
                padding: 0.1px;

                ul {
                    flex-direction: column;
                    width: auto;

                    li {
                        width: auto;
                    }
                }

                .wrap {
                    padding: 0.1px;
                    height: 500px;
                    background-size: 80%;

                    ul {

                        li:nth-child(2) {
                            width: 400px;
                        }
                    }


                    .typewriter {
                        width: 420px;
                        font-size: $fz24 - 2;
                    }

                    @keyframes typewriter {
                        from{width: 0;}
                        to{width: 420px;}
                        }  
                        
                    .links_wrap1 {
                        margin-top: 100px;
                        width: auto;
                    }
                }
            }
        }
    }

    // master

    .master {

        .container {
            height: 600px;
            

            .form {
                width: auto;
                height: 500px;
                background: none;

                .about-form {
                    width: auto;
                    height: auto;
                    flex-direction: column;


                    .information-form {

                        ul {

                            li {
                                width: 200px;
                            }
                        }
                    }

                    .block-form {

                        h6 {
                           width: 200px;
                        }
                    }
                }
            }


        }
    }

    // work


    .work {

        .container {

            .criteria_1 {

                div:nth-child(1) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    // our service center 

    .our_service_center {

        .container {
            height: 1250px;


            .carousel {
                height: 1050px;

                .carousel-indicators {
                    top: 1000px;
                }
            }

            
        }
    }

    // courier 


    .courier {

        .container {
            height: 500px;

            .call-up {
                width: auto;
                background: none;
                flex-direction: column;
                height: 400px;
            }
        }
    }


    // contacts

    .contacts {

        .container {

            .contacts-information {


                .contact-list-1 {
                    width: auto;
                    padding-right: 10px;

                    ul:nth-child(1) {

                        li:nth-child(1){
                        font-size: $fz15 - 1;
                    }
                    li:nth-child(2) {
                        font-size: $fz18 - 3;
                        
                    }
                    }

                    
                }

                .contact-list-2 {
                    width: auto;

                    ul {

                        li:nth-child(2) {
                            font-size: $fz18 - 2;

                        }
                    }
                }

               .contact-list-3 {
                ul:nth-child(1) {
                
                        li:nth-child(1) {
                            font-size: $fz18 - 2;
                        }
                
                        li:nth-child(2) {
                            font-size: $fz18 - 2;
                
                        }
                        li:nth-child(3) {
                            font-size: $fz18 - 2;
                
                        }
                    }

               
               }
            }

            .map {

                #union1 {
                    left: 30px;
                }

                #union2 {
                    left: 225px;
                }

                #union3 {
                    left: 95px;
                }

                #union4 {
                    left: 310px;
                }

                #union5 {
                    left: 0px;
                }

                #union6 {
                    left: 175px;
                }

                #union7 {
                    left: 362px;
                }

                #union8 {
                    left: 0px;
                }

                #union9 {
                    left: 180px;
                }

                #union10 {
                    left: 0px;
                }

                #union11 {
                    left: 180px;
                }
            }
        }
    }

    // footer

    .footer {

        .container {

            .wrap_footer {
                .arrive {
                    width: auto;

                    h6 {
                        width: 200px;
                    }

                    p {
                        font-size: $fz15 - 1;
                        width: 500px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 580px) {
    .container {
       width: 480px;
    }
    // header

    .header {

        .container {

            img {
                margin-left: 200px;
            }
        }
    }

    // hero 

    .hero {

        .container {
            height: 597px;
            background: url(../img/fone-header-mobile.png) no-repeat right;
            align-items: flex-start;
            flex-direction: column;

            .hero-fone-mobile {
                display: none;
            }

            h1 {
                font-size: $fz48;
                height: auto;
                width: 270px;
            }

            .relative {
                height: 376px;
                display: flex;
                flex-direction: column;
            }
        }
    }

    // video

    .video {
        
        .container {

            .play-video {
                width: 460px;
            }
        }
    }
}