$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;
$light-gray: #E5E5E5;
$bold-gray: #797979;
$blue: #0085FF;
$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;
@media all and (max-width:1280px) {
    .container {
        width: 960px;
        background-color: green;
    }

    .header {
        .container {
            h4 {
               font-size: $fz26 - 2;
               span {
                font-size: $fz26 - 2;
               }
            }
            ul {
                li {
                 margin-right: 30px;
                }
            }

            .tel {
                a:nth-child(2) {
                font-size: $fz18 - 2;
                }
            } 
        }
    }
    .footer {

        .container {

            .wrap_footer {
                flex-direction: column;
                align-items: center;
                

                .arrive {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .company {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }

                .repair-brands {
                    border-right: none;
                    border-bottom: 2px solid $light-blue;
                }
            }

            .end_footer {
                width: auto;
            }
        }
    }
    .change-display2 {
        .container {

            div:nth-child(1) {
                width: 480px;
                margin-right: 30px;
                

                h2 {
                    margin-left: 10px;
                }

                ul {
                    margin-left: 10px;
                }
                .take-sale {
                    margin-left: 10px;
                }
            }
            div:nth-child(2) {
                width: 480px;
                

                 h2 {
                    margin-left: 10px;
                }

                ul {
                    margin-left: 10px;
                }
                .take-sale {
                    margin-left: 10px;
                }
            }
        }
    }
    .change-display3 {
        .container {
            .descr {
                background: url(../img/changedisplay4.png) no-repeat 150% bottom;
            }
        }
    }
    .repair-now {
        .container {
            .wrap-repair-now{
                background-position: 60% 65%;
            }
        }
    }
}
@media all and (max-width:992px) {
    .container {
        width: 560px;
    }
     .header {

        .container {
            position: relative;
            .menu{
                position: absolute;
                display: block;
                left: 480px;
            }
            ul{
                display: none;
            }

            .tel {
                display: none;
            }
        }
    }
}