@media all and (max-width: 1280px) {
  .container {
    width: 960px; }

  .header .container h4 {
    font-size: 24px; }
    .header .container h4 span {
      font-size: 24px; }
  .header .container ul li {
    margin-right: 30px; }
  .header .container .tel a:nth-child(2) {
    font-size: 16px; }

  .footer .container .wrap_footer {
    flex-direction: column;
    align-items: center; }
    .footer .container .wrap_footer .arrive {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .company {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
    .footer .container .wrap_footer .repair-brands {
      border-right: none;
      border-bottom: 2px solid #BFE0FF; }
  .footer .container .end_footer {
    width: auto; }

  .change-display2 .container div:nth-child(1) {
    width: 480px;
    margin-right: 30px; }
    .change-display2 .container div:nth-child(1) h2 {
      margin-left: 10px; }
    .change-display2 .container div:nth-child(1) ul {
      margin-left: 10px; }
    .change-display2 .container div:nth-child(1) .take-sale {
      margin-left: 10px; }
  .change-display2 .container div:nth-child(2) {
    width: 480px; }
    .change-display2 .container div:nth-child(2) h2 {
      margin-left: 10px; }
    .change-display2 .container div:nth-child(2) ul {
      margin-left: 10px; }
    .change-display2 .container div:nth-child(2) .take-sale {
      margin-left: 10px; }

  .change-display3 .container .descr {
    background: url(../img/changedisplay4.png) no-repeat 150% bottom; }

  .repair-now .container .wrap-repair-now {
    background-position: 60% 65%; } }
@media all and (max-width: 992px) {
  .container {
    width: 560px; }

  .wrap {
    position: relative; }

  .header .container .menu {
    display: block; }
  .header .container ul {
    display: none; }
  .header .container .tel {
    display: none; }

  .change-display1 .container .description-one {
    background-size: 60%;
    background-position: 0% 120%; }
    .change-display1 .container .description-one .first-mobile {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .change-display1 .container .description-one .first-mobile h2 {
        display: none; }
      .change-display1 .container .description-one .first-mobile h3 {
        display: block; }

  .change-display2 .container {
    flex-direction: column;
    align-items: center; }
    .change-display2 .container div:nth-child(1) {
      margin-right: 0px;
      margin-bottom: 30px; }

  .change-display3 .container .descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none; }
    .change-display3 .container .descr h2 {
      display: none; }
    .change-display3 .container .descr h3 {
      display: block;
      width: 440px; }

  .footer {
    display: none; }

  .footer-mobile {
    padding-top: 82px;
    display: block; }
    .footer-mobile .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer-mobile .container .footer-mobile-block-one {
        height: 314px;
        padding: 0.1px;
        border-bottom: 2px solid #BFE0FF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px; }
        .footer-mobile .container .footer-mobile-block-one h5 {
          font-weight: 400;
          color: #000000;
          font-size: 26px;
          line-height: 31.69px;
          margin-bottom: 10px;
          margin-left: 0px; }
          .footer-mobile .container .footer-mobile-block-one h5 span {
            color: #ff005c;
            line-height: 31.69px;
            font-size: 26px;
            font-weight: 800; }
        .footer-mobile .container .footer-mobile-block-one .p-one {
          color: #C4C4C4;
          font-weight: 400;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-one .p-two {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 00px; }
        .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile {
          padding: 0.1px;
          width: 100%;
          display: flex;
          height: auto; }
          .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-one .lists-footer-mobile li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-two {
        width: 320px;
        padding-top: 30px;
        border-bottom: 2px solid #BFE0FF; }
        .footer-mobile .container .footer-mobile-block-two p {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.94px;
          margin-bottom: 30px;
          color: #000000;
          margin-left: 0px; }
        .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile {
          display: flex;
          width: 70%;
          justify-content: space-between; }
          .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li {
            margin-bottom: 25px; }
            .footer-mobile .container .footer-mobile-block-two .lists2-footer-mobile ul li a {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
              line-height: 20.25px; }
      .footer-mobile .container .footer-mobile-block-three {
        width: 320px;
        padding-top: 30px;
        padding-bottom: 20px; }
        .footer-mobile .container .footer-mobile-block-three h6 {
          color: #000000;
          font-size: 18px;
          line-height: 24.3px;
          font-weight: 700;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three {
          margin-bottom: 30px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(1) {
            line-height: 29.7px;
            color: #ff005c;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px; }
          .footer-mobile .container .footer-mobile-block-three .first-list-footer-mobile-block-three li:nth-child(2) {
            color: #C4C4C4;
            font-weight: 500;
            line-height: 29.7px;
            font-size: 18px; }
        .footer-mobile .container .footer-mobile-block-three p {
          line-height: 24.75px;
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 30px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(1) {
          font-family: 15px;
          line-height: 20.25px;
          color: #C4C4C4;
          font-weight: 500;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(2) {
          font-size: 18px;
          color: #ff005c;
          font-weight: 600;
          line-height: 29.7px;
          margin-bottom: 5px; }
        .footer-mobile .container .footer-mobile-block-three .second-list-footer-mobile-block-three li:nth-child(3) {
          font-family: 15px;
          line-height: 20.25px;
          color: #000000;
          font-weight: 500;
          margin-bottom: 5px; }
      .footer-mobile .container .end-p {
        color: #C4C4C4;
        line-height: 18.29px;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 14px;
        margin-top: 14px; }

  .repair-now .container .wrap-repair-now {
    flex-direction: column;
    align-items: center;
    background: none; }
    .repair-now .container .wrap-repair-now div:nth-child(1) {
      margin-left: 90px;
      margin-bottom: 30px; }
    .repair-now .container .wrap-repair-now div:nth-child(2) .thanks {
      left: -85px;
      top: 230px;
      width: 550px; } }
@media all and (max-width: 560px) {
  .container {
    width: 320px; }

  .header .container .nav-header {
    width: 100%; }

  .change-display1 .container .description-one {
    align-items: flex-start;
    height: 646px;
    background: url(../img/ds3-mobile.png) no-repeat bottom; }
    .change-display1 .container .description-one .first-mobile {
      margin-left: 0px; }
      .change-display1 .container .description-one .first-mobile h3 {
        font-size: 28px;
        color: #000000;
        line-height: 37.8px;
        width: 291px;
        height: 76px; }
      .change-display1 .container .description-one .first-mobile ul {
        width: 320px;
        height: 92px; }
        .change-display1 .container .description-one .first-mobile ul li a {
          line-height: 45.6px;
          font-size: 23px; }
      .change-display1 .container .description-one .first-mobile p {
        font-size: 60px; }

  .change-display2 .container {
    height: 1172px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .change-display2 .container div:nth-child(1) {
      width: 320px;
      background: none;
      background: url(../img/ds1-mobile.png) no-repeat right; }
      .change-display2 .container div:nth-child(1) h2 {
        width: 291px;
        height: 76px;
        font-size: 28px;
        line-height: 37.8px; }
    .change-display2 .container div:nth-child(2) {
      width: 320px;
      background: none;
      background: url(../img/ds2-mobile.png) no-repeat 110% 50%; }
      .change-display2 .container div:nth-child(2) h2 {
        width: 291px;
        height: 76px;
        font-size: 28px;
        line-height: 37.8px; }

  .change-display3 .container .descr h3 {
    width: 291px;
    height: 76px;
    font-size: 28px;
    line-height: 37.8px; }
  .change-display3 .container .descr ul {
    margin-top: 10px;
    margin-left: 10px; }
    .change-display3 .container .descr ul li a {
      font-size: 22px; }

  .repair-now .container .wrap-repair-now {
    background: url(../img/fone-r-mobile.png) no-repeat center;
    height: 860px; }
    .repair-now .container .wrap-repair-now div:nth-child(1) {
      width: 320px;
      margin-left: 0px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) p {
        width: 320px; }
    .repair-now .container .wrap-repair-now div:nth-child(2) .thanks {
      width: 311px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks h5 {
        font-size: 18px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks p {
        font-size: 14px;
        line-height: 29.7px;
        color: #000000;
        font-weight: 700;
        width: auto;
        margin-left: 30px; } }

/*# sourceMappingURL=media-sale.css.map */
