// colors
$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;
$light-gray: #E5E5E5;
$bold-gray: #797979;

// font size

$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;


// font-weight 

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

@media all and (max-width:1400px) {
    .container {
        width: 960px;
        background-color: green;
    }

    // header

    .header {

        .container {

            h4 {
               font-size: $fz26 - 2;

               span {
                font-size: $fz26 - 2;
               }
            }

            ul {
               
                li {
                    margin-right: 30px;
                }
            }

            .tel {

                a:nth-child(2) {
                    font-size: $fz18 - 2;
                }
            }

            
        }
    }

    // hero

    .hero {

        .container {

            h1 {
                font-size: $fz48 - 12;
                width: 370px;
                margin-bottom: 20px;
            }

            p {
                font-size: $fz18 - 2;
                margin-bottom: 20px;
            }

            .hero-fone-mobile {
                width: 545px;
                height: 475px;

                img:nth-child(1) {
                    width: 500px;
                }
                img:nth-child(2) {
                    width: 230px;
                }
                img:nth-child(3) {
                    width: 310px;
                }
            }
        }
    }

    // slider_1

    .slider {

        .container {
            height: 900px;
            

            .carousel {
                height: 790px;
                background-color: orange;
            }

            .first-slide {
                    display: flex;
                    justify-content: none;
                    align-items: center;
                    flex-direction: column;
                    background-color: purple;

                    .quality {
                        

                        img {

                            left: 170px;
                        }
                    }

                    .prise {

                        img {
                            left: 170px;
                        }
                    }

                    .warranty {
                        
                        img {
                            left: 170px;
                        }
                    }
            }

            .second-slide {
                display: flex;
                justify-content: none;
                align-items: center;
                flex-direction: column;
                background-color: blue;

                .professional-staff {
                    
                    img {
                        left: 170px;
                    }
                }

                .special-equipment {

                    img {
                        left: 170px;
                    }
                }

                .direct-deliveries {

                    img {

                        left: 170px;
                    }
                }
            }

        }
    }

    // repair

    .repair {

        .container {

            .blocks {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    // brands

    .brands {

        .container {


            .all-brands {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .mobile_brands_block_one {
                    width: 220px;
                    height: auto;
                    flex-direction: column;
                    margin-bottom: 0px;

                    .xiaomi {
                        margin-bottom: 30px;

                    }

                    .apple {
                        margin-bottom: 30px;

                    }

                    .huawei {
                        margin-bottom: 30px;

                    }

                    .honor {
                        margin-bottom: 30px;
                    }

                    .meizu {
                        margin-bottom: 30px;
                    }
                }
                .mobile_brands_block_two {
                    width: 220px;
                    height: auto;
                    flex-direction: column;


                    .samsung {
                        margin-bottom: 30px;

                    }

                    .nokia {
                        margin-bottom: 30px;

                    }

                    .lenovo {
                        margin-bottom: 30px;

                    }

                    .sony {
                        margin-bottom: 30px;

                    }

                    .asus {
                        margin-bottom: 30px;
                    }

                }
            }
        }
    }

    // video

    .video {


        .container {

            .play-video {

                width: 960px;
            }
        }
    }

    // opinion

    .opinion {

        .container {
            height: 900px;


            .carousel {
                height: 790px;
                background-color: orange;

                .slide1 {
                        height: auto;
                        flex-direction: column;
                        align-items: center;
                }

                .slide2 {
                    height: auto;
                    flex-direction: column;
                    align-items: center;
                }
            }

        }
    }

    // .reviews 


    .reviews {

        .container {

            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            background: url(../img/yandex1.png) no-repeat 40% 30%, url(../img/google1.png) no-repeat 50% 60%, url(../img/2gis.png) no-repeat 60% 30%, url(../img/yell.png) no-repeat 50% 5%;
            background-color: green;

            a {
                margin-bottom: 30px;
            }

            a:nth-child(2) {
                align-self: end;
            }

            a:nth-child(3) {
                align-self: flex-start;
            }

            a:nth-child(4) {
                align-self: end;
            }
            
            a:nth-child(5) {
                align-self: flex-start;
            }
        }
    }

    // sale

    .sale {

        .container {

            .slide_1 {

                .wrap {
                    background-size: 60%;

                    h2 {
                        color: $bold-pink;
                    }

                    ul {

                        li {
                            color: $bold-pink;

                            span {
                                color: $bold-pink;
                            }
                        }
                    }

                    .links_wrap1 {
                        display: block;

                        a {
                            display: block;
                            margin-bottom: 15px;
                        }

                        a:nth-child(2) {
                            color: $bold-pink;
                        }
                    }
                }
            }
        }
    }

    // master

    .master {

        .container {


            .form {
                width: 944px;
            }
        }
    }
    

    // work

    .work {

        .container {

            .criteria_1 {
                width: auto;
                height: auto;
                justify-content: space-evenly;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 0.1px;

                
                

                div:nth-child(3) {
                    margin-top: 30px;
                }
            }

            .criteria_2 {
                width: auto;
                height: auto;
                justify-content: space-evenly;
                flex-wrap: wrap;

                div:nth-child(1) {
                    background: url(../img/blue-line.png) no-repeat 42.7%;
                    .border-right {
                        display: none;
                    }
                }

                div:nth-child(2) {
                    margin-top: 30px;
                    background: url(../img/blue-line.png) no-repeat 42.7%;
                    
                    .border-right {
                    display: none;
                    }
                }
                    
            }
        }
    }


    // our service center

    .our_service_center {

        .container {

            height: 1060px;
            

            .carousel {
                height: 900px;
                background-color: orange;


                .carousel-indicators {
                    top: 860px;

                    
                }
            }
                        .picture-slides {
                            display: flex;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                        }
        }
    }


    // courier 


    .courier {

        .container {

            
        }
    }
}