* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

h2 {
  width: 683px;
  height: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48.6px;
  color: #000000;
  text-transform: uppercase; }

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 37.8px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px; }

.container {
  width: 1224px;
  margin: 0 auto; }

.header {
  height: 80px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; }
    .header .container h4 {
      font-size: 26px;
      font-weight: 300;
      color: #000000;
      line-height: 31.69px; }
      .header .container h4 span {
        color: #ff005c;
        font-size: 26px;
        font-weight: 800;
        line-height: 31.69px;
        text-transform: uppercase; }
    .header .container .menu {
      width: 20px;
      height: 20px;
      display: none; }
    .header .container .nav-header {
      display: none;
      width: 320px;
      background-color: #fff;
      height: auto;
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0px;
      animation: nav-header 0.4s linear;
      padding-left: 20px;
      padding-bottom: 25px; }
@keyframes nav-header {
  from {
    right: -100px; }
  to {
    right: 0px; } }
      .header .container .nav-header .interior-modal {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        padding: 0.1px;
        padding-top: 24px; }
        .header .container .nav-header .interior-modal a {
          width: 100%;
          color: #000000;
          font-size: 15px;
          line-height: 18.29px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 25px; }
        .header .container .nav-header .interior-modal h6 {
          font-size: 26px;
          font-weight: 300;
          color: #000000;
          line-height: 31.69px;
          margin-bottom: 74px; }
          .header .container .nav-header .interior-modal h6 span {
            color: #ff005c;
            font-size: 26px;
            font-weight: 800;
            line-height: 31.69px;
            text-transform: uppercase; }
        .header .container .nav-header .interior-modal p {
          color: #000000;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.3px;
          margin-bottom: 30px; }
        .header .container .nav-header .interior-modal .modal-list1 {
          display: block;
          margin-bottom: 25px; }
          .header .container .nav-header .interior-modal .modal-list1 li:nth-child(1) {
            color: #ff005c;
            font-size: 18px;
            font-weight: 600;
            line-height: 29.7px; }
          .header .container .nav-header .interior-modal .modal-list1 li:nth-child(2) {
            line-height: 29.7px;
            font-size: 15px;
            color: #C4C4C4;
            font-weight: 400; }
        .header .container .nav-header .interior-modal .modal-list2 {
          display: block; }
          .header .container .nav-header .interior-modal .modal-list2 li:nth-child(1) {
            line-height: 20.25px;
            color: #C4C4C4;
            font-weight: 500;
            margin-bottom: 5px;
            font-size: 15px; }
          .header .container .nav-header .interior-modal .modal-list2 li:nth-child(2) {
            font-size: 18px;
            color: #ff005c;
            font-weight: 600;
            line-height: 29.7px;
            margin-bottom: 5px; }
          .header .container .nav-header .interior-modal .modal-list2 li:nth-child(3) {
            color: #000000;
            font-weight: 500; }
        .header .container .nav-header .interior-modal button {
          padding-left: 48px;
          padding-right: 48px;
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #ff005c;
          color: #fff;
          font-weight: 700;
          line-height: 18.29px;
          font-size: 15px;
          border: 1px solid #ff005c;
          display: block;
          margin-top: 50px; }
        .header .container .nav-header .interior-modal #close-modal-header {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 40px;
          height: 40px;
          border: 2px solid #000000;
          border-radius: 50px;
          background-color: lightpink; }
    .header .container ul {
      display: flex; }
      .header .container ul li {
        margin-right: 50px; }
        .header .container ul li a {
          font-size: 15px;
          color: #000000;
          font-weight: 500;
          line-height: 31.69px; }
        .header .container ul li a:hover {
          color: #ff005c;
          font-weight: 500; }
      .header .container ul li:hover {
        animation: link 2s ease-in-out 0s normal none infinite running; }
@keyframes link {
  0%,
                50%,
                100% {
    transform: rotate(0deg); }
  10%,
                30% {
    transform: rotate(-5deg); }
  20%,
                40% {
    transform: rotate(5deg); } }
    .header .container div.tel a {
      font-size: 18px;
      font-weight: 700;
      line-height: 21.94px;
      color: #000000; }

.news {
  padding-top: 100px; }
  .news .container {
    width: 1224px;
    height: 560px;
    position: relative; }
    .news .container .slider {
      width: 1224px;
      height: 407px;
      overflow: hidden;
      padding: 0.1px;
      position: relative; }
      .news .container .slider .slider-line {
        width: 1110px;
        height: 407px;
        display: flex;
        position: relative;
        padding: 0.1px;
        transition: all ease 1s; }
        .news .container .slider .slider-line .first-slide {
          display: flex;
          justify-content: space-between;
          width: 1224px;
          height: auto;
          padding: 0.1px; }
          .news .container .slider .slider-line .first-slide div {
            width: 370px;
            height: 407px;
            margin-left: 30px;
            margin-right: 30px;
            padding: 0.1px;
            padding-top: 255px;
            padding-left: 26px;
            padding-bottom: 34px; }
          .news .container .slider .slider-line .first-slide div:nth-child(1) {
            background: url(../img/xiaomi-bg.png) no-repeat 50% 10%;
            background-size: 70%; }
            .news .container .slider .slider-line .first-slide div:nth-child(1) p {
              width: 282px;
              height: 72px;
              margin-bottom: 28px;
              line-height: 24.3px;
              font-weight: 700;
              font-size: 18px;
              color: #000000; }
            .news .container .slider .slider-line .first-slide div:nth-child(1) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .first-slide div:nth-child(1) a:after {
              content: '>';
              margin-left: 10px; }
          .news .container .slider .slider-line .first-slide div:nth-child(2) {
            background: url(../img/low.png) no-repeat 50% 10%;
            background-size: 90%; }
            .news .container .slider .slider-line .first-slide div:nth-child(2) p {
              width: 220px;
              height: 72px;
              font-size: 18px;
              color: #000000;
              font-weight: 700;
              line-height: 24.3px;
              margin-bottom: 28px; }
            .news .container .slider .slider-line .first-slide div:nth-child(2) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .first-slide div:nth-child(2) a:after {
              content: '>';
              margin-left: 10px; }
          .news .container .slider .slider-line .first-slide div:nth-child(3) {
            background: url(../img/new-s.png) no-repeat 50% 10%;
            background-size: 111%; }
            .news .container .slider .slider-line .first-slide div:nth-child(3) p {
              width: 292px;
              height: 72px;
              color: #000000;
              line-height: 24.3px;
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 26px; }
            .news .container .slider .slider-line .first-slide div:nth-child(3) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .first-slide div:nth-child(3) a:after {
              content: '>';
              margin-left: 10px; }
        .news .container .slider .slider-line .second-slide {
          display: flex;
          justify-content: space-between;
          width: 1224px;
          padding: 0.1px; }
          .news .container .slider .slider-line .second-slide div {
            width: 370px;
            height: 407px;
            margin-left: 30px;
            margin-right: 30px;
            padding: 0.1px;
            padding-top: 255px;
            padding-left: 26px;
            padding-bottom: 34px; }
          .news .container .slider .slider-line .second-slide div:nth-child(1) {
            background: url(../img/xiaomi-bg.png) no-repeat 50% 10%;
            background-size: 70%; }
            .news .container .slider .slider-line .second-slide div:nth-child(1) p {
              width: 282px;
              height: 72px;
              margin-bottom: 28px;
              line-height: 24.3px;
              font-weight: 700;
              font-size: 18px;
              color: #000000; }
            .news .container .slider .slider-line .second-slide div:nth-child(1) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .second-slide div:nth-child(1) a:after {
              content: '>';
              margin-left: 10px; }
          .news .container .slider .slider-line .second-slide div:nth-child(2) {
            background: url(../img/low.png) no-repeat 50% 10%;
            background-size: 90%; }
            .news .container .slider .slider-line .second-slide div:nth-child(2) p {
              width: 220px;
              height: 72px;
              font-size: 18px;
              color: #000000;
              font-weight: 700;
              line-height: 24.3px;
              margin-bottom: 28px; }
            .news .container .slider .slider-line .second-slide div:nth-child(2) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .second-slide div:nth-child(2) a:after {
              content: '>';
              margin-left: 10px; }
          .news .container .slider .slider-line .second-slide div:nth-child(3) {
            background: url(../img/new-s.png) no-repeat 50% 10%;
            background-size: 111%; }
            .news .container .slider .slider-line .second-slide div:nth-child(3) p {
              width: 292px;
              height: 72px;
              color: #000000;
              line-height: 24.3px;
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 26px; }
            .news .container .slider .slider-line .second-slide div:nth-child(3) a {
              color: #C4C4C4;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.29px; }
            .news .container .slider .slider-line .second-slide div:nth-child(3) a:after {
              content: '>';
              margin-left: 10px; }
    .news .container .prev {
      width: 20px;
      height: 20px;
      background-color: #C4C4C4;
      border: none;
      border-radius: 50px;
      position: absolute;
      left: 580px;
      top: 520px; }
    .news .container button:active {
      background-color: #ff005c; }
    .news .container button:hover {
      background-color: #ff005c; }
    .news .container .next {
      width: 20px;
      height: 20px;
      border: none;
      background-color: #C4C4C4;
      border-radius: 50px;
      position: absolute;
      left: 620px;
      top: 520px; }

.repair-now {
  padding-top: 100px; }
  .repair-now .container .wrap-repair-now {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 52px;
    padding-right: 52px;
    -webkit-box-shadow: 0px 0px 37px -9px #bfe0ff;
    -moz-box-shadow: 0px 0px 37px -9px #bfe0ff;
    box-shadow: 0px 0px 37px -9px #bfe0ff;
    background: url(../img/brokendisplay.png) no-repeat center;
    position: relative; }
    .repair-now .container .wrap-repair-now div:nth-child(1) {
      height: 249px;
      width: 390px;
      padding: 0.1px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) h4 {
        line-height: 24.3px;
        font-size: 18px;
        color: #000000;
        font-weight: 700;
        margin-bottom: 30px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) p {
        width: 390px;
        height: 75px;
        font-size: 15px;
        color: #000000;
        font-weight: 500;
        margin-bottom: 20px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) ul li:nth-child(1) {
        color: #ff005c;
        line-height: 29.7px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px; }
      .repair-now .container .wrap-repair-now div:nth-child(1) ul li:nth-child(2) {
        font-weight: 500;
        font-size: 15px;
        color: #000000;
        line-height: 24.75px;
        width: 228px;
        height: 75px; }
    .repair-now .container .wrap-repair-now div:nth-child(2) {
      height: 254px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .repair-now .container .wrap-repair-now div:nth-child(2) input {
        width: 300px;
        height: 50px;
        border: 1px solid #E5E5E5;
        padding-left: 20px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) ::placeholder {
        color: #C4C4C4;
        font-weight: 500;
        font-size: 15px;
        line-height: 20.25px; }
      .repair-now .container .wrap-repair-now div:nth-child(2) button {
        width: 300px;
        height: 50px;
        border: 1px solid #ff005c;
        background-color: #ff005c;
        line-height: 20.25px;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        cursor: pointer; }
      .repair-now .container .wrap-repair-now div:nth-child(2) .thanks {
        position: absolute;
        width: 560px;
        height: 198px;
        left: 340px;
        display: none; }
        .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks {
          width: 100%;
          height: 100%;
          background-color: lightcoral;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border: 1px solid #fff;
          -webkit-box-shadow: 0px 0px 37px -9px #bfe0ff;
          -moz-box-shadow: 0px 0px 37px -9px #bfe0ff;
          box-shadow: 0px 0px 37px -9px #bfe0ff;
          position: relative; }
          .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks h5 {
            font-size: 28px;
            line-height: 37.8px;
            color: #000000;
            font-weight: 700;
            text-transform: uppercase; }
          .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks p {
            font-size: 18px;
            line-height: 29.7px;
            color: #000000;
            font-weight: 700;
            width: 403px; }
          .repair-now .container .wrap-repair-now div:nth-child(2) .thanks .wrap-thanks img {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer; }
  .repair-now .container .wrap-repair-now:hover {
    transform: scale(1.06);
    transition: 2s; }

.footer {
  padding-top: 152px; }
  .footer .container {
    padding: 0.1px; }
    .footer .container .wrap_footer {
      padding: 0.1px;
      display: flex;
      justify-content: space-between; }
      .footer .container .wrap_footer .arrive {
        padding: 0.1px;
        width: 611px;
        border-right: 2px solid #BFE0FF; }
        .footer .container .wrap_footer .arrive ul:nth-child(1) {
          width: 425px;
          height: 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px; }
          .footer .container .wrap_footer .arrive ul:nth-child(1) li:nth-child(1) {
            font-size: 26px;
            font-weight: 300;
            color: #000000;
            line-height: 31.69px; }
            .footer .container .wrap_footer .arrive ul:nth-child(1) li:nth-child(1) span {
              color: #ff005c;
              font-size: 26px;
              font-weight: 800;
              line-height: 31.69px;
              text-transform: uppercase; }
          .footer .container .wrap_footer .arrive ul:nth-child(1) li:nth-child(2) {
            color: #C4C4C4;
            line-height: 21.94px;
            font-weight: 400;
            font-size: 16px; }
        .footer .container .wrap_footer .arrive h6 {
          color: #000000;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.3px;
          margin-left: 30px;
          margin-bottom: 30px; }
        .footer .container .wrap_footer .arrive .list_2 {
          width: 519px;
          height: 30px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px; }
          .footer .container .wrap_footer .arrive .list_2 li:nth-child(1) {
            color: #ff005c;
            font-weight: 600;
            line-height: 29.7px;
            font-size: 18px; }
          .footer .container .wrap_footer .arrive .list_2 li:nth-child(2) {
            color: #C4C4C4;
            font-weight: 500;
            font-size: 15px;
            line-height: 20.25px; }
        .footer .container .wrap_footer .arrive p {
          width: 531px;
          height: 125px;
          color: #000000;
          font-size: 15px;
          font-weight: 500;
          line-height: 24.75px;
          margin-left: 30px;
          margin-bottom: 30px; }
        .footer .container .wrap_footer .arrive ul:last-child {
          width: 403px;
          height: 54px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          background-image: url(../img/metro.png);
          background-repeat: no-repeat;
          background-position: 54% 50%;
          align-items: center; }
          .footer .container .wrap_footer .arrive ul:last-child li:nth-child(1) {
            width: 178px;
            height: 54px;
            color: #C4C4C4;
            font-size: 15px;
            line-height: 20.25px;
            font-weight: 500; }
            .footer .container .wrap_footer .arrive ul:last-child li:nth-child(1) span {
              color: #ff005c;
              line-height: 29.7px;
              font-weight: 600;
              font-size: 16px; }
          .footer .container .wrap_footer .arrive ul:last-child li:nth-child(2) {
            line-height: 20.25px;
            font-size: 15px;
            font-weight: 500;
            color: #000000; }
      .footer .container .wrap_footer .company {
        width: 243px;
        height: 396px;
        display: flex;
        align-items: center;
        margin-left: 40px;
        border-right: 2px solid #BFE0FF; }
        .footer .container .wrap_footer .company ul li {
          margin-bottom: 25px; }
        .footer .container .wrap_footer .company ul li:first-child {
          color: #000000;
          font-size: 18px;
          line-height: 24.3px;
          font-weight: 700; }
        .footer .container .wrap_footer .company ul li:nth-child(2) a {
          color: #000000;
          font-weight: 500;
          line-height: 20.25px;
          font-size: 15px; }
        .footer .container .wrap_footer .company ul li:nth-child(3) a {
          color: #000000;
          font-weight: 500;
          line-height: 20.25px;
          font-size: 15px; }
        .footer .container .wrap_footer .company ul li:nth-child(4) a {
          color: #000000;
          font-weight: 500;
          line-height: 20.25px;
          font-size: 15px; }
        .footer .container .wrap_footer .company ul li:nth-child(5) a {
          color: #000000;
          font-weight: 500;
          line-height: 20.25px;
          font-size: 15px; }
        .footer .container .wrap_footer .company ul li:nth-child(6) a {
          color: #000000;
          font-weight: 500;
          line-height: 20.25px;
          font-size: 15px; }
      .footer .container .wrap_footer .repair-brands {
        width: 288px;
        height: 396px;
        display: flex;
        justify-content: space-between;
        padding: 0.1px; }
        .footer .container .wrap_footer .repair-brands ul li {
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 24.3px;
          color: #000000;
          font-size: 18px; }
          .footer .container .wrap_footer .repair-brands ul li a {
            color: #000000;
            font-weight: 500;
            line-height: 20.25px;
            font-size: 15px; }
        .footer .container .wrap_footer .repair-brands ul:first-child {
          margin-top: 62px; }
          .footer .container .wrap_footer .repair-brands ul:first-child li:nth-child(1) {
            color: #000000;
            font-size: 16px;
            line-height: 24.3px;
            font-weight: 700; }
        .footer .container .wrap_footer .repair-brands ul:last-child {
          margin-top: 106px; }
    .footer .container .end_footer {
      width: 1224px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px; }
      .footer .container .end_footer h6 {
        color: #C4C4C4;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.29px; }

.footer-mobile {
  display: none; }

/*# sourceMappingURL=news.css.map */
