// colors
$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;

// font size

$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;


// font-weight 

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

// body + *

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 15000px;
    font-size: $fz;
    font-weight: $light;
}

// reset


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// global styles

h1 {
    font-weight: $extra-bold;
    font-size: $fz48;
    color: $black;
    line-height: 58.51px;
    width: 466px;
    height: 118px;
}


h2 {
    width: 683px;
    height: 49px;
    font-weight: $extra-bold;
    font-size: $fz36;
    line-height: 48.6px;
    color: $black;
}

h3 {
    font-size: $fz28;
    font-weight: $extra-bold;
    line-height: 37.8px;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
}


.container {
    width: 1224px;
    margin: 0 auto;
}

// header

.header {
    height: 80px;

    .container {
         display: flex;
         justify-content: space-between;
         height: 100%;
         align-items: center;

    h4 {
        font-size: $fz26;
        font-weight: $light;
        color: $black;
        line-height: 31.69px;

        span {
            color: $bold-pink;
            font-size: $fz26;
            font-weight: $bold800;
            line-height: 31.69px;
            text-transform: uppercase;

        }
    }

    ul {
        display: flex;

        li {
            margin-right: 50px;

            a {
                font-size: $fz15;
                color: $black;
                font-weight: $medium;
                line-height: 31.69px;
            }
             a:hover {
             color: $bold-pink;
             font-weight: $medium;
        }
        }

       
    }

    div.tel {

        a {
            font-size: $fz18;
            font-weight: $extra-bold;
            line-height: 21.94px;
            color: $black;
        }
    }

    }

}

// hero

.hero {
    padding-top: 65px;

    .container {
         display: flex;
         justify-content: space-between;

        h1 {
            width: 466px;
            height: 118px;
            margin-bottom: 40px;
        }

        p {
            font-weight: $medium;
            color: $black;
            font-size: $fz18;
            line-height: 21.94px;
            margin-bottom: 40px;
            width: 415px;
            height: 22px;
        }

        a {
            display: block;
            width: 220px;
            height: 50px;
            padding-left: 48px;
            padding-top: 16px;
            background-color: $bold-pink;
            color: $white;
            font-weight: $light;
            font-size: $fz15;
            line-height: 18.29px;
        }

        .hero-fone-mobile {
            width: 665px;
            height: 575px;
            position: relative;
            
            img:first-child {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            img:nth-child(2) {
                position: absolute;
                top: 0px;
                left: 300px;
            }
            img:last-child {
                position: absolute;
                left: 0;
                top: 187px;
            }
        }
    }
}

// slider
.slider {
   padding-top: 150px;

   .container {
       background-color: green;

       .first-slide {
           display: flex;
           justify-content: space-between;
           background-color: purple;
       }
       
      .quality {
          width: 370px;
          height: 244px;
          background-color: red;
      }

      .prise {
         width: 370px;
         height: 244px;
         background-color: orange;
      }

      .warranty {
            width: 370px;
            height: 244px;
            background-color: aqua;
      }

      .second-slide {
          display: flex;
          justify-content: space-between;
          background-color: aquamarine;
      }

      .professional-staff {
            width: 370px;
            height: 244px;
            background-color: blue;
      }
      .special-equipment {
            width: 370px;
            height: 244px;
            background-color: yellow;
      }
      .direct-deliveries {
            width: 370px;
            height: 244px;
            background-color: teal;
      }
   }
}