// colors
$bold-pink: #ff005c;
$light-pink: #ff6099;
$light-blue: #BFE0FF;
$white: #fff;
$black: #000000;
$gray: #C4C4C4;

// font size

$fz: 16px;
$fz12: $fz - 4;
$fz15: $fz - 1;
$fz18: $fz + 2;
$fz26: $fz + 10;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz48: $fz + 32;


// font-weight 

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$bold800: 800;

// body + *

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 15000px;
    font-size: $fz;
    font-weight: $light;
}

// reset


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// global styles

h1 {
    font-weight: $extra-bold;
    font-size: $fz48;
    color: $black;
    line-height: 58.51px;
    width: 466px;
    height: 118px;
}


h2 {
    width: 683px;
    height: 49px;
    font-weight: $extra-bold;
    font-size: $fz36;
    line-height: 48.6px;
    color: $black;
}

h3 {
    font-size: $fz28;
    font-weight: $extra-bold;
    line-height: 37.8px;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
}


.container {
    width: 1224px;
    margin: 0 auto;
}

// header

.header {
    height: 80px;

    .container {
         display: flex;
         justify-content: space-between;
         height: 100%;
         align-items: center;

    h4 {
        font-size: $fz26;
        font-weight: $light;
        color: $black;
        line-height: 31.69px;

        span {
            color: $bold-pink;
            font-size: $fz26;
            font-weight: $bold800;
            line-height: 31.69px;
            text-transform: uppercase;

        }
    }

    ul {
        display: flex;

        li {
            margin-right: 50px;

            a {
                font-size: $fz15;
                color: $black;
                font-weight: $medium;
                line-height: 31.69px;
            }
             a:hover {
             color: $bold-pink;
             font-weight: $medium;
        }
        }

       
    }

    div.tel {

        a {
            font-size: $fz18;
            font-weight: $extra-bold;
            line-height: 21.94px;
            color: $black;
        }
    }

    }

}

// hero

.hero {
    padding-top: 65px;

    .container {
         display: flex;
         justify-content: space-between;

        h1 {
            width: 466px;
            height: 118px;
            margin-bottom: 40px;
        }

        p {
            font-weight: $medium;
            color: $black;
            font-size: $fz18;
            line-height: 21.94px;
            margin-bottom: 40px;
            width: 415px;
            height: 22px;
        }

        a {
            display: block;
            width: 220px;
            height: 50px;
            padding-left: 48px;
            padding-top: 16px;
            background-color: $bold-pink;
            color: $white;
            font-weight: $light;
            font-size: $fz15;
            line-height: 18.29px;
        }

        .hero-fone-mobile {
            width: 665px;
            height: 575px;
            position: relative;
            animation: phones 3s;
            animation-iteration-count: 1;

            @keyframes phones {
                to{margin-left: 0px;}
                from{margin-left: 300px;}
            }
            
            img:first-child {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            img:nth-child(2) {
                position: absolute;
                top: 0px;
                left: 300px;
            }
            img:last-child {
                position: absolute;
                left: 0;
                top: 187px;
            }
        }
    }
}

// slider
.slider {
   padding-top: 150px;

   .container {
       height: 410px;

    .carousel {
        position: relative;
        height: 320px;

        .carousel-indicators [data-bs-target] {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $gray;

        }

        .carousel-indicators .active {
            background-color: $bold-pink;
        }
        
        }

       .first-slide {
           display: flex;
           justify-content: space-between;
       }
       
      .quality {
          width: 370px;
          height: 244px;
          position: relative;
          padding: 0.1px;

          img {
              position: absolute;
              top: 30px;
              left: 30px;
          }

          .border-quality {
              padding-top: 25px;
              width: 370px;
              height: 152px;
              border-top: 2px solid $light-blue;
              margin-top: 90px;

              h4 {
                  width: 279px;
                  height: 24px;
                  color: $black;
                  line-height: 24.3px;
                  font-size: $fz18;
                  font-weight: $extra-bold;
                  margin-left: 35px;
                  margin-bottom: 20px;
                  
              }

              p {
                  width: 293px;
                  height: 40px;
                  color: $black;
                  line-height: 20.25px;
                  font-size: $fz15;
                  font-weight: $medium;
                  margin-left: 35px;
              }
          }
      }

      .prise {
         width: 370px;
         height: 244px;
         padding: 0.1px;
         position: relative;

         img {
             position: absolute;
             top: 30px;
             left: 30px;
         }

         .border-prise {
            padding-top: 25px;
            width: 370px;
            height: 152px;
            border-top: 2px solid $light-blue;
            margin-top: 90px;

            h4 {
                width: 290px;
                height: 24px;
                margin-left: 35px;
                margin-bottom: 20px;
                line-height: 24.3px;
                font-size: $fz18;
                font-weight: $extra-bold;
            }

            p {
                width: 293px;
                height: 40px;
                margin-left: 35px;
                color: $black;
                font-size: $fz15;
                font-weight: $medium;
                line-height: 20.25px;
            }
         }
      }

      .warranty {
            width: 370px;
            height: 244px;
            position: relative;

            img {
                position: absolute;
                top: 30px;
                left: 30px;
            }

            .border-warranty {
                padding-top: 25px;
                width: 370px;
                height: 152px;
                border-top: 2px solid $light-blue;
                margin-top: 90px;

                h4 {
                    width: 239px;
                    height: 24px;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    color: $black;
                    line-height: 24.3px;
                    margin-left: 35px;
                    margin-bottom: 20px;
                }

                p {
                    width: 293px;
                    height: 40px;
                    line-height: 20.25px;
                    font-size: $fz15;
                    font-weight: $medium;
                    color: $black;
                    margin-left: 35px;
                }
            }
      }

      .second-slide {
          display: flex;
          justify-content: space-between;
      }

      .professional-staff {
            width: 370px;
            height: 244px;
            position: relative;

            img {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 30px;
                left: 30px;
            }

            .border-staff {
                padding-top: 25px;
                width: 370px;
                height: 152px;
                border-top: 2px solid $light-blue;
                margin-top: 90px;

                h4 {
                    margin-left: 35px;
                    font-weight: $extra-bold;
                    color: $black;
                    font-size: $fz18;
                    line-height: 24.3px;
                    width: 325px;
                    height: 24px;
                    margin-bottom: 20px;
                    
                }

                p {
                    font-size: $fz15;
                    font-weight: $medium;
                    color: $black;
                    line-height: 20.25px;
                    margin-left: 35px;
                    width: 330px;
                    height: 40px;
                }
            }
      }
      .special-equipment {
            width: 370px;
            height: 244px;
            position: relative;

            img {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 30px;
                left: 30px;
            }

            .border-equipment {
                padding-top: 25px;
                width: 370px;
                height: 152px;
                border-top: 2px solid $light-blue;
                margin-top: 90px;
                

                h4 {
                    color: $black;
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 24.3px;
                    margin-left: 35px;
                    margin-bottom: 20px;
                    width: 330px;
                    height: 24px;
                }

                p {
                    margin-left: 35px;
                    font-size: $fz15;
                    color: $black;
                    font-weight: $medium;
                    line-height: 20.25px;
                    width: 330px;
                    height: 40px;
                }
            }
      }
      .direct-deliveries {
            width: 370px;
            height: 244px;
            position: relative;

            img {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 30px;
                left: 30px;
            }

            .border-delivery {
                padding-top: 25px;
                width: 370px;
                height: 152px;
                border-top: 2px solid $light-blue;
                margin-top: 90px;

                h4 {
                    font-size: $fz18;
                    color: $black;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-left: 35px;
                    margin-bottom: 20px;
                    width: 300px;
                    height: 24px;
                }

                p {
                    margin-left: 35px;
                    color: $black;
                    font-weight: $medium;
                    font-size: $fz15;
                    line-height: 20.25px;
                    width: 330px;
                    height: 40px;
                }
            }
      }
   }
}

// repair

.repair {
    padding-top: 150px;

    .container {
        background-color: deeppink;

        .blocks {
            display: flex;
            justify-content: space-between;
        }


        .left__blocks {
            width: 590px;
            height: 1210px;
            background-color: lightblue;

            .display {
                width: 590px;
                height: 280px;
                background-color: teal;
                position: relative;
                padding: 0.1px;
                background-image: url(../img/display-img.png);
                background-position: right bottom;
                background-repeat: no-repeat;
                margin-bottom: 30px;

                img {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    
                }

                h5 {
                    width: 177px;
                    height: 24px;
                    color: $black;
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 24.3px;
                    margin-top: 38px;
                    margin-left: 79px;
                    margin-bottom: 38px;
                }

                .lists {
                    display: flex;
                    width: 477px;
                    height: 130px;
                    justify-content: space-between;
                    margin-left: 50px;
                    
                    
                    li {
                        margin-bottom: 20px;
                        width: 204px;
                        height: 20px;
                        a {
                            font-weight: $medium;
                            font-size: $fz15;
                            color: $black;
                            line-height: 20.25px;
                        }
                    
                    }

                    a:hover {
                        color: $bold-pink;
                    }

                    .sensor {
                        height: 45px;
                    }

                    .list-display-one {
                        height: 130px;
                    }
                    
                }
            }

            .dinamics {
                width: 590px;
                height: 280px;
                background-color: chocolate;
                position: relative;
                padding: 0.1px;
                background-image: url(../img/dinamics-img.png);
                background-position: right bottom;
                background-repeat: no-repeat;

                img {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                }

                h5 {
                    margin-left: 79px;
                    margin-top: 38px;
                    width: 170px;
                    height: 24px;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-bottom: 38px;
                    color: $black;
                }

                .lists-dinamics {
                    display: flex;
                    justify-content: space-between;
                    width: 450px;
                    height: 130px;
                    margin-left: 50px;

                    ul {

                        li {
                           margin-bottom: 20px;
                            a {
                                font-weight: $medium;
                                font-size: $fz15;
                                color: $black;
                                line-height: 20.25px;
                            }

                            a:hover {
                                color: $bold-pink;
                            }
                        }
                    }
                }
            }

            .buttons {
                width: 590px;
                height: 280px;
                padding: 0.1px;
                margin-top: 30px;
                position: relative;
                background-color: aqua;
                background-image: url(../img/buttons-img.png);
                background-position: right top;
                background-repeat: no-repeat;

                img {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                }

                h5 {
                    margin-left: 79px;
                    margin-top: 38px;
                    width: 74px;
                    height: 24px;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-bottom: 38px;
                    color: $black;
                }

                ul {
                    margin-left: 50px;
                    li {
                        margin-bottom: 20px;
                        a {
                            font-weight: $medium;
                            font-size: $fz15;
                            color: $black;
                            line-height: 20.25px;
                        }
                        a:hover {
                            color: $bold-pink;
                        }
                    }
                }
            }

            .net {
                width: 590px;
                height: 280px;
                padding: 0.1px;
                margin-top: 30px;
                position: relative;
                background-color: blueviolet;
                background-image: url(../img/net-img.png);
                background-position: right bottom;
                background-repeat: no-repeat;

                img {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                }

                h5 {
                    width: 183px;
                    height: 24px;
                    margin-left: 79px;
                    margin-top: 38px;
                    font-size: $fz18;
                    font-weight: $extra-bold;
                    line-height: 24.3px;
                    margin-bottom: 38px;
                    color: $black;
                }

                .lists-net {
                    display: flex;
                    justify-content: space-between;
                    width: 382px;
                    height: 100px;
                    margin-left: 50px;

                    li {
                        margin-bottom: 20px;

                        a {
                            font-weight: $medium;
                            font-size: $fz15;
                            color: $black;
                            line-height: 20.25px;
                        }

                        a:hover {
                            color: $bold-pink;
                        }
                    }
                }
            }

            
        }

        .right__blocks {
            width: 590px;
            height: 1210px;
            background-color: lightgreen;
        }
    }
}