* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  height: 15000px;
  font-size: 16px;
  font-weight: 300; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

h1 {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  line-height: 58.51px;
  width: 466px;
  height: 118px; }

h2 {
  width: 683px;
  height: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48.6px;
  color: #000000; }

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 37.8px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px; }

.container {
  width: 1224px;
  margin: 0 auto; }

.header {
  height: 80px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; }
    .header .container h4 {
      font-size: 26px;
      font-weight: 300;
      color: #000000;
      line-height: 31.69px; }
      .header .container h4 span {
        color: #ff005c;
        font-size: 26px;
        font-weight: 800;
        line-height: 31.69px;
        text-transform: uppercase; }
    .header .container ul {
      display: flex; }
      .header .container ul li {
        margin-right: 50px; }
        .header .container ul li a {
          font-size: 15px;
          color: #000000;
          font-weight: 500;
          line-height: 31.69px; }
        .header .container ul li a:hover {
          color: #ff005c;
          font-weight: 500; }
    .header .container div.tel a {
      font-size: 18px;
      font-weight: 700;
      line-height: 21.94px;
      color: #000000; }

.hero {
  padding-top: 65px; }
  .hero .container {
    display: flex;
    justify-content: space-between; }
    .hero .container h1 {
      width: 466px;
      height: 118px;
      margin-bottom: 40px; }
    .hero .container p {
      font-weight: 500;
      color: #000000;
      font-size: 18px;
      line-height: 21.94px;
      margin-bottom: 40px;
      width: 415px;
      height: 22px; }
    .hero .container a {
      display: block;
      width: 220px;
      height: 50px;
      padding-left: 48px;
      padding-top: 16px;
      background-color: #ff005c;
      color: #fff;
      font-weight: 300;
      font-size: 15px;
      line-height: 18.29px; }
    .hero .container .hero-fone-mobile {
      width: 665px;
      height: 575px;
      position: relative; }
      .hero .container .hero-fone-mobile img:first-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
      .hero .container .hero-fone-mobile img:nth-child(2) {
        position: absolute;
        top: 0px;
        left: 300px; }
      .hero .container .hero-fone-mobile img:last-child {
        position: absolute;
        left: 0;
        top: 187px; }

.slider {
  padding-top: 150px; }
  .slider .container {
    background-color: green; }
    .slider .container .first-slide {
      display: flex;
      justify-content: space-between;
      background-color: purple; }
    .slider .container .quality {
      width: 370px;
      height: 244px;
      background-color: red; }
    .slider .container .prise {
      width: 370px;
      height: 244px;
      background-color: orange; }
    .slider .container .warranty {
      width: 370px;
      height: 244px;
      background-color: aqua; }
    .slider .container .second-slide {
      display: flex;
      justify-content: space-between;
      background-color: aquamarine; }
    .slider .container .professional-staff {
      width: 370px;
      height: 244px;
      background-color: blue; }
    .slider .container .special-equipment {
      width: 370px;
      height: 244px;
      background-color: yellow; }
    .slider .container .direct-deliveries {
      width: 370px;
      height: 244px;
      background-color: teal; }

/*# sourceMappingURL=repair.css.map */
