* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$black: black;
$header-list: #636363;
$white: white;
$con-roadmap: #CD3939;
$blood-red: #FD5252;
$dark-red: #201212;
$light-red: #CE0101;
$slides: #151515;
$fz: 16px;
html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-color: $black;
}
.container {
    width: 1110px;
    margin:  0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.disable {
    display: none;
}
.header {
    padding-top: 41px;
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        .WrapperListHeader {
            display: flex;
            width: 100%;
            justify-content: space-between;
            ul {
            display: flex;
            li {
                margin-right: 30px;
                font-size: $fz - 2;
                color: $header-list;
                cursor: pointer;
            }
            li:hover {
                transition: 1s;
                color: $light-red;
                animation: liH 1s linear;
            }
            @keyframes liH {
                0% {
                    transform: rotate(0deg);
                }
                30% {
                    transform: rotate(6deg);
                }
                70% {
                    transform: rotate(-6deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }
        div {
            color: $white;
            font-size: $fz - 2;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
        }
        }
        .Modal {
            display: none;
        }
        .open__hamburger__menu {
                display: none;
            }
    }
}
.see__roadmap {
    padding-top: 48px;
    .container {
        height: 109px;
        background-color: $con-roadmap;
        border-radius: 14px;
        padding-top: 17px;
        padding-left: 30px;
        padding-right: 30px;
       .WrapperSeeRoadMap {
        display: flex;
        justify-content: space-between;
        .TextAtRedBlock {
                color: $white;
                font-size: $fz + 14;
                line-height: 35.5px;
                width: 449px;
                height: 74px;
                font-weight: bold;
            }
        
            .ButtonMap {
                margin-top: 9px;
                border-radius: 11px;
                background-color: $white;
                padding-left: 27px;
                padding-right: 18px;
                padding-top: 20px;
                padding-bottom: 30px;
                width: 167px;
                height: 57px;
                font-size: $fz;
                font-weight: bold;
                color: $con-roadmap;
                cursor: pointer;
                a {
                    color: $blood-red;
                }
            }
       }
    }
}
.hero {
    padding-top: 35px;
    .container {
        .WrapperHeroContent {
            position: relative;
            padding: 0.1px;
            width: 100%;
            height: 100%;
            background: url(../img/heroBackground.png) no-repeat 200% 70%;
            .Logo {
                color: $white;
                font-size: $fz + 58;
                line-height: 75.11px;
                width: 710px;
                height: 143px;
                margin-bottom: 32px;
            }
            .Paragraph {
                width: 475px;
                height: 108px;
                font-size: $fz + 4;
                line-height: 36px;
                color: $white;
                margin-bottom: 39px;
                font-weight: 400;
            }
            .Button {
                position: relative;
                width: 295px;
                height: 57px;
                background-color: $con-roadmap;
                padding-left: 38px;
                padding-bottom: 19px;
                padding-top: 19px;
                border-radius: 11px;
                border: none;
                cursor: pointer;
                margin-bottom: 32px;
                font-size: $fz - 2;
                line-height: 19.12px;
                color: $white;
                font-weight: bold;
                .Image {
                    position: absolute;
                    left: 22px;
                    top: 20px;
                }
            }
            .SecondParagraph {
                width: 469px;
                height: 71px;
                font-size: $fz - 2;
                line-height: 23.5px;
                color: $white;
                font-weight: 400;
            }
            .Background {
                position: absolute;
                top: 50px;
                right: 0px;
                width: 578px;
                height: 345px;
            }
        }
    }
}
.card {
    padding-top: 142px;
    .container {
        .WrapperCardContent {
            width: 1073px;
            height: 477px;
            display: flex;
            justify-content: space-between;
            .CardImage {
                width: 490px;
                height: 477px;
            }
            .SecondPart {
                padding: 0.1px;
                .Title {
                    width: 400px;
                    height: 122px;
                    color: $white;
                    font-weight: 700;
                    margin-bottom: 22px;
                    font-size: $fz + 40;
                    line-height: 63.84px;
                }
                .Paragraph {
                    width: 552px;
                    height: 32px;
                    font-size: $fz + 2;
                    line-height: 32px;
                    color: $white;
                    font-weight: 400;
                    margin-bottom: 83px;
                }
                .FlexBlock {
                    display: flex;
                    justify-content: space-around;
                    .FirstBlock {
                        .Single {
                            width: 87px;
                            height: 34px;
                            color: $white;
                            font-size: $fz + 13;
                            line-height: 23.5px;
                            font-weight: 700;
                            margin-bottom: 32px;
                        }
                        .YouWillReceive {
                            color: $white;
                            font-weight: 700;
                            line-height: 23.5px;
                            font-size: $fz + 2;
                            margin-bottom: 22px;
                        }
                        .FirstChoose {
                            color: $white;
                            font-weight: 400;
                            line-height: 23.5px;
                            font-size: $fz;
                            margin-bottom: 15px;
                            img {
                                margin-right: 10px;
                            }
                        }
                        .SecondChoose {
                            color: $white;
                            font-weight: 400;
                            line-height: 23.5px;
                            font-size: $fz;
                            margin-bottom: 15px;
                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                    .SecondBlock {
                        div {
                            width: 118px;
                            height: 47px;
                            color: $blood-red;
                            background-color: $dark-red;
                            margin-bottom: 23px;
                            border-radius: 42px;
                            padding-left: 23px;
                            padding-top: 14px;
                        }
                        button {
                            width: 195px;
                            height: 61px;
                            background-color: $light-red;
                            color: $white;
                            font-size: $fz + 6;
                            line-height: 30.05px;
                            font-weight: 700;
                            border: none;
                            cursor: pointer;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}
.description {
    padding-top: 91px;
    .container {
        .WrapperDescriptionContent {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .FirstBlock {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                img {
                    margin-bottom: 20px;
                }
                .Title {
                    font-size: $fz + 8;
                    font-weight: 700;
                    line-height: 23.5px;
                    color: $white;
                    margin-bottom: 20px;
                }
                .Paragraph {
                    line-height: 31.5px;
                    font-weight: 400;
                    font-size: $fz - 1;
                    color: $white;
                    width: 62%;
                }
            }
            .SecondBlock {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                img {
                    margin-bottom: 20px;
                }
                .Title {
                    font-size: $fz + 8;
                    font-weight: 700;
                    line-height: 23.5px;
                    color: $white;
                    margin-bottom: 20px;
                }
                .Paragraph {
                    line-height: 31.5px;
                    font-weight: 400;
                    font-size: $fz - 1;
                    color: $white;
                    width: 62%;
                }
            }
            .ThirdBlock {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                img {
                    margin-bottom: 20px;
                }
                .Title {
                    font-size: $fz + 8;
                    font-weight: 700;
                    line-height: 23.5px;
                    color: $white;
                    margin-bottom: 20px;
                }
                .Paragraph {
                    line-height: 31.5px;
                    font-weight: 400;
                    font-size: $fz - 1;
                    color: $white;
                    margin-bottom: 20px;
                }
                .WrapperImageSocialNetworks {
                    display: flex;
                    justify-content: space-between;
                    width: 100px;
                }
            }
        }
    }
}
.slider {
    padding-top: 48px;
    .container {
        .WrapperSliderContent {
            padding: 0.1px;
            .Title {
                font-size: $fz+ 40;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 120.68px;
                margin-bottom: 26px;
                color: $white;
            }
            .WrapperSliderSlide {
                overflow: hidden;
                width: 100%;
                .WrapperSlides {
                width: 2280px;
                height: 430px;
                display: flex;
                justify-content: space-between;
                position: relative;
                transition: all ease 1s;
                left: 0;
                div {
                    margin-right: 30px;
                    background-color: $slides;
                    border-radius: 12px;
                    .Image {
                        margin-bottom: 17px;
                        border-radius: 12px;
                    }
                    .UnderTitle {
                        margin-bottom: 14px;
                        font-size: $fz + 2;
                        font-weight: 700;
                        line-height: 23.5px;
                        color: $white;
                        padding-left: 24px;
                    }
                    .Paragraph {
                        font-size: $fz - 2;
                        font-weight: 400;
                        color: $white;
                        line-height: 23.5px;
                        display: inline;
                        padding-left: 24px;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
            }
            .WrapperButtons {
                padding: 0.1px;
                margin-left: 480px;
                margin-top: 69px;
                position: relative;
                .Previous {
                    border: none;
                    background-color: $blood-red;
                    border-radius: 53.41px;
                    width: 52px;
                    height: 52px;
                    margin-right: 21px;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }
                .Next {
                    border: none;
                    background-color: $blood-red;
                    border-radius: 53.41px;
                    width: 52px;
                    height: 52px;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }
            }
            .focus {
                animation: focus 1s linear;
            }
            @keyframes focus {
                from {
                    background-color: $blood-red;
                }
                to {
                    background-color: $light-red;
                }
            }
            .blood {
                position: absolute;
                left: 72px;
                animation: blood 1s linear;
            }
            .blood1 {
                position: absolute;
                left: 0px;
                animation: blood 1s linear;
            }
            @keyframes blood {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}
.questions {
    padding-top: 91px;
    .container {
        .Wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-weight: 700;
                font-size: $fz + 40;
                color: $white;
                line-height: 120.68px;
                margin-bottom: 37px;
            }
            div {
                color: $white;
                margin-bottom: 20px;
                border-bottom: 1px solid gray;
                padding-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin-right: 15px;
                }
                img {
                    cursor: pointer;
                }
            }
            .FP {
                width: 310px;
                line-height: 25px;
                animation: FP 1s linear;
                padding-left: 40px;
            }
            @keyframes FP {
                from {
                    opacity: 0;
                    transform: scale(0);
                }
                to {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}
.screen {
    padding-top: 56px;
    .container {
        position: relative;
        .ImageTwitch {
            cursor: pointer;
        }
        .hintImageTwtich {
            animation: hint 1s linear;
            position: absolute;
            font-size: $fz + 30;
            color: $light-red;
            top: 300px;
            left: 295px;
            font-weight: 700;
            text-transform: uppercase;
        }
        @keyframes hint {
            from {
                opacity: 0;
                color: $blood-red;
            }
            to {
                opacity: 1;
                color: $light-red;
            }
        }
        .scale {
            position: absolute;
            transition: 1s;
            transform: scale(1.2);
        }
    }
}
.roadmap {
    padding-top: 49px;
    .container {
        background-image: url(../img/roadmapImage.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 655px;
    }
}
.help__text {
    padding-top: 68px;
    .container {
        .W {
            padding: 0.1px;
            .ButtonUpload {
                display: block;
                margin:  0 auto;
                border: none;
                border-radius: 13px;
                background-color: $white;
                cursor: pointer;
                color: $blood-red;
                width: 300px;
                height: 50px;
                font-weight: 700;
                text-transform: uppercase;
                font-size: $fz + 4;
            }
        }
        .Text {
            color: $white;
            width: 100%;
            line-height: 30px;
            margin-top: 30px;
            animation: text 1.5s linear;
        }
        @keyframes text {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}
.footer{
    padding-top: 102px;
    .container {
        padding-bottom: 33px;
        .WrapperFooter {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .FirstBlock {
                padding: 0.1px;
                .FirstTitle {
                    line-height: 23.5px;
                    font-weight: 700;
                    font-size: $fz + 2;
                    margin-bottom: 19px;
                    color: $white;
                }
                .FirstParagraph {
                    color: $white;
                    font-weight: 400;
                    font-size: $fz - 4;
                    line-height: 23.5px;
                    margin-bottom: 18px;
                    width: 251px;
                }
                .Email {
                    color: $light-red;
                    font-size: $fz + 2;
                    font-weight: 700;
                    line-height: 23.5px;
                }
            }
            .FooterList {
                li:nth-child(1) {
                    font-size: $fz + 2;
                    color: $white;
                    line-height: 23.5px;
                    font-weight: 700;
                    margin-bottom: 19px;
                }
                li {
                    color: $white;
                    font-weight: 400;
                    margin-bottom: 8px;
                }
            }
            .SecondBlock {
                .SecondTitle {
                    color: $white;
                    line-height: 23.5px;
                    font-weight: 700;
                    font-size: $fz + 2;
                    margin-bottom: 19px;
                }
                .SecondParagraph {
                    font-weight: bold;
                    line-height: 23.5px;
                    color: $white;
                    font-size: $fz - 4;
                }
            }
            .ThirdBlock {
                .ThirdTitle {
                    color: $white;
                    line-height: 23.5px;
                    font-weight: 700;
                    font-size: $fz + 2;
                    margin-bottom: 19px;
                }
                img {
                    margin-right: 18px;
                }
            }
        }
    }
}