* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  min-width: 100%;
  background-color: black; }

.container {
  width: 1110px;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.disable {
  display: none; }

.header {
  padding-top: 41px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .header .container .WrapperListHeader {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .header .container .WrapperListHeader ul {
        display: flex; }
        .header .container .WrapperListHeader ul li {
          margin-right: 30px;
          font-size: 14px;
          color: #636363;
          cursor: pointer; }
        .header .container .WrapperListHeader ul li:hover {
          transition: 1s;
          color: #CE0101;
          animation: liH 1s linear; }
@keyframes liH {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(6deg); }
  70% {
    transform: rotate(-6deg); }
  100% {
    transform: rotate(0deg); } }
      .header .container .WrapperListHeader div {
        color: white;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between; }
    .header .container .Modal {
      display: none; }
    .header .container .open__hamburger__menu {
      display: none; }

.see__roadmap {
  padding-top: 48px; }
  .see__roadmap .container {
    height: 109px;
    background-color: #CD3939;
    border-radius: 14px;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 30px; }
    .see__roadmap .container .WrapperSeeRoadMap {
      display: flex;
      justify-content: space-between; }
      .see__roadmap .container .WrapperSeeRoadMap .TextAtRedBlock {
        color: white;
        font-size: 30px;
        line-height: 35.5px;
        width: 449px;
        height: 74px;
        font-weight: bold; }
      .see__roadmap .container .WrapperSeeRoadMap .Button {
        margin-top: 9px;
        border-radius: 11px;
        background-color: white;
        padding-left: 27px;
        padding-right: 18px;
        padding-top: 20px;
        padding-bottom: 30px;
        width: 167px;
        height: 57px;
        font-size: 16px;
        font-weight: bold;
        color: #CD3939;
        cursor: pointer; }
        .see__roadmap .container .WrapperSeeRoadMap .Button a {
          color: #FD5252; }

.hero {
  padding-top: 35px; }
  .hero .container .WrapperHeroContent {
    position: relative;
    padding: 0.1px;
    width: 100%;
    height: 100%;
    background: url(../img/heroBackground.png) no-repeat 200% 70%; }
    .hero .container .WrapperHeroContent .Logo {
      color: white;
      font-size: 74px;
      line-height: 75.11px;
      width: 710px;
      height: 143px;
      margin-bottom: 32px; }
    .hero .container .WrapperHeroContent .Paragraph {
      width: 475px;
      height: 108px;
      font-size: 20px;
      line-height: 36px;
      color: white;
      margin-bottom: 39px;
      font-weight: 400; }
    .hero .container .WrapperHeroContent .Button {
      position: relative;
      width: 295px;
      height: 57px;
      background-color: #CD3939;
      padding-left: 38px;
      padding-bottom: 19px;
      padding-top: 19px;
      border-radius: 11px;
      border: none;
      cursor: pointer;
      margin-bottom: 32px;
      font-size: 14px;
      line-height: 19.12px;
      color: white;
      font-weight: bold; }
      .hero .container .WrapperHeroContent .Button .Image {
        position: absolute;
        left: 22px;
        top: 20px; }
    .hero .container .WrapperHeroContent .SecondParagraph {
      width: 469px;
      height: 71px;
      font-size: 14px;
      line-height: 23.5px;
      color: white;
      font-weight: 400; }
    .hero .container .WrapperHeroContent .Background {
      position: absolute;
      top: 50px;
      right: 0px;
      width: 578px;
      height: 345px; }

.card {
  padding-top: 142px; }
  .card .container .WrapperCardContent {
    width: 1073px;
    height: 477px;
    display: flex;
    justify-content: space-between; }
    .card .container .WrapperCardContent .CardImage {
      width: 490px;
      height: 477px; }
    .card .container .WrapperCardContent .SecondPart {
      padding: 0.1px; }
      .card .container .WrapperCardContent .SecondPart .Title {
        width: 400px;
        height: 122px;
        color: white;
        font-weight: 700;
        margin-bottom: 22px;
        font-size: 56px;
        line-height: 63.84px; }
      .card .container .WrapperCardContent .SecondPart .Paragraph {
        width: 552px;
        height: 32px;
        font-size: 18px;
        line-height: 32px;
        color: white;
        font-weight: 400;
        margin-bottom: 83px; }
      .card .container .WrapperCardContent .SecondPart .FlexBlock {
        display: flex;
        justify-content: space-around; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .Single {
          width: 87px;
          height: 34px;
          color: white;
          font-size: 29px;
          line-height: 23.5px;
          font-weight: 700;
          margin-bottom: 32px; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .YouWillReceive {
          color: white;
          font-weight: 700;
          line-height: 23.5px;
          font-size: 18px;
          margin-bottom: 22px; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .FirstChoose {
          color: white;
          font-weight: 400;
          line-height: 23.5px;
          font-size: 16px;
          margin-bottom: 15px; }
          .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .FirstChoose img {
            margin-right: 10px; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .SecondChoose {
          color: white;
          font-weight: 400;
          line-height: 23.5px;
          font-size: 16px;
          margin-bottom: 15px; }
          .card .container .WrapperCardContent .SecondPart .FlexBlock .FirstBlock .SecondChoose img {
            margin-right: 10px; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .SecondBlock div {
          width: 118px;
          height: 47px;
          color: #FD5252;
          background-color: #201212;
          margin-bottom: 23px;
          border-radius: 42px;
          padding-left: 23px;
          padding-top: 14px; }
        .card .container .WrapperCardContent .SecondPart .FlexBlock .SecondBlock button {
          width: 195px;
          height: 61px;
          background-color: #CE0101;
          color: white;
          font-size: 22px;
          line-height: 30.05px;
          font-weight: 700;
          border: none;
          cursor: pointer;
          border-radius: 12px; }

.description {
  padding-top: 91px; }
  .description .container .WrapperDescriptionContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .description .container .WrapperDescriptionContent .FirstBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px; }
      .description .container .WrapperDescriptionContent .FirstBlock img {
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .FirstBlock .Title {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.5px;
        color: white;
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .FirstBlock .Paragraph {
        line-height: 31.5px;
        font-weight: 400;
        font-size: 15px;
        color: white;
        width: 62%; }
    .description .container .WrapperDescriptionContent .SecondBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px; }
      .description .container .WrapperDescriptionContent .SecondBlock img {
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .SecondBlock .Title {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.5px;
        color: white;
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .SecondBlock .Paragraph {
        line-height: 31.5px;
        font-weight: 400;
        font-size: 15px;
        color: white;
        width: 62%; }
    .description .container .WrapperDescriptionContent .ThirdBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px; }
      .description .container .WrapperDescriptionContent .ThirdBlock img {
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .ThirdBlock .Title {
        font-size: 24px;
        font-weight: 700;
        line-height: 23.5px;
        color: white;
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .ThirdBlock .Paragraph {
        line-height: 31.5px;
        font-weight: 400;
        font-size: 15px;
        color: white;
        margin-bottom: 20px; }
      .description .container .WrapperDescriptionContent .ThirdBlock .WrapperImageSocialNetworks {
        display: flex;
        justify-content: space-between;
        width: 100px; }

.slider {
  padding-top: 48px; }
  .slider .container .WrapperSliderContent {
    padding: 0.1px; }
    .slider .container .WrapperSliderContent .Title {
      font-size: 56px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 120.68px;
      margin-bottom: 26px;
      color: white; }
    .slider .container .WrapperSliderContent .WrapperSliderSlide {
      overflow: hidden;
      width: 100%; }
      .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides {
        width: 2280px;
        height: 430px;
        display: flex;
        justify-content: space-between;
        position: relative;
        transition: all ease 1s;
        left: 0; }
        .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides div {
          margin-right: 30px;
          background-color: #151515;
          border-radius: 12px; }
          .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides div .Image {
            margin-bottom: 17px;
            border-radius: 12px; }
          .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides div .UnderTitle {
            margin-bottom: 14px;
            font-size: 18px;
            font-weight: 700;
            line-height: 23.5px;
            color: white;
            padding-left: 24px; }
          .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides div .Paragraph {
            font-size: 14px;
            font-weight: 400;
            color: white;
            line-height: 23.5px;
            display: inline;
            padding-left: 24px; }
            .slider .container .WrapperSliderContent .WrapperSliderSlide .WrapperSlides div .Paragraph img {
              margin-right: 10px; }
    .slider .container .WrapperSliderContent .WrapperButtons {
      padding: 0.1px;
      margin-left: 480px;
      margin-top: 69px;
      position: relative; }
      .slider .container .WrapperSliderContent .WrapperButtons .Previous {
        border: none;
        background-color: #FD5252;
        border-radius: 53.41px;
        width: 52px;
        height: 52px;
        margin-right: 21px;
        cursor: pointer;
        position: relative;
        z-index: 2; }
      .slider .container .WrapperSliderContent .WrapperButtons .Next {
        border: none;
        background-color: #FD5252;
        border-radius: 53.41px;
        width: 52px;
        height: 52px;
        cursor: pointer;
        position: relative;
        z-index: 2; }
    .slider .container .WrapperSliderContent .focus {
      animation: focus 1s linear; }
@keyframes focus {
  from {
    background-color: #FD5252; }
  to {
    background-color: #CE0101; } }
    .slider .container .WrapperSliderContent .blood {
      position: absolute;
      left: 72px;
      animation: blood 1s linear; }
    .slider .container .WrapperSliderContent .blood1 {
      position: absolute;
      left: 0px;
      animation: blood 1s linear; }
@keyframes blood {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.questions {
  padding-top: 91px; }
  .questions .container .Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .questions .container .Wrapper h3 {
      font-weight: 700;
      font-size: 56px;
      color: white;
      line-height: 120.68px;
      margin-bottom: 37px; }
    .questions .container .Wrapper div {
      color: white;
      margin-bottom: 20px;
      border-bottom: 1px solid gray;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .questions .container .Wrapper div p {
        margin-right: 15px; }
      .questions .container .Wrapper div img {
        cursor: pointer; }
    .questions .container .Wrapper .FP {
      width: 310px;
      line-height: 25px;
      animation: FP 1s linear;
      padding-left: 40px; }
@keyframes FP {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }
.screen {
  padding-top: 56px; }
  .screen .container {
    position: relative; }
    .screen .container .ImageTwitch {
      cursor: pointer; }
    .screen .container .hintImageTwtich {
      animation: hint 1s linear;
      position: absolute;
      font-size: 46px;
      color: #CE0101;
      top: 300px;
      left: 295px;
      font-weight: 700;
      text-transform: uppercase; }
@keyframes hint {
  from {
    opacity: 0;
    color: #FD5252; }
  to {
    opacity: 1;
    color: #CE0101; } }
    .screen .container .scale {
      position: absolute;
      transition: 1s;
      transform: scale(1.2); }

.roadmap {
  padding-top: 49px; }
  .roadmap .container {
    background-image: url(../img/roadmapImage.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 655px; }

.help__text {
  padding-top: 68px; }
  .help__text .container .W {
    padding: 0.1px; }
    .help__text .container .W .ButtonUpload {
      display: block;
      margin: 0 auto;
      border: none;
      border-radius: 13px;
      background-color: white;
      cursor: pointer;
      color: #FD5252;
      width: 300px;
      height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px; }
  .help__text .container .Text {
    color: white;
    width: 100%;
    line-height: 30px;
    margin-top: 30px;
    animation: text 1.5s linear; }
@keyframes text {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.footer {
  padding-top: 102px; }
  .footer .container {
    padding-bottom: 33px; }
    .footer .container .WrapperFooter {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .footer .container .WrapperFooter .FirstBlock {
        padding: 0.1px; }
        .footer .container .WrapperFooter .FirstBlock .FirstTitle {
          line-height: 23.5px;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 19px;
          color: white; }
        .footer .container .WrapperFooter .FirstBlock .FirstParagraph {
          color: white;
          font-weight: 400;
          font-size: 12px;
          line-height: 23.5px;
          margin-bottom: 18px;
          width: 251px; }
        .footer .container .WrapperFooter .FirstBlock .Email {
          color: #CE0101;
          font-size: 18px;
          font-weight: 700;
          line-height: 23.5px; }
      .footer .container .WrapperFooter .FooterList li:nth-child(1) {
        font-size: 18px;
        color: white;
        line-height: 23.5px;
        font-weight: 700;
        margin-bottom: 19px; }
      .footer .container .WrapperFooter .FooterList li {
        color: white;
        font-weight: 400;
        margin-bottom: 8px; }
      .footer .container .WrapperFooter .SecondBlock .SecondTitle {
        color: white;
        line-height: 23.5px;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 19px; }
      .footer .container .WrapperFooter .SecondBlock .SecondParagraph {
        font-weight: bold;
        line-height: 23.5px;
        color: white;
        font-size: 12px; }
      .footer .container .WrapperFooter .ThirdBlock .ThirdTitle {
        color: white;
        line-height: 23.5px;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 19px; }
      .footer .container .WrapperFooter .ThirdBlock img {
        margin-right: 18px; }

/*# sourceMappingURL=horrorfellas.css.map */
