* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f2f6;
}

.my-node-enter {
  opacity: 0;
  
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  animation: home 1s linear;
}

#root .container .HomePage {
  width: 1415px;
  margin: 0 auto;
  padding-top: 50px;
}

@keyframes home {
  from {
    opacity: 0;
    filter: blur(3px);
  }

  to {
    opacity: 1;
  }
}


#root .container .Default {
  width: 100%;
  height: 100%;
}

.container .Default .ImageMainCharacter {
  margin: 0 auto;
  width: 300px;
  height: 400px;
  background-image: url(https://i.ibb.co/T1Vt3Nb/rounded-in-photoretrica.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135% 70%;
}

.container .Default .Phrases {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.container .Default .Phrases p:nth-child(1) {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.container .Default .Phrases p:nth-child(2) {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.container .BaseWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#root .container .HomePage .Search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 100px;
}

#root .container .HomePage .Search h4 {
  margin-bottom: 30px;
  font-size: 34px;
}

#root .container .HomePage .Search input {
  width: 40%;
  height: 40px;
  border: none;
  background: linear-gradient(180deg,#2ecc71,#1abc9c);
  border-radius: 16px;
  font-size: 24px;
  padding-left: 30px;
  color: white;
}

#root .container .HomePage .Search input::placeholder {
  color: white;
  opacity: 0.8;
}

#root .container .HomePage .Search input:focus {
  outline: none;
  outline-offset: none;
}

.container .BaseWrapper .Cash {
  width: 100%;
  height: 91px;
  background: linear-gradient(#28d67c, #1e9258);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .BaseWrapper .Cash .Number {
  color: white;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.5s;
}

.container .BaseWrapper .WrapperItems {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.container .BaseWrapper .WrapperItems .Item {
  width: 260px;
  height: 331px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 70px;
  cursor: pointer;
}


.container .BaseWrapper .WrapperItems .Item .InformationItems {
  padding-top: 50px;
  width: 100%;
  height: 148px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems img {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 120px;
  margin-bottom: 20px;
}

.container .BaseWrapper .Cash .Number .Precent {
  font-size: 28px;
  letter-spacing: none;
  margin-left: 30px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Name {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: black;
  font-size: 16px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Price {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: black;
  margin-top: 10px;
  font-size: 16px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other .Buy {
  background-color: #4bc74b;
  width: 64px;
  height: 50px;
  cursor: pointer;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 19px;
  padding-top: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other .Quantity {
  color: black;
  font-weight: 500;
  padding-top: 17px;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other .Buy:hover {
  transition: 1s;
  opacity: 0.7;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other .Sell {
  background-color: rgb(221, 153, 153);
  width: 64px;
  height: 50px;
  cursor: pointer;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.container .BaseWrapper .WrapperItems .Item .InformationItems .Other .Sell:hover {
  transition: 1s;
  opacity: 0.7;
}
