* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    min-width: 100%;
    padding-top: 300px;
    background-color: #6950dd;
    font-family: 'Montserrat', sans-serif;
    height: 1500px;
}

$medium: 500;
$regular: 400;
$bold: 600;


.WrapperItems {
    position: relative;
    width: 360px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
    padding-left: 25px;
    padding-top: 60px;
    padding-right: 25px;
    padding-bottom: 30px;
    animation: taprola 1s linear;
    div {
        .ButtonrReturnToIntrudaction {
            position: absolute;
            left: 100px;
            text-align: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            bottom: 10px;
        }
        .ButtonGoToOptions {
            position: absolute;
            bottom: 10px;
            right: 158px;
            width: 40px;
            height: 40px;
        }
        .LanguageButtons {
            margin-top: 40px;
            margin-left: 15px;
            .EN {
                margin-right: 15px;
                display: inline-block;
                border: none;
                width: 100px;
                height: 30px;
                background-color: #E6E6FA;
                font-size: 15px;
                border-radius: 6px;
                font-weight: $medium;
                cursor: pointer;
            }
            .RU {
                margin-right: 15px;
                display: inline-block;
                border: none;
                width: 100px;
                height: 30px;
                background-color: #E6E6FA;
                font-size: 15px;
                border-radius: 6px;
                font-weight: $medium;
                cursor: pointer;
            }
        }
        .LanguageButton {
            position: absolute;
            bottom: 13px;
            right: 100px;
            width: 35px;
            height: 35px;
        }
        .Item {
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 18px;
        height: 50px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .ItemChoice {
            width: auto;
            border-radius: 13px;
            padding-top: 9px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
        }
        .AnimationItemChoice {
            animation: item 1s linear;
        }
        @keyframes item {
            from {
                background-color: white;
                opacity: 0.5;
            }
            to {
                background-color: #00CED1;
                opacity: 1;
            }
        }
        .Remains {
            width: auto;
            height: auto;
            position: absolute;
            right: 120px;
            padding-top: 7px;
            font-weight: $medium;
        }
        .WrapIconWaste {
            position: relative;
            padding-top: 5px;
            width: 30%;
        }
    }
    .Title {
        margin-left: 90px;
        margin-bottom: 90px;
    }
    .IconChangeColor {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        left: 10px;
        cursor: pointer;
    }
    .ColorInputDiv {
        position: absolute;
        top: 15px;
        right: 45px;
        animation: color 1s linear;
        input {
            margin-right: 10px;
            border: none;
            background-color: #E6E6FA;
            height: 25px;
            border-radius: 3px;
            padding-left: 20px;
        }
        button {
            border: none;
            cursor: pointer;
            background-color: lime;
            color: black;
            padding-left: 6px;
            padding-top: 3px;
            padding-right: 6px;
            padding-bottom: 3px;
            border-radius: 5px;
        }
    }
    @keyframes color {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    .Icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 65px;
        right: 85px;
    }
    .Quanlity {
        position: absolute;
        top: 130px;
        right: 145px;
        font-weight: $bold;
    }
    .Name {
        position: absolute;
        top: 130px;
        left: 40px;
        font-weight: $bold;
    }
    .ButtonCreateFormNewItem {
        display: inline-block;
        margin-top: 15px;
        border: none;
        margin-left: 15px;
        width: 100px;
        height: 30px;
        background-color: #E6E6FA;
        font-size: 15px;
        border-radius: 6px;
        font-weight: $medium;
        cursor: pointer;
    }
    .ButtonCreateFormNewItem:hover {
        transition: 1s;
        color: black;
        background-color: #87CEEB;
    }
    .EditItemButton {
        display: inline-block;
        margin-top: 15px;
        border: none;
        margin-left: 15px;
        width: 100px;
        height: 30px;
        background-color: #E6E6FA;
        font-size: 15px;
        border-radius: 6px;
        font-weight: $medium;
        cursor: pointer;
    }
    .WrapFormNewItem {
        margin-top: 25px;
        margin-left: 50px;
        animation: newItem 1s linear;
        .TitleNewItem {
            margin-bottom: 25px;
        }
        .InputNewItem {
            border: none;
            display: block;
            background-color: #E6E6FA;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 200px;
            height: 30px;
            padding-left: 15px;
            color: #191970;

        }
        .InputNewItem:focus {
            outline: none;
            outline-offset: none;
        }
        .ButtonAddNewItem {
            display: block;
            margin-top: 15px;
            border: none;
            margin-left: 45px;
            width: 100px;
            height: 30px;
            background-color: lime;
            font-size: 15px;
            border-radius: 6px;
            font-weight: $medium;
            cursor: pointer;
        }
        .ButtonAddNewItem:hover {
            transition: 1.5s;
            opacity: 0.6;
        }
    }
    @keyframes newItem {
        from {
            opacity: 0;
            filter: blur(5px);
        }
        to {
            opacity: 1;
            filter: none;
        }
    }
    .WrapEditing {
        margin-top: 25px;
        margin-left: 50px;
        animation: editing 1s linear;
        .TitleEditingItem {
            margin-bottom: 25px;
        }
        .EditingNameItem {
            border: none;
            display: block;
            background-color: #E6E6FA;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 200px;
            height: 30px;
            padding-left: 15px;
            color: #191970;
        }
        .EditingNameItem:focus {
            outline: none;
            outline-offset: none;
        }
        .EditingRemainsItem {
            border: none;
            display: block;
            background-color: #E6E6FA;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 200px;
            height: 30px;
            padding-left: 15px;
            color: #191970;
        }
        .PushEditButton {
            display: block;
            margin-top: 15px;
            border: none;
            margin-left: 45px;
            width: 100px;
            height: 30px;
            background-color: lime;
            font-size: 15px;
            border-radius: 6px;
            font-weight: $medium;
            cursor: pointer;
        }
    }
    @keyframes editing {
        from {
            opacity: 0;
            filter: blur(5px);
        }
        to {
            opacity: 1;
            filter: none;
        }
    }
    }
}
@keyframes taprola {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.WrapperWelcomeAlert {
    position: relative;
    background-color: white;
    min-height: 600px;
    width: 360px;
    margin:  0 auto;
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-radius: 30px;
    background-color: #333;
    animation: welcomealert 1s linear;
    .TitleWelcome {
        width: 100%;
        text-align: center;
        font-size: 42px;
        color: white;
        margin-bottom: 25px;
    }
    .UnderTitleMakeItEasy {
        font-size: 18px;
        color: white;
        font-weight: $medium;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
    .ParagraphAboutCreate {
        line-height: 25px;
        padding-left: 40px;
        color: #999;
        margin-bottom: 20px;
    }
    .UnderTitleEdit {
        font-size: 18px;
        color: white;
        font-weight: $medium;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
    .ParagraphAboutEdit {
        line-height: 25px;
        padding-left: 40px;
        color: #999;
        margin-bottom: 20px;
    }
    .UnderTitlePalette {
        font-size: 18px;
        color: white;
        font-weight: $medium;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
    .ParagraphAboutPallete {
        line-height: 25px;
        padding-left: 40px;
        color: #999;
        margin-bottom: 20px;
    }
    .ButtonStartWork {
        border: none;
        cursor: pointer;
        background-color: #0983ff;
        color: white;
        width: 200px;
        border-radius: 40px;
        height: 40px;
        font-size: 16px;
        font-weight: $medium;
        padding-left: 55px;
        padding-top: 10px;
        margin-left: 54px;
        margin-top: 35px;
        padding-right: 55px;
        padding-bottom: 10px;
        text-decoration: none;
    }
    .ButtonStartWork:hover {
        transition: 1s;
        opacity: 0.5;
        background-color: white;
        color: black;
    }
}
@keyframes welcomealert {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.WrapperOptions {
    position: relative;
    background-color: white;
    min-height: 500px;
    width: 360px;
    margin:  0 auto;
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-radius: 30px;
    animation: options 1s linear;
    .Illustration {
        position: relative;
        padding-left: 20px;
        width: 100%;
        height: 70px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 10px;
        background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(212, 90, 90, 1) 50%, rgba(252, 176, 69, 1) 100%);
        h3 {
            font-size: 21px;
            color: black;
            font-weight: 400;
            span {
                font-size: 35px;
                margin-left: 20px;
                font-weight: bold;
            }
        }
        img {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 20px;
            right: 40px;
        }
    }
    .WrapperCatigories {
        margin-top: 40px;
        .LanguageButtons {
            padding-left: 30px;
            padding-top: 30px;
            button {
                margin-right: 15px;
                display: inline-block;
                border: none;
                width: 100px;
                height: 30px;
                background-color: #E6E6FA;
                font-size: 15px;
                border-radius: 6px;
                font-weight: $medium;
                cursor: pointer;
            }
        }
    }
}
@keyframes options {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}