* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%;
  min-width: 100%;
  padding-top: 300px;
  background-color: #6950dd;
  font-family: 'Montserrat', sans-serif;
  height: 1500px; }

.WrapperItems {
  position: relative;
  width: 360px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  padding-left: 25px;
  padding-top: 60px;
  padding-right: 25px;
  padding-bottom: 30px;
  animation: taprola 1s linear; }
  .WrapperItems div .ButtonrReturnToIntrudaction {
    position: absolute;
    left: 100px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    bottom: 10px; }
  .WrapperItems div .ButtonGoToOptions {
    position: absolute;
    bottom: 10px;
    right: 158px;
    width: 40px;
    height: 40px; }
  .WrapperItems div .LanguageButtons {
    margin-top: 40px;
    margin-left: 15px; }
    .WrapperItems div .LanguageButtons .EN {
      margin-right: 15px;
      display: inline-block;
      border: none;
      width: 100px;
      height: 30px;
      background-color: #E6E6FA;
      font-size: 15px;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer; }
    .WrapperItems div .LanguageButtons .RU {
      margin-right: 15px;
      display: inline-block;
      border: none;
      width: 100px;
      height: 30px;
      background-color: #E6E6FA;
      font-size: 15px;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer; }
  .WrapperItems div .LanguageButton {
    position: absolute;
    bottom: 13px;
    right: 100px;
    width: 35px;
    height: 35px; }
  .WrapperItems div .Item {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    height: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; }
    .WrapperItems div .Item .ItemChoice {
      width: auto;
      border-radius: 13px;
      padding-top: 9px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer; }
    .WrapperItems div .Item .AnimationItemChoice {
      animation: item 1s linear; }
@keyframes item {
  from {
    background-color: white;
    opacity: 0.5; }
  to {
    background-color: #00CED1;
    opacity: 1; } }
    .WrapperItems div .Item .Remains {
      width: auto;
      height: auto;
      position: absolute;
      right: 120px;
      padding-top: 7px;
      font-weight: 500; }
    .WrapperItems div .Item .WrapIconWaste {
      position: relative;
      padding-top: 5px;
      width: 30%; }
  .WrapperItems div .Title {
    margin-left: 90px;
    margin-bottom: 90px; }
  .WrapperItems div .IconChangeColor {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer; }
  .WrapperItems div .ColorInputDiv {
    position: absolute;
    top: 15px;
    right: 45px;
    animation: color 1s linear; }
    .WrapperItems div .ColorInputDiv input {
      margin-right: 10px;
      border: none;
      background-color: #E6E6FA;
      height: 25px;
      border-radius: 3px;
      padding-left: 20px; }
    .WrapperItems div .ColorInputDiv button {
      border: none;
      cursor: pointer;
      background-color: lime;
      color: black;
      padding-left: 6px;
      padding-top: 3px;
      padding-right: 6px;
      padding-bottom: 3px;
      border-radius: 5px; }
@keyframes color {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }
  .WrapperItems div .Icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 65px;
    right: 85px; }
  .WrapperItems div .Quanlity {
    position: absolute;
    top: 130px;
    right: 145px;
    font-weight: 600; }
  .WrapperItems div .Name {
    position: absolute;
    top: 130px;
    left: 40px;
    font-weight: 600; }
  .WrapperItems div .ButtonCreateFormNewItem {
    display: inline-block;
    margin-top: 15px;
    border: none;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    background-color: #E6E6FA;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer; }
  .WrapperItems div .ButtonCreateFormNewItem:hover {
    transition: 1s;
    color: black;
    background-color: #87CEEB; }
  .WrapperItems div .EditItemButton {
    display: inline-block;
    margin-top: 15px;
    border: none;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    background-color: #E6E6FA;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer; }
  .WrapperItems div .WrapFormNewItem {
    margin-top: 25px;
    margin-left: 50px;
    animation: newItem 1s linear; }
    .WrapperItems div .WrapFormNewItem .TitleNewItem {
      margin-bottom: 25px; }
    .WrapperItems div .WrapFormNewItem .InputNewItem {
      border: none;
      display: block;
      background-color: #E6E6FA;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 30px;
      padding-left: 15px;
      color: #191970; }
    .WrapperItems div .WrapFormNewItem .InputNewItem:focus {
      outline: none;
      outline-offset: none; }
    .WrapperItems div .WrapFormNewItem .ButtonAddNewItem {
      display: block;
      margin-top: 15px;
      border: none;
      margin-left: 45px;
      width: 100px;
      height: 30px;
      background-color: lime;
      font-size: 15px;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer; }
    .WrapperItems div .WrapFormNewItem .ButtonAddNewItem:hover {
      transition: 1.5s;
      opacity: 0.6; }
@keyframes newItem {
  from {
    opacity: 0;
    filter: blur(5px); }
  to {
    opacity: 1;
    filter: none; } }
  .WrapperItems div .WrapEditing {
    margin-top: 25px;
    margin-left: 50px;
    animation: editing 1s linear; }
    .WrapperItems div .WrapEditing .TitleEditingItem {
      margin-bottom: 25px; }
    .WrapperItems div .WrapEditing .EditingNameItem {
      border: none;
      display: block;
      background-color: #E6E6FA;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 30px;
      padding-left: 15px;
      color: #191970; }
    .WrapperItems div .WrapEditing .EditingNameItem:focus {
      outline: none;
      outline-offset: none; }
    .WrapperItems div .WrapEditing .EditingRemainsItem {
      border: none;
      display: block;
      background-color: #E6E6FA;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 30px;
      padding-left: 15px;
      color: #191970; }
    .WrapperItems div .WrapEditing .PushEditButton {
      display: block;
      margin-top: 15px;
      border: none;
      margin-left: 45px;
      width: 100px;
      height: 30px;
      background-color: lime;
      font-size: 15px;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer; }
@keyframes editing {
  from {
    opacity: 0;
    filter: blur(5px); }
  to {
    opacity: 1;
    filter: none; } }
@keyframes taprola {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
.WrapperWelcomeAlert {
  position: relative;
  background-color: white;
  min-height: 600px;
  width: 360px;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: #333;
  animation: welcomealert 1s linear; }
  .WrapperWelcomeAlert .TitleWelcome {
    width: 100%;
    text-align: center;
    font-size: 42px;
    color: white;
    margin-bottom: 25px; }
  .WrapperWelcomeAlert .UnderTitleMakeItEasy {
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 5px; }
    .WrapperWelcomeAlert .UnderTitleMakeItEasy img {
      margin-right: 10px;
      width: 30px;
      height: 30px; }
  .WrapperWelcomeAlert .ParagraphAboutCreate {
    line-height: 25px;
    padding-left: 40px;
    color: #999;
    margin-bottom: 20px; }
  .WrapperWelcomeAlert .UnderTitleEdit {
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 5px; }
    .WrapperWelcomeAlert .UnderTitleEdit img {
      margin-right: 10px;
      width: 30px;
      height: 30px; }
  .WrapperWelcomeAlert .ParagraphAboutEdit {
    line-height: 25px;
    padding-left: 40px;
    color: #999;
    margin-bottom: 20px; }
  .WrapperWelcomeAlert .UnderTitlePalette {
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 5px; }
    .WrapperWelcomeAlert .UnderTitlePalette img {
      margin-right: 10px;
      width: 30px;
      height: 30px; }
  .WrapperWelcomeAlert .ParagraphAboutPallete {
    line-height: 25px;
    padding-left: 40px;
    color: #999;
    margin-bottom: 20px; }
  .WrapperWelcomeAlert .ButtonStartWork {
    border: none;
    cursor: pointer;
    background-color: #0983ff;
    color: white;
    width: 200px;
    border-radius: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 55px;
    padding-top: 10px;
    margin-left: 54px;
    margin-top: 35px;
    padding-right: 55px;
    padding-bottom: 10px;
    text-decoration: none; }
  .WrapperWelcomeAlert .ButtonStartWork:hover {
    transition: 1s;
    opacity: 0.5;
    background-color: white;
    color: black; }

@keyframes welcomealert {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
.WrapperOptions {
  position: relative;
  background-color: white;
  min-height: 500px;
  width: 360px;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  border-radius: 30px;
  animation: options 1s linear; }
  .WrapperOptions .Illustration {
    position: relative;
    padding-left: 20px;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    background: #833ab4;
    background: linear-gradient(90deg, #833ab4 0%, #d45a5a 50%, #fcb045 100%); }
    .WrapperOptions .Illustration h3 {
      font-size: 21px;
      color: black;
      font-weight: 400; }
      .WrapperOptions .Illustration h3 span {
        font-size: 35px;
        margin-left: 20px;
        font-weight: bold; }
    .WrapperOptions .Illustration img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 40px; }
  .WrapperOptions .WrapperCatigories {
    margin-top: 40px; }
    .WrapperOptions .WrapperCatigories .LanguageButtons {
      padding-left: 30px;
      padding-top: 30px; }
      .WrapperOptions .WrapperCatigories .LanguageButtons button {
        margin-right: 15px;
        display: inline-block;
        border: none;
        width: 100px;
        height: 30px;
        background-color: #E6E6FA;
        font-size: 15px;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer; }

@keyframes options {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=bundle.css.map */
