* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: greenyellow;
    text-align: center;
    height: 50px;
}


.footer {
    background-color: greenyellow;
    text-align: center;
    height: 50px;
}

.content-wrap {
    background-color: blue;
}

.menu {
    width: 200px;
    background-color: red;
    float: left;
}

.banner {
    width: 200px;
    background-color: green;
    float: right;
}

.content {
    background-color: purple;
    
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    

}

@media all and (max-width:873px) {
    .banner, .menu {
        height: 300px;
    }
    .banner {
        background-color: lightseagreen;
    }
    .menu {
        background-color: tomato;
    }
}

@media all and (max-width:694px) {
    .banner, .menu {
        height: 400px;
    }
}

@media all and (max-width:578px) {

    .banner,
    .menu {
        height: 400px;
    }
}

@media all and (max-width:539px) {
    .banner, .menu {
        width: 100%;
        float: none;

    }
}


     
