.content {
    float: left;

}


div.picture {
     background-image: url(../img/star0.png);
     background-repeat: no-repeat;
     width: 100px;
     height: 100px;
     float: right;
    
 }



/* .picture:hover ~ .picture:nth-child(-n+2),
.picture:hover ~ .picture:nth-child(-n+3),
.picture:hover ~ .picture:nth-child(-n+4),
.picture:hover ~ .picture:nth-child(-n+5) */


.picture:hover ~ .picture {

    background-image: url(../img/star1.png);
    
}

.picture:hover {
    background-image: url(../img/star1.png);
}



