.star1 img {
    opacity: 0;
}

.star1:hover {
    background-image: url(../img/star1.png) ;
    background-repeat: no-repeat;
}

.star2:hover {
    background-image: url(../img/star1.png);
    background-repeat: no-repeat;
}

.star2:hover {
    background-image: url(../img/star1.png);
    background-repeat: no-repeat;
}

.star2 img {
    opacity: 0;
}

.content {
    display: flex;
}