* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Selected {
  background-color: black;
  color: white;
  transition: 1s;
}

.Container {
  margin: 0 auto;
  width: 1544px;
}

.WrapperHeader {
  height: 151px;
  border-bottom: 2px solid black;
}

.WrapperHeader .Container {
  height: 100%;
}

.Header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .Logo {
  width: 190px;
  height: 37px;
}


.Header .ListPageHeader {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.Header .Search {
  width: 224px;
  border: none;
  border-bottom: 2px solid black;
  padding-left: 5px;
  font-style: italic;
}

.Header .Search:focus {
  outline: none;
  outline-offset: none;
}

.Header .RestHeader {
  width: 485px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Header .RestHeader img {
  cursor: pointer;
}

.Header .ListPage {
  line-height: 20.16px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.Header .ListPage:hover {
  transition: 1s;
  color: red;
}

.Header .RestHeader .SearchButton {
  position: absolute;
  left: 180px;
  cursor: pointer;
}


.Catalog .FlexibilityBlockCatalog {
  display: flex;
  justify-content: space-between;
}

.Catalog .FlexibilityBlockCatalog .Illustration {
  width: 876px;
  height: 588px;
}

.Catalog .BigStaticText {
  padding-top: 86px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Catalog .BigStaticText p:nth-child(1) {
  width: 622px;
  height: 180px;
  font-size: 40px;
  font-weight: 300;
  line-height: 44.8px;
  text-align: center;
}

.Catalog .BigStaticText span {
  width: 622px;
  height: 180px;
  font-size: 40px;
  font-weight: 500;
  line-height: 44.8px;
}

.Catalog .BigStaticText p:nth-child(2) {
  width: 619px;
  height: 81px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  margin-top: 51px;
}

.Catalog .BigStaticText button {
  width: 357px;
  height: 53px;
  background-color: #242121;
  border: none;
  margin-top: 54px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 7px 6px 0px 0px rgba(192, 155, 131, 0.73);
  -moz-box-shadow: 7px 6px 0px 0px rgba(192, 155, 131, 0.73);
  box-shadow: 7px 6px 0px 0px rgba(192, 155, 131, 0.73);
}

.Catalog .BigStaticText button:hover {
  transition: 1s;
  opacity: 0.7;
}

.Catalog .BigStaticText button img {
  margin-left: 10px;
}

.Catalog .CatalogOffers {
  width: 1282.48px;
  margin: 0 auto;
  padding-top: 58px;
}

.Catalog .CatalogOffers .MiniTitle {
  font-weight: 500;
  line-height: 20.16px;
  font-size: 18px;
}

.Catalog .CatalogOffers .TitlesList {
  display: flex;
  width: 303px;
  padding-top: 27px;
  justify-content: space-between;
  align-content: center;
}

.Catalog .CatalogOffers .TitlesList li {
  border: 1px solid black;
  padding-left: 8px;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  cursor: pointer;
}

.Catalog .CatalogOffers .WrapperItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 0.1px;
  padding-top: 58px;
  animation: wrapperItems 1s linear;
}


@keyframes wrapperItems {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.Catalog .CatalogOffers .WrapperItems .Item {
  width: 306.37px;
  height: 530px;
  padding-top: 15px;
  padding-left: 37.63px;
  padding-right: 37.74px;
  padding-bottom: 57px;
  border: 1px solid black;
  margin-bottom: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 10;
  background-color: white;
}

.Catalog .CatalogOffers .WrapperItems .Item:hover {
  transition: 0.4s;
  opacity: 0.7;
}

.Catalog .CatalogOffers .WrapperItems .Item .RestItems {
  position: relative;
}

.Catalog .CatalogOffers .WrapperItems .Item .RestItems h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20.16px;
  margin-bottom: 30px;
}

.Catalog .CatalogOffers .WrapperItems .Item .RestItems p {
  font-weight: 400;
  font-size: 16px;
  line-height: 17.92px;
}

.Catalog .CatalogOffers .WrapperItems .Item .RestItems .ArrowButton {
  position: absolute;
  bottom: 0px;
  right: 50px;
  cursor: pointer;
}

.Catalog .CatalogDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 25.92px;
  width: 100%;
  padding-bottom: 49px;
}

/* .Catalog .FirstShelf {
  position: absolute;
  width: 100%;
  height: 153px;
  background-color: #E2B08E;
  top: -230px;
}

.Catalog .SecondShelf {
  position: absolute;
  width: 100%;
  height: 153px;
  background-color: #E2B08E;
  top: -1060px;
} */

.WrapperFooter {
  height: 385px;
  background-color: #F6D5BF;
  padding-bottom: 164px;
  padding-top: 67px;
}

.WrapperFooter .Footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WrapperFooter .Footer .WBlockFooter {
  width: 100%;
}

.WrapperFooter .Footer .FooterLists {
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WrapperFooter .Footer .FooterLists ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 126px;
}

.WrapperFooter .Footer .FooterLists ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.92px;
}

.WrapperFooter .Footer .FooterLists h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 31.36px;
  margin-bottom: 23px;
}

.WrapperFooter .Footer .FooterLists input {
  width: 273px;
  height: 40px;
  border: 1px solid black;
  padding-left: 11px;
  background-color: white;
}

.WrapperFooter .Footer .FooterLists input:focus {
  outline: none;
  outline-offset: none;
}

.WrapperFooter .Footer .FooterLists button {
  width: 125px;
  height: 40px;
  margin-left: 10px;
  background-color: #242121;
  border: 1px solid #242121;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.WrapperFooter .Footer .FooterLists button:hover {
  transition: 1s;
  opacity: 0.7;
}

.CurrentBookDetails {
  width: 100%;
  padding-bottom: 100px;
}

.CurrentBookDetails .CurrentBook {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 93px;
}

.CurrentBookDetails .CurrentBook .BookImage {
  height: 345px;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook {
  height: 345px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName {
  width: 98%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .AboutBook h4 {
  font-size: 34px;
  font-weight: 400;
  line-height: 38.08px;
  margin-bottom: 30px;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .AboutBook p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.16px;
}

 .CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName .BookPrice {
  font-size: 34px;
  font-weight: 400;
  line-height: 38.08px;
 }

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38.08px;
}


.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName button {
  width: 204px;
  height: 53px;
  background-color: #242121;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.16px;
  color: white;
  cursor: pointer;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName button:hover {
  transition: 1s;
  opacity: 0.7;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName .LikeButton {
  width: 93px;
  height: 53px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName .LikeButton img {
  width: 34px;
  height: 32px;
}

.CurrentBookDetails .CurrentBook .InformationAboutCurrentBook .BookName .LikeButton:hover {
  transition: 1s;
  opacity: 0.7;
}

.FavouriteBooks {
  display: flex;
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.FavouriteBooks .FavouriteBook .AuthorAndName h4 {
  font-size: 28px;
  font-weight: 400;
  line-height: 31.36px;
}

.FavouriteBooks .FavouriteBook .AuthorAndName h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24.64px;
}


.FavouriteBooks .FavouriteBook {
  margin-left: 30px;
}