 @media all and (max-width:1400px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }
        div.header h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-family: 'Montserrat';
            font-size: 70px;
            line-height: 156px;
            padding-top: 110px;
            padding-left: 194px;
            color: white;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 26% 53%;
        }
        .header-paragraph-first {
            font-family: 'Montserrat';
            font-weight: 800;
            color: white;
            padding-left: 234px;
            font-size: 30px;
            text-transform: uppercase;
        }
        .second-paragraph-header {
            font-size: 22px;
            font-family: 'Montserrat';
            font-weight: 400;
            letter-spacing: 7.33px;
            line-height: 32px;
            text-align: center;
            color: #6e6f6f;
            margin-top: 51px;
            background-image: url(../img/line-before.png);
            background-repeat: no-repeat;
            background-position: 25%;
        }
        .third-paragraph-header {
            color: white;
            padding-left: 800px;
            font-family: 'Fira Sans';
            font-size: 27px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            margin-top: 23px;
        }
        .p-flex {
            display: flex;
            padding-left: 497px;
        }
        
        div.section-one h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 30% 18%;
        }
        .first-div-section-one {
            width: 819px;
            height: 456px;
            margin-top: 37px;
            margin-left: 102px;
            display: flex;
        }
        .second-div-section-one {
            display: flex;
            margin-bottom: -2px;
            margin-left: 90px;
            margin-top: -30px;
        }
        .div-paragraph-header {
            display: block;
        }

        .second-div-p {
            margin-left: 5px;
            width: 393px;
            margin-left: 550px;
            margin-top: -400px;
        }
        .last-div-p {
            margin-left: 530px;
            width: 393px;
            margin-top: -400px;
        }
        div.section-two h1 {
            margin-top: -40px;
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
        }
        .block-first-partners {
            width: 717px;
            height: 160px;
            margin-top: 73px;
            margin-left: 300px;
            display: flex;
        }
        .block-second-partners {
            width: 717px;
            height: 160px;
            margin-top: 69px;
            margin-left: 300px;
            display: flex;
        }
        .sixth-partners {
            margin-left: 139px;
            width: 250px;
            height: 160px;
            background-image: url(../img/crft-text.png);
            background-repeat: no-repeat;
            background-position: 50% 60%;
            display: none;
        }
        .third-partners {
            width: 250px;
            height: 160px;
            margin-left: 127px;
            display: none;
        }
        .section-three {
            padding-top: 206px;
            background-color: #171919;
            background-image: url(../img/fone-section3.png);
            background-repeat: no-repeat;
            background-position: 58% 9%;
            margin-bottom: -2px;
            padding-bottom: 600px;
        }
        .row-of-cards-one {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-left: 200px;
        }
        .row-of-cards-one2 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            flex-direction: column;
            margin-left: 650px;
            margin-top: -380px;
        }
        .row-of-cards-one3 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            display: none;
            /* flex-direction: column; */
            /* margin-left: 700px; */
            /* margin-top: -380px; */
        }
    .card-1 {
        margin-bottom: 30px;
    }

        .section-three {
            padding-top: 206px;
            background-color: #171919;
            background-image: url(../img/fone-section3.png);
            background-repeat: no-repeat;
            background-position: 40% 19%;
            margin-bottom: -2px;
            padding-bottom: 600px;
        }

        .section-four h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 60px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 21% 20%;
            margin-bottom: 106px;
        }
        

        

} 

@media all and (max-width:1332px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }

    .fone-section-four {
        background: url(../img/small-fone.png);
        background-repeat: no-repeat;
        background-position: 40% 30%;
    }

    .list {
        margin-top: 151px;
        margin-left: 150px;
    }

    .list2 {
        margin-top: 145px;
        margin-left: 250px;
    }
    
}

@media all and (max-width:1200px) {
    .container {
        width: 900px;
        padding: 0px 15px;
    }

        .blocks {
            height: 973px;
            margin-top: 165px;
            margin-bottom: -1px;
            margin-left: -30px;
        }
        .first-div-section-one {
            width: 819px;
            height: 456px;
            margin-top: 37px;
            margin-left: 12px;
            display: flex;
        }

        .second-div-section-one {
            display: flex;
            margin-bottom: -2px;
            margin-left: 12px;
            margin-top: -30px;
        }
        .second-paragraph-header {
            font-size: 22px;
            font-family: 'Montserrat';
            font-weight: 400;
            letter-spacing: 7.33px;
            line-height: 32px;
            text-align: center;
            color: #6e6f6f;
            margin-top: 51px;
            background-image: url(../img/line-before.png);
            background-repeat: no-repeat;
            background-position: 15%;
        }

        .third-paragraph-header {
            color: white;
            padding-left: 800px;
            font-family: 'Fira Sans';
            font-size: 27px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            margin-top: 23px;
            margin-left: -160px;
        }
        .fifth-paragraph-header {
            margin-top: 212px;
            color: #FFFFFF;
            font-family: 'Fira Sans';
            letter-spacing: 8px;
            font-weight: 400;
            line-height: 19.2px;
            width: 300px;
            text-transform: uppercase;
            margin-left: -120px;
        }

        .four-paragraph-header {
            color: #6e6f6f;
            font-size: 18px;
            letter-spacing: 16px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 21.94px;
            margin-top: 34px;
            writing-mode: vertical-lr;
            text-orientation: upleft;
            margin-left: -60px;
        }
        .block-first-partners {
            width: 717px;
            height: 160px;
            margin-top: 73px;
            margin-left: 150px;
            display: flex;
        }
        .block-second-partners {
            width: 717px;
            height: 160px;
            margin-top: 69px;
            margin-left: 150px;
            display: flex;
        }
        .list2 {
            margin-top: 145px;
            margin-left: 50px;
        }
        .list3 {
            margin-left: 100px;
            margin-top: 80px;
        }
        .list4 {
            margin-left: 103px;
            margin-top: 220px;
        }
        .footer-join h3 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
            color: white;
            margin-left: 150px;
        }
        .social-network {
            display: flex;
            margin-top: 84px;
            margin-left: 143px;
        }

        .row-of-cards-one {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;
        }
        .row-of-cards-one2 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            flex-direction: column;
            margin-left: 450px;
            margin-top: -380px;
        }
        .section-three h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 80px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 290px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 47% 20%;
            margin-bottom: 106px;
        }
        
        
        
}
 