 @media all and (max-width:1280px) {
    .container {
        width: 1100px;
        padding: 0px 15px;
        margin: 0 auto;
    }
        div.header h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-family: 'Montserrat';
            font-size: 70px;
            line-height: 156px;
            padding-top: 110px;
            padding-left: 194px;
            color: white;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 26% 53%;
        }
        .header-paragraph-first {
            font-family: 'Montserrat';
            font-weight: 800;
            color: white;
            padding-left: 234px;
            font-size: 30px;
            text-transform: uppercase;
        }
        .four-paragraph-header {
            color: #6e6f6f;
            font-size: 18px;
            letter-spacing: 16px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 21.94px;
            margin-top: 34px;
            writing-mode: vertical-lr;
            text-orientation: upleft;
            margin-left: 90px;
        }
        
        .second-paragraph-header {
            font-size: 22px;
            font-family: 'Montserrat';
            font-weight: 400;
            letter-spacing: 7.33px;
            line-height: 32px;
            text-align: center;
            color: #6e6f6f;
            margin-top: 51px;
            background-image: url(../img/line-before.png);
            background-repeat: no-repeat;
            background-position: 15%;
        }
        .third-paragraph-header {
            color: white;
            padding-left: 800px;
            font-family: 'Fira Sans';
            font-size: 27px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            margin-top: 23px;
        }
        .p-flex {
            display: flex;
            padding-left: 497px;
        }
        
        div.section-one h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 30% 18%;
        }
        .first-div-section-one {
            width: 819px;
            height: 456px;
            margin-top: 37px;
            margin-left: 222px;
            display: flex;
        }
        .second-div-section-one {
            display: flex;
            margin-bottom: -2px;
            margin-left: 220px;
            margin-top: -30px;
        }
        .div-paragraph-header {
            display: block;
        }

        .second-div-p {
            margin-left: 5px;
            width: 393px;
            margin-left: 550px;
            margin-top: -400px;
        }
        .last-div-p {
            margin-left: 530px;
            width: 393px;
            margin-top: -400px;
        }
        div.section-two h1 {
            margin-top: -40px;
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
        }
        .block-first-partners {
            width: 717px;
            height: 160px;
            margin-top: 73px;
            margin-left: 300px;
            display: flex;
        }

        .blocks {
            margin-left: 100px;
        }


        .block-second-partners {
            width: 717px;
            height: 160px;
            margin-top: 69px;
            margin-left: 300px;
            display: flex;
        }
        .sixth-partners {
            margin-left: 139px;
            width: 250px;
            height: 160px;
            background-image: url(../img/crft-text.png);
            background-repeat: no-repeat;
            background-position: 50% 60%;
            display: none;
        }
        .third-partners {
            width: 250px;
            height: 160px;
            margin-left: 127px;
            display: none;
        }
        .section-three {
            padding-top: 206px;
            background-color: #171919;
            background-image: url(../img/fone-section3.png);
            background-repeat: no-repeat;
            background-position: 58% 9%;
            margin-bottom: -2px;
            padding-bottom: 600px;
        }
        .row-of-cards-one {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-left: 180px;
        }
        .row-of-cards-one2 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            flex-direction: column;
            margin-left: 550px;
            margin-top: -380px;
        }
        .row-of-cards-one3 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            display: none;
            /* flex-direction: column; */
            /* margin-left: 700px; */
            /* margin-top: -380px; */
        }
    .card-1 {
        margin-bottom: 30px;
    }

        .section-three {
            padding-top: 206px;
            background-color: #171919;
            background-image: url(../img/fone-section3.png);
            background-repeat: no-repeat;
            background-position: 40% 19%;
            margin-bottom: -2px;
            padding-bottom: 600px;
        }

        .section-four h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 70px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 60px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 21% 20%;
            
        }

        .list {
            margin-top: 151px;
            margin-left: 129px;
            
        }
        
        div.list ul li {
            color: red;
        }
        
        .list2 {
            margin-top: 10px;
            margin-left: 255px;
        }

        div.list2 ul li {
            color: red;
        }

        div.list3 ul li,
        div.list4 ul li {
            color: red;
        }

        .section-three h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 80px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 405px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 47% 20%;
            margin-bottom: 106px;
        }
         .first-div-p {
             width: 393px;
    
             padding-left: 70px;
         }
         }


        



@media all and (max-width:1100px){
    .container {
        width: 1000px;
        padding: 0px 15px;
        margin: 0 auto;
    }
        .blocks {
            margin-left: 20px;
        }
        .first-div-section-one {
            width: 819px;
            height: 456px;
            margin-top: 37px;
            margin-left: 100px;
            display: flex;
        }
        .second-div-section-one {
            display: flex;
            margin-bottom: -2px;
            margin-left: 100px;
            margin-top: -30px;
        }
        .block-2 {
            margin-left: 100px;
            background-image: url(../img/mini-circle.png);
            background-repeat: no-repeat;
            background-position: 98% 15%;
            width: 350px;
        }
        .block-4 {
            width: 350px;
            margin-left: 70px;
            background-image: url(../img/mini-circle.png);
            background-repeat: no-repeat;
            background-position: 95% 19%;
            margin-top: 210px;
        }
        .block-first-partners {
            width: 717px;
            height: 160px;
            margin-top: 73px;
            margin-left: 150px;
            display: flex;
        }
        .block-second-partners {
            width: 717px;
            height: 160px;
            margin-top: 69px;
            margin-left: 150px;
            display: flex;
        }
        .section-three h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 80px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 175px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 27% 20%;
            margin-bottom: 106px;
        }
        .row-of-cards-one {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-left: 140px;
        }
        .row-of-cards-one2 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            flex-direction: column;
            margin-left: 490px;
            margin-top: -380px;
        }
        .fone-section-four {
            background: url(../img/small-fone.png) no-repeat 55% 40%;
            display: flex;
        }
        .list4 {
            margin-left: 0px;
            margin-top: 220px;
        }
        .list3 {
            margin-left: 0px;
            margin-top: 80px;
        }
        .list-12 {
            display: block;
        }
        .list-34 {
            display: block;
        }
         .first-div-p {
             width: 393px;
    
             padding-left: 70px;
         }
         }






@media all and (max-width:993px) {
    .container {
            width: 800px;
            padding: 0px 15px;
            margin: 0 auto;
        }
        
        div.header h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-family: 'Montserrat';
            font-size: 70px;
            line-height: 156px;
            padding-top: 110px;
            padding-left: 194px;
            color: white;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 40% 53%;
        }
        .third-paragraph-header {
            color: white;
            padding-left: 480px;
            font-family: 'Fira Sans';
            font-size: 27px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            margin-top: 23px;
        }
        .p-flex {
            display: flex;
            padding-left: 197px;
        }
        .four-paragraph-header {
            color: #6e6f6f;
            font-size: 18px;
            letter-spacing: 16px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 21.94px;
            margin-top: 34px;
            writing-mode: vertical-lr;
            text-orientation: upleft;
            margin-left: 80px;
        }

        .first-div-p {
            width: 293px;
            
            padding-left: 70px;
        }
        .second-div-p {
            margin-left: 5px;
            width: 293px;
            margin-left: 450px;
            margin-top: -400px;
        }
        .third-div-p {
            margin-left: 37px;
            width: 293px;
            /* padding-top: 69px; */
            margin-left: 70px;
        }
        
        div.second-div-p p {
            margin-top: 30px;
            font-family: 'Fira Sans';
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 8px;
            color: white;
            text-transform: uppercase;
          
            font-size: 14px;
        }
        .first-div-p p {
            margin-top: 30px;
            font-family: 'Fira Sans';
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 8px;
            color: white;
            text-transform: uppercase;
       
            font-size: 14px;
        }
        div.third-div-p p {
            margin-top: 30px;
            font-family: 'Fira Sans';
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 8px;
            color: white;
            text-transform: uppercase;
            
            font-size: 14px;
        }
        .last-div-p {
            margin-left: 430px;
            width: 293px;
            margin-top: -400px;
        }
        .last-div-p p {
            margin-top: 30px;
            font-family: 'Fira Sans';
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 8px;
            color: white;
            text-transform: uppercase;
            width: 293px;
            font-size: 14px;
        }
        .last-div-p h3 {
            font-size: 25px;
            font-family: 'Montserrat';
            font-weight: 800;
            line-height: 44px;
            color: white;
        }
        .second-paragraph-header {
            font-size: 22px;
            font-family: 'Montserrat';
            font-weight: 400;
            letter-spacing: 7.33px;
            line-height: 32px;
            text-align: center;
            color: #6e6f6f;
            margin-top: 51px;
            background-image: url(../img/line-before.png);
            background-repeat: no-repeat;
            background-position: 5%;
        }
        div.div-paragraph-header h3 {
            font-size: 25px;
            font-family: 'Montserrat';
            font-weight: 800;
            line-height: 44px;
            color: white;
        }
        
        
        
        div.section-one h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 60px;
            line-height: 156px;
            padding-left: 100px;
            text-transform: uppercase;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 30% 18%;
        }
        .first-div-section-one {
            /* width: 819px; */
            height: 456px;
            margin-top: 37px;
            margin-left: 0px;
            display: flex;
        }
        .second-div-section-one {
            display: flex;
            margin-bottom: -2px;
            margin-left: 0px;
            margin-top: -30px;
        }
        div.section-two h1 {
            margin-top: -40px;
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 60px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
        }
        .block-first-partners {
            /* width: 717px; */
            height: 160px;
            margin-top: 73px;
            margin-left: 100px;
            display: flex;
        }
        .block-second-partners {
            /* width: 717px; */
            height: 160px;
            margin-top: 69px;
            margin-left: 100px;
            display: flex;
        }
        .section-three h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 60px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 175px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 27% 20%;
            margin-bottom: 106px;
        }
        .row-of-cards-one {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-left: 40px;
        }
        .row-of-cards-one2 {
            margin: 0 auto;
            width: 316px;
            height: 380px;
            display: flex;
            margin-top: 35px;
            flex-direction: column;
            margin-left: 390px;
            margin-top: -380px;
        }
        .section-four h1 {
            color: white;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 60px;
            line-height: 156px;
            padding-left: 140px;
            text-transform: uppercase;
            padding-left: 60px;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 21% 20%;
        }
        .list h4 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 25px;
            line-height: 156px;
            text-transform: uppercase;
            color: white;
        }
        .list3 h4 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 25px;
            line-height: 156px;
            text-transform: uppercase;
            color: white;
        }
        .list4 h4 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 25px;
            line-height: 156px;
            text-transform: uppercase;
            color: white;
        }
        .list2 h4 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 25px;
            line-height: 156px;
            text-transform: uppercase;
            color: white;
        }
    div.list ul li {
        font-size: 14px;
    }
    div.list2 ul li {
        font-size: 14px;
    }
    div.list3 ul li {
        font-size: 14px;
    }
    div.list4 ul li {
        font-size: 14px;
    }
        .list {
            margin-top: 151px;
            margin-left: 59px;
        }
        .list3 {
            margin-left: -90px;
            margin-top: 80px;
        }
        .list2 {
            margin-top: 10px;
            margin-left: 195px;
        }
        .footer-join h3 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 22px;
            line-height: 48px;
            text-transform: uppercase;
            color: white;
            margin-left: 150px;
        }
        .social-network {
            display: flex;
            margin-top: 84px;
            margin-left: 143px;
        }
                .footer p {
                    margin-top: 103px;
                    color: #6e6f6f;
                    margin-left: 0px;
                }
        div.block-2 h4 {
            text-transform: uppercase;
            color: white;
            font-family: 'Fira Sans';
            font-weight: 800;
            font-size: 32px;
            line-height: 86px;
            background-image: url(../img/gray\ line.png);
            background-repeat: no-repeat;
            background-position: 78%;
            width: 320px;
        }
        div.block-2 p {
            width: 300px;
            letter-spacing: 8px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #6e6f6f;
            text-transform: uppercase;
        }
        .block-1 h4 {
            text-transform: uppercase;
            color: white;
            font-family: 'Fira Sans';
            font-weight: 800;
            font-size: 32px;
            line-height: 86px;
            background-image: url(../img/gray\ line.png);
            background-repeat: no-repeat;
            background-position: 70%;
        }
        .block-1 p {
            width: 300px;
            letter-spacing: 8px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #6e6f6f;
            text-transform: uppercase;
        }
        div.block-3 p {
            width: 300px;
            letter-spacing: 8px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #6e6f6f;
            text-transform: uppercase;
        }
        div.block-3 h4 {
            text-transform: uppercase;
            color: white;
            font-family: 'Fira Sans';
            font-weight: 800;
            font-size: 32px;
            line-height: 86px;
            background-image: url(../img/gray\ line.png);
            background-repeat: no-repeat;
            background-position: 75%;
            width: 350px;
        }
        div.block-4 h4 {
            text-transform: uppercase;
            color: white;
            font-family: 'Fira Sans';
            font-weight: 800;
            font-size: 32px;
            line-height: 86px;
            background-image: url(../img/gray\ line.png);
            background-repeat: no-repeat;
            background-position: 75%;
            width: 315px;
        }
        div.block-2 span {
            display: inline-block;
            width: 159px;
            font-size: 18px;
            letter-spacing: 7.33px;
            line-height: 32px;
            font-family: 'Montserrat';
            font-weight: 400;
            color: #6e6f6f;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 99%;
        }
        .block-1 span {
            display: inline-block;
            width: 159px;
            font-size: 18px;
            letter-spacing: 7.33px;
            line-height: 32px;
            font-family: 'Montserrat';
            font-weight: 400;
            color: #6e6f6f;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 99%;
        }

        div.block-3 span {
            display: inline-block;
            width: 159px;
            font-size: 18px;
            letter-spacing: 7.33px;
            line-height: 32px;
            font-family: 'Montserrat';
            font-weight: 400;
            color: #6e6f6f;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 99%;
        }

    
        div.block-4 span {
            display: inline-block;
            width: 159px;
            font-size: 18px;
            letter-spacing: 7.33px;
            line-height: 32px;
            font-family: 'Montserrat';
            font-weight: 400;
            color: #6e6f6f;
            background-image: url(../img/red-line.png);
            background-repeat: no-repeat;
            background-position: 99%;
        }
        .block-1 {
            width: 300px;
            background-image: url(../img/mini-circle.png);
            background-repeat: no-repeat;
            background-position: 90% 29%;
            padding-top: 60px;
        }
    
       

    }

    