* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #171919;
    
    background-image: url(../img/big-fone-header.png) ;
    background-repeat: no-repeat;
    background-position: 2% 10%;


}


div.header h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Montserrat';
    font-size: 80px;
    line-height: 156px;
    padding-top: 110px;
    padding-left: 194px;
    color: white;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 26% 53%;


}




.header-paragraph-first {
    font-family: 'Montserrat';
    font-weight: 800;
    color: white;
    padding-left: 234px;
    font-size: 40px;
    text-transform: uppercase;

}

.second-paragraph-header {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 7.33px;
    line-height: 32px;
    text-align: right;
    color: #6e6f6f;
    margin-top: 51px;
    background-image: url(../img/line-before.png);
    background-repeat: no-repeat;
    background-position: 60%;
}

.third-paragraph-header {
    color: white;
    padding-left: 1085px;
    font-family: 'Fira Sans';
    font-size: 27px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 23px;
}

.p-flex {
    display: flex;
    padding-left: 777px;
}

.fifth-paragraph-header {
    margin-top: 212px;
    color: #FFFFFF;
    font-family: 'Fira Sans';
    letter-spacing: 8px;
    font-weight: 400;
    line-height: 19.2px;
    width: 300px;
    text-transform: uppercase;
}

.four-paragraph-header {
    color: #6e6f6f;
    font-size: 18px;
    letter-spacing: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 21.94px;
    margin-top: 34px;
    writing-mode: vertical-lr;
    text-orientation: upleft;
    margin-left: 100px;

}


/* 4p */

.div-paragraph-header {
    display: flex;
}

.blocks {
    height: 873px;
    margin-top: 165px;
    margin-bottom: -1px;
    
    
}

div.div-paragraph-header h3 {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 44px;
    color: white;
}

div.div-paragraph-header h3::after {
    content: '//';
    color: red;
    margin-left: 5px;
}

.first-div-p p {
    margin-top: 30px;
    font-family: 'Fira Sans';
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
    width: 295px;
}

.first-div-p  {
    width: 393px;
    padding-top: 69px;
    padding-left: 70px;
  
}

.second-div-p {
    margin-left: 5px;
    width: 393px;
    margin-left: 70px;
}

div.second-div-p p {
    margin-top: 30px;
    font-family: 'Fira Sans';
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
    width: 295px;
}

.third-div-p {
    margin-left: 37px;
    width: 393px;
    padding-top: 69px;
    margin-left: 70px;
}

div.third-div-p p {
    margin-top: 30px;
    font-family: 'Fira Sans';
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
    width: 295px;
}


.last-div-p {
    margin-left: 430px;
    width: 393px;
}

.last-div-p h3 {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 44px;
    color: white;
}

.last-div-p h3::after {
    content: '//';
    color: red;
    margin-left: 5px;
}

.last-div-p p {
    margin-top: 30px;
    font-family: 'Fira Sans';
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
    width: 295px;
}

/* section1 */

.section-one {
    padding-top: 234px;
    background-color: #171919;
    background-image: url(../img/big-fone-section1.png);
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

div.section-one h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 800 ;
    font-size: 80px;
    line-height: 156px;
    padding-left: 140px;
    text-transform: uppercase;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 30% 18%;
}

.first-div-section-one {
    width: 819px;
    height: 456px;
    margin-top: 37px;
    margin-left: 342px;
    display: flex;
}

.block-1 {
    width: 300px;
    background-image: url(../img/mini-circle.png);
    background-repeat: no-repeat;
    background-position: 100% 29%;
    padding-top: 60px;
}

.block-1 span {
    display: inline-block;
    width: 159px;
    font-size: 22px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 99%;

}



.block-1 h4 {
    text-transform: uppercase;
    color: white;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 42px;
    line-height: 86px;
    background-image: url(../img/gray\ line.png);
    background-repeat: no-repeat;
    background-position: 83%;
}

.block-1 p {
    width: 300px;
    letter-spacing: 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #6e6f6f;
    text-transform: uppercase;
}

.block-2 {
    margin-left: 157px;
    background-image: url(../img/mini-circle.png);
    background-repeat: no-repeat;
    background-position: 98% 15%;
    width: 350px;
}

div.block-2 span {
    display: inline-block;
    width: 159px;
    font-size: 22px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 99%;
}

div.block-2 h4 {
    text-transform: uppercase;
    color: white;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 42px;
    line-height: 86px;
    background-image: url(../img/gray\ line.png);
    background-repeat: no-repeat;
    background-position: 96%;
    width: 320px;
}

div.block-2 p {
    width: 300px;
    letter-spacing: 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #6e6f6f;
    text-transform: uppercase;
}

.block-3 {
    margin-top: 118px;
    width: 365px;
    background-image: url(../img/mini-circle.png);
    background-repeat: no-repeat;
    background-position: 100% 15%;
}

div.block-3 span {
    display: inline-block;
    width: 159px;
    font-size: 22px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 99%;
}

div.block-3 h4 {
    text-transform: uppercase;
    color: white;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 42px;
    line-height: 86px;
    background-image: url(../img/gray\ line.png);
    background-repeat: no-repeat;
    background-position: 93%;
    width: 350px;
}

div.block-3 p {
    width: 300px;
    letter-spacing: 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #6e6f6f;
    text-transform: uppercase;
}

.second-div-section-one {
    display: flex;
    margin-bottom: -2px;
}

.block-4 {
    width: 350px;
    margin-left: 154px;
    background-image: url(../img/mini-circle.png);
    background-repeat: no-repeat;
    background-position: 95% 19%;
    margin-top: 210px;
}

div.block-4 span {
    display: inline-block;
    width: 159px;
    font-size: 22px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 99%;
}

div.block-4 h4 {
    text-transform: uppercase;
    color: white;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 42px;
    line-height: 86px;
    background-image: url(../img/gray\ line.png);
    background-repeat: no-repeat;
    background-position: 93%;
    width: 315px;
}

div.block-4 p {
    width: 300px;
    letter-spacing: 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #6e6f6f;
    text-transform: uppercase;
}

/* section2 */

.section-two {
    padding-top: 276px;
    background-color: #171919;
    margin-bottom: -1px;
}

div.section-two span.our {
    display: inline-block;
    width: 309px;
    font-size: 22px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    background-image: url(../img/gray\ line.png);
    background-repeat: no-repeat;
    background-position: 99%;
    padding-left: 149px;
}


div.section-two h1 {
    margin-top: -40px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 80px;
    line-height: 156px;
    padding-left: 140px;
    text-transform: uppercase;
  
}

div.section-two h1:after {
    content: '//';
    color: red;
   
}

.block-first-partners {
    width: 967px;
    height: 160px;
    margin-top: 73px;
    margin-left: 100px;
    display: flex;
}

.first-partners {
    width: 250px;
    height: 160px;
}

div.first-partners span {
    display: inline-block;
   
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 40px;
    margin-top: 18px;
}

.second-partners {
    width: 250px;
    height: 160px;
    margin-left: 90px;
}

div.second-partners img {
    padding-top: 5px;
}

div.second-partners span {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 25px;
    margin-top: 13px;
}

div.third-partners span {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 75px;
    margin-top: 16px;
} 

.third-partners {
    width: 250px;
    height: 160px;
    margin-left: 127px;
}

.block-second-partners {
    width: 967px;
    height: 160px;
    margin-top: 69px;
    margin-left: 100px;
    display: flex;
}

.fourth-partners {
    width: 250px;
    height: 160px;
}

div.fourth-partners span {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 35px;
    margin-top: 16px;
}

.fifth-partners {
    margin-left: 109px;
    width: 250px;
    height: 160px;
    
}
div.fifth-partners span {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 115px;
    margin-top: 16px;
}

div.sixth-partners span {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    letter-spacing: 7.33px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #6e6f6f;
    margin-left: 55px;
    margin-top: 16px;
}

.sixth-partners {
    margin-left: 139px;
    width: 250px;
    height: 160px;
    background-image: url(../img/crft-text.png);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    
}



div.sixth-partners img {
    margin-top: 10px;
    margin-left: 80px;
}

/* section-three */

.section-three {
    padding-top: 206px;
    background-color: #171919;
    background-image: url(../img/fone-section3.png);
    background-repeat: no-repeat;
    background-position: 45% 15%;
    margin-bottom: -2px;
}

.section-three h1 {
        color: white;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 80px;
        line-height: 156px;
        padding-left: 140px;
        text-transform: uppercase;
        padding-left: 460px;
        background-image: url(../img/red-line.png);
        background-repeat: no-repeat;
        background-position: 47% 20%;
        margin-bottom: 106px;
}

.row-of-cards-one {
    margin: 0 auto;
    width: 1088px;
    height: 380px;
    display: flex;
    
}
.row-of-cards-one2 {
    margin: 0 auto;
    width: 1088px;
    height: 380px;
    display: flex;
    margin-top: 35px;
}

.row-of-cards-one3 {
    margin: 0 auto;
    width: 1088px;
    height: 380px;
    display: flex;
    margin-top: 35px;
}

.card-1 {
    border: 1px solid #16181B;
    border-radius: 11%;
    margin-right: 70px;
    width: 316px;
    height: 380px;
    background-image: url(../img/fone-card.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-shadow: 2px 6px 13px 10px rgba(165, 25, 79, 0.2);
    -moz-box-shadow: 2px 6px 13px 10px rgba(165, 25, 79, 0.2);
    box-shadow: 2px 6px 13px 10px rgba(165, 25, 79, 0.2);
    
}

.card-1 img.img-card-0 {
    margin-left: 152px;
    margin-top: 11px;
}

.card-1 p {
    margin-top: 155px;
    margin-left: 25px;
    width: 268px;
    height: 44px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 57px;
    padding-top: 10px;
    font-family: 'Oxanium';
    font-weight: 700;
    line-height: 20px;
    color: white;
    font-size: 22px;
    background-color: #202329;
   
}

.card-1 span {
    display: inline-block;
    margin-top: 29px;
    margin-left: 28px;
    color: #758089;
    font-family: 'Oxanium';
    font-size: 14px;
    line-height: 17.5px;
   
}

.img-card-1 {
    margin-top: 23px;
    margin-left: 79px;
}


/* section4 */

.section-four {
    padding-top: 202px;
    background-color: #171919;
    margin-bottom: -2px;
}

.section-four h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 80px;
    line-height: 156px;
    padding-left: 140px;
    text-transform: uppercase;
    padding-left: 60px;
    background-image: url(../img/red-line.png);
    background-repeat: no-repeat;
    background-position: 21% 20%;
    margin-bottom: 106px;
}

.list {
    margin-top: 151px;
}


.list h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    line-height: 156px;
    text-transform: uppercase;
    color: white;
}

.list h4:after {
    content: '//';
    color: red;
}

.list ul li {
    width: 300px;
    list-style: none;
    margin-bottom: 26px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 21.94px;
    text-transform: uppercase;
    color: #6e6f6f;
}

.list-12 {
    display: flex;
}


.fone-section-four {
    background: url(../img/Group\ 874.png) no-repeat 50% 40%,url(../img/Vector\ 2.png) no-repeat 30% 25%;
   
}

.list2 {
        margin-top: 175px;
        margin-left: 395px;
}



.list2 h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    line-height: 156px;
    text-transform: uppercase;
    color: white;
}

.list2 h4:after {
    content: '//';
    color: red;
}

.list2 ul li {
    width: 300px;
    list-style: none;
    margin-bottom: 26px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 21.94px;
    text-transform: uppercase;
    color: #6e6f6f;
}


.list3 {
    margin-left: 258px;
    margin-top: 80px;
    
}



.list3 h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    line-height: 156px;
    text-transform: uppercase;
    color: white;
}

.list3 h4:after {
    content: '//';
    color: red;
}

.list3 ul li {
    width: 300px;
    list-style: none;
    margin-bottom: 26px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 21.94px;
    text-transform: uppercase;
    color: #6e6f6f;
}

.list-34 {
    display: flex;
}

.list4 {
    margin-left: 143px;
    margin-top: 220px;
}

.list4 h4 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 35px;
    line-height: 156px;
    text-transform: uppercase;
    color: white;
}

.list4 h4:after {
    content: '//';
    color: red;
}

.list4 ul li {
    width: 300px;
    list-style: none;
    margin-bottom: 26px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 21.94px;
    text-transform: uppercase;
    color: #6e6f6f;
}

/* footer */

.footer {
    padding-top: 172px;
    background-color: #171919;
   
}

.footer-join {
    display: flex;
}

.footer-join h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
    margin-left: 250px;
}

.footer-join a.link-join {
    width: 111px;
    height: 64px;
    background-color: #4AF6CD;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 32px;
    border: 1px solid #4AF6CD;
    text-transform: uppercase;
    padding-left: 13px;
    padding-top: 11px;
    font-size: 32px;
    color: white;
    font-weight: 800;
    font-family: 'Montserrat';
}

.link-discord {
    color: white;
}


.footer  ul li {
    list-style: none;
}

.social-network {
    display: flex;
    margin-top: 84px;
    margin-left: 243px;
}

.social-network li {
    margin-right: 31px;
    width: 50px;
    height: 50px;
}

.footer p {
    margin-top: 103px;
    color: #6e6f6f;
    text-align: center;
}