.div {
    
    background: url(../img/fone1.png);
}

.menu {
    width: 15%;
    float: left;
   
}

.content {
    margin-left: 15.1%;
    background-image: url(../img/fone2.png);
    position: relative;

}

.clear {
    clear: both;
}

.clear-2 {
    clear: both;
}


.header {
    height: 50px;
    background: #add8e6;
    margin-bottom: -20px;
}
.hello {
     text-align: center;
     color: blue;
     padding-top: 15px;
     font-size: 15px;
}

.footer {
    height: 50px;
    background: #add8e6;
    margin-top: -15px;
    
}

li {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
    color: purple;
    font-weight: bold;
    margin-left: -20px;
   
}

.football {
    text-align: center;
}

.picture {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.about {
    margin-left: 5%;
}


a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border: 1px solid green;
    background-color: lightgreen;
    color: purple;
    position: absolute;
    right: 5px;
    top: 10px;
}
