.body {
  font-family: "Nunito", sans-serif;
}

.header {
  background: url(../img/Rectangle\ 1.png) no-repeat center top / cover;
  width: 1496px;
  height: 80px;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.airshop {
  left: 80px;
  top: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-style: normal;
}

.number {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-left: 16px;
  margin-top: 28px;
}

.name-product {
  margin-left: 190px;
  display: block;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  width: 368px;
  margin-top: 10px;
  text-decoration: none;
}

.open {
  margin-left: 135px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
}

.regestration {
  margin-left: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
}

.kok {
  margin-left: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
}

.nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.new-product {
  margin-left: 80px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.man {
  margin-left: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.women {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-left: 48px;
  margin-top: 16px;
}

.children {
  margin-left: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.sale {
  margin-left: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.if {
  margin-left: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 16px;
}

.jordan {
  margin-left: 510px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 54px;
}

.section {
  background: url(../img/air-jordan-i-ajko-high-1\ 1.png) no-repeat;
  background-repeat: no-repeat;
  background-position: 30vw 30%;
  width: 1500px;
  height: 850px;
}

.promotion {
  margin-left: 176px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-top: 113px;
}

.procent {
  margin-left: 176px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 39px;
  margin-top: -20px;
  color: red;
}

.buy {
  margin-left: 176px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-top: -20px;
}

.for-end {
  margin-left: 176px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-top: -20px;
}

.popular {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  margin-left: 176px;
  margin-top: -124px;
}

.foto-1 {
  margin-left: 150px;
}

.nav-2 {
  display: flex;
}

.nike-air {
  margin-left: 150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.air-jordan {
  margin-left: 317px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.nike-zoom-pegaus {
  margin-left: 317px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.foto-4 {
  margin-left: 150px;
}
.nav-3 {
  display: flex;
}

.XXXI {
  margin-left: 150px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.Mars {
  margin-left: 285px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.Retro {
  margin-left: 285px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.nav-4 {
  display: flex;
}

.prise-1 {
  margin-left: 150px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.prise-2 {
  margin-left: 350px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.prise-3 {
  margin-left: 385px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.nav-5 {
  display: flex;
}

.prise-4 {
  margin-left: 147px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.prise-5 {
  margin-left: 345px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.prise-6 {
  margin-left: 382px;
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.two-section {
  background: url(../img/Air-Jordan-1-High5\ 1.png) no-repeat center top;
  width: 1496px;
  background-size: cover;
  padding-top: 50px;
  height: 528px;
  margin-top: 67px;
}

.fast {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 79px;
  margin-left: 260px;
}

.design {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 79px;
  margin-left: 330px;
  margin-top: -45px;
  color: red;
}

.input {
  width: 308px;
  height: 37px;
  margin-top: 11px;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
}

::placeholder {
  color: black;
}

button {
  margin-top: -45px;
}

.mini-fone {
  color: white;
  margin-top: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 50;
  font-size: 10px;
  line-height: 11px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white;
  width: 10px;
  height: 12px;
  padding-left: 4px;
  background: rgb(150, 20, 20);
}

.footer {
  background-image: url(../img/fone-footer.png);
  background-size: cover;
  width: 1496px;
  height: 270px;
  margin-top: -16px;
  display: flex;
}

.ul-1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.ul2-ul3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.div-1-footer {
  margin-left: 80px;
  margin-top: 48px;
  color: white;
}

.div-2-footer {
  margin-left: 86px;
  margin-top: 49px;
  color: white;
}

.div-3-footer {
  margin-left: 106px;
  margin-top: 49px;
  color: white;
}

.div-4-footer {
  margin-left: 76px;
  margin-top: 65px;
}

.div-5-footer {
  margin-left: 355px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: white;
}

.inc {
  margin-top: 50px;
  font-size: 15px;
  margin-left: -185px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.poisk {
  margin-left: -80px;
  border: 0px;
  background-color: white;
}

.order {
  margin-left: 176px;
  margin-top: -17px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: white;
  border: 2px solid;
  width: 174px;
  padding-left: 75px;
  padding-top: 6px;
  height: 33px;
  padding-bottom: 6px;
  background: #2d2c2c;
  list-style-type: none;
}
