* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
  height: 10000px; }

.container {
  width: 1410px;
  margin: 0 auto; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.header {
  height: 264px;
  padding-bottom: 26px; }
  .header .container .header-wrap {
    display: flex;
    justify-content: space-between; }
    .header .container .header-wrap .logo {
      width: 329px;
      height: 138px; }
    .header .container .header-wrap .navigation {
      width: 75%;
      padding: 0.1px;
      padding-top: 18px; }
      .header .container .header-wrap .navigation div:nth-child(1) {
        margin-bottom: 28px; }
        .header .container .header-wrap .navigation div:nth-child(1) ul {
          display: flex;
          justify-content: space-between; }
          .header .container .header-wrap .navigation div:nth-child(1) ul li a {
            line-height: 23.7px;
            font-size: 20px;
            color: #4A4D4A;
            font-weight: 500;
            font-family: 'Rubik';
            border-bottom: 2px dotted #4A4D4A; }
          .header .container .header-wrap .navigation div:nth-child(1) ul li a:hover {
            color: #FFAF37; }
          .header .container .header-wrap .navigation div:nth-child(1) ul li:hover {
            animation: link 2s ease-in-out 0s normal none infinite running; }
@keyframes link {
  0%,
                50%,
                100% {
    transform: rotate(0deg); }
  10%,
                30% {
    transform: rotate(-5deg); }
  20%,
                40% {
    transform: rotate(5deg); } }
      .header .container .header-wrap .navigation div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        position: relative; }
        .header .container .header-wrap .navigation div:nth-child(2) p {
          width: 403px;
          height: 25px;
          color: #4A4D4A;
          font-size: 18px;
          font-weight: 500;
          line-height: 21.33px;
          font-family: 'Rubik'; }
        .header .container .header-wrap .navigation div:nth-child(2) img {
          position: absolute;
          left: 440px; }
        .header .container .header-wrap .navigation div:nth-child(2) a:nth-child(3) {
          color: #4A4D4A;
          font-size: 30px;
          font-weight: 700;
          line-height: 36.57px;
          font-family: 'Rubik'; }
        .header .container .header-wrap .navigation div:nth-child(2) a:hover {
          border-bottom: 3px solid #FFAF37;
          transform: scale(1.05);
          transition: 1s; }
        .header .container .header-wrap .navigation div:nth-child(2) button {
          width: 240px;
          height: 37px;
          background-color: #FFAF37;
          color: #FFF;
          font-weight: 700;
          font-size: 18px;
          line-height: 21.33px;
          font-family: 'Rubik';
          border: 1px solid #FFAF37;
          cursor: pointer; }
        .header .container .header-wrap .navigation div:nth-child(2) button:hover {
          animation: button 2s; }
@keyframes button {
  0%,
                        50%,
                        100% {
    transform: rotate(0deg); }
  10%,
                        30% {
    transform: rotate(-5deg); }
  20%,
                        40% {
    transform: rotate(5deg); } }
  .header .container .form {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.1px; }
    .header .container .form form {
      position: relative; }
      .header .container .form form input {
        width: 690px;
        height: 40px;
        padding-left: 28px;
        border: 1px solid lightgray; }
        .header .container .form form input ::placeholder {
          font-size: 14px;
          line-height: 20.9px;
          color: #4A4D4A;
          font-weight: 400; }
      .header .container .form form img {
        position: absolute;
        cursor: pointer;
        left: 640px;
        top: 10px; }
    .header .container .form img {
      position: absolute;
      left: 765px;
      top: 5px; }
    .header .container .form .gmail {
      position: absolute;
      top: 10px;
      left: 985px; }
    .header .container .form a:nth-child(3) {
      width: 110px;
      height: 34px;
      color: #4A4D4A;
      line-height: 17.08px;
      font-size: 14px;
      font-weight: 500;
      position: relative; }
      .header .container .form a:nth-child(3) span {
        color: #4A4D4A;
        line-height: 17.08px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px; }
    .header .container .form a:nth-child(3):hover {
      color: #FFAF37;
      transition: 1s; }
      .header .container .form a:nth-child(3):hover span:hover {
        color: #FFAF37;
        transition: 1s; }
    .header .container .form a:nth-child(3):hover:after {
      content: '!';
      position: absolute;
      left: 100px;
      color: #001569;
      font-size: 20px;
      transition: 1s; }
    .header .container .form a:nth-child(5) {
      color: #4A4D4A;
      width: 130px;
      height: 16px;
      line-height: 21.33px;
      font-size: 18px;
      margin-top: 10px;
      padding-bottom: 20px; }
    .header .container .form a:nth-child(5):hover {
      color: #001569;
      transform: scale(1.05);
      transition: 1s;
      border-bottom: 2px solid #001569; }
    .header .container .form .adres {
      position: absolute;
      top: 8px;
      left: 1225px; }
    .header .container .form p:nth-child(7) {
      width: 146px;
      height: 60px;
      font-weight: 600;
      font-size: 20px;
      line-height: 29.86px;
      color: #4A4D4A; }
      .header .container .form p:nth-child(7) span {
        font-size: 14px;
        line-height: 23.89px;
        font-weight: 400;
        color: #4A4D4A; }
      .header .container .form p:nth-child(7) .look {
        display: none; }
    .header .container .form p:nth-child(7):hover {
      cursor: pointer;
      transform: scale(1.08);
      transition: 1s; }
      .header .container .form p:nth-child(7):hover .look {
        display: block;
        color: #FFAF37; }

.categories {
  height: 60px;
  background-color: #F0F0FF; }
  .categories .container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; }
    .categories .container ul li a {
      color: #4A4D4A;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.33px;
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 2px dotted #4A4D4A;
      font-family: 'Rubik'; }
    .categories .container ul li:hover {
      animation: link 2s ease-in-out 0s normal none infinite running; }
@keyframes link {
  0%,
                50%,
                100% {
    transform: rotate(0deg); }
  10%,
                30% {
    transform: rotate(-3deg); }
  20%,
                40% {
    transform: rotate(3deg); } }

/*# sourceMappingURL=main.css.map */
