* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    height: 10000px;
}
$gray: #4A4D4A;
$orange: #FFAF37;
$darkblue: #001569;
$white: #FFF;
$black: #000000;
$reg: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$fz: 16px;
$fz10: $fz - 6;
$fz14: $fz - 2;
$fz18: $fz + 2;
$fz20: $fz + 4;
$fz24: $fz + 8;
$fz30: $fz + 14;
$fz36: $fz + 20;
.container {
    width: 1410px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}


.header {
    height: 264px;
    .container {
        .header-wrap {
            display: flex;
            justify-content: space-between;
             .logo {
            width: 329px;
            height: 138px;
            
        }
        .navigation {
            width: 75%;
            padding: 0.1px;
            padding-top: 18px;
            div:nth-child(1) {
                margin-bottom: 28px;
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                       
                        a {
                            line-height: 23.7px;
                            font-size: $fz20;
                            color: $gray;
                            font-weight: $medium;
                            font-family: 'Rubik';
                           
                            
                        }   
                        a:hover {
                            color: $orange;
                            
                        }
                      
                    }
                   li:hover {
                    animation: link 2s ease-in-out 0s normal none infinite running;
                    
                   }
                   @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-5deg);
                }
            
                20%,
                40% {
                    transform: rotate(5deg);
                }
        }
                   
                  
                   
                }
            }
            div:nth-child(2) {
                 display: flex;
                 justify-content: space-between;
                 position: relative;
                 p {
                    width: 403px;
                    height: 25px;
                    color: $gray;
                    font-size: $fz18;
                    font-weight: $medium;
                    line-height: 21.33px;
                    font-family: 'Rubik';
                 }
                 img {
                    position: absolute;
                    left: 440px;
                 }
                 a:nth-child(3) {
                    color: $gray;
                    font-size: $fz30;
                    font-weight: $extra-bold;
                    line-height: 36.57px;
                    font-family: 'Rubik';
                 }
                 a:hover {
                    border-bottom: 3px solid $orange;
                    transform: scale(1.05);
                    transition: 1s;

                 }
                 button {
                    width: 240px;
                    height: 37px;
                    background-color: $orange;
                    color: $white;                    
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 21.33px;
                    font-family: 'Rubik';
                    border: 1px solid $orange;
                    cursor: pointer;
                 }
                 button:hover {
                    animation: button 2s;
                 }
                 @keyframes button {
                    0%,
                        50%,
                        100% {
                            transform: rotate(0deg);
                        }
                    
                        10%,
                        30% {
                            transform: rotate(-5deg);
                        }
                    
                        20%,
                        40% {
                            transform: rotate(5deg);
                        }
                 }
            }
        }
        }
        .form {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 0.1px;
            form {
                position: relative;
                input {
                    width: 690px;
                    height: 40px;
                    padding-left: 28px;
                    border: 1px solid lightgray;
                    ::placeholder {
                        font-size: $fz14;
                        line-height: 20.9px;
                        color: $gray;
                        font-weight: $reg;
                    }
                }
                img {
                    position: absolute;
                    cursor: pointer;
                    left: 640px;
                    top: 10px;
                }
                
            }
            img {
                position: absolute;
                left: 765px;
                top: 5px;
            }
            .gmail {
                position: absolute;
                top: 10px;
                left: 985px;
            }
            a:nth-child(3) {
                width: 110px;
                height: 34px;
                color: $gray;
                line-height: 17.08px;
                font-size: $fz14;
                font-weight: $medium;
                position: relative;
                span {
                    color: $gray;
                    line-height: 17.08px;
                    font-size: $fz14;
                    font-weight: $medium;
                    margin-left: 10px;
                }
            }
            a:nth-child(3):hover {
                color: $orange;
                transition: 1s;
                span:hover {
                    color: $orange;
                    transition: 1s;
                }
            }
            a:nth-child(3):hover:after {
                content: '!';
                position: absolute;
                left: 100px;
                color: $darkblue;
                font-size: $fz30 - 10;
                transition: 1s;
                
                
            }
            a:nth-child(5) {
                color: $gray;
                width: 130px;
                height: 16px;
                line-height: 21.33px;
                font-size: $fz18;
                margin-top: 10px;
                padding-bottom: 20px;
            }
             a:nth-child(5):hover {
                color: $darkblue;
                transform: scale(1.05);
                transition: 1s;
                border-bottom: 2px solid $darkblue;
             }
            .adres {
                position: absolute;
                top: 8px;
                left: 1225px;
            }
            p:nth-child(7) {
                width: 146px;
                height: 60px;
                font-weight: $bold;
                font-size: $fz20;
                line-height: 29.86px;
                color: $gray;
                span {
                    font-size: $fz14;
                    line-height: 23.89px;
                    font-weight: $reg;
                    color: $gray;
                }
                .look {
                    display: none;
                }
            }
            p:nth-child(7):hover {
                cursor: pointer;
                transform: scale(1.08);
                transition: 1s;
                .look {
                    display: block;
                    color: $orange;
                }
            }
        }
       
    }
}