* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    height: 10000px;
}
$gray: #4A4D4A;
$orange: #FFAF37;
$darkblue: #001569;
$white: #FFF;
$black: #000000;
$fone-cat: #F0F0FF;
$banner4: #E3E1FF;
$reg: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$fz: 16px;
$fz10: $fz - 6;
$fz14: $fz - 2;
$fz18: $fz + 2;
$fz20: $fz + 4;
$fz24: $fz + 8;
$fz30: $fz + 14;
$fz36: $fz + 20;
.container {
    width: 1410px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}


.header {
    height: 264px;
    padding-bottom: 26px;
    .container {
        .header-wrap {
            display: flex;
            justify-content: space-between;
             .logo {
            width: 329px;
            height: 138px;
            
        }
        .navigation {
            width: 75%;
            padding: 0.1px;
            padding-top: 18px;
            div:nth-child(1) {
                margin-bottom: 28px;
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                       
                        a {
                            line-height: 23.7px;
                            font-size: $fz20;
                            color: $gray;
                            font-weight: $medium;
                            font-family: 'Rubik';
                            border-bottom: 2px dotted $gray;
                           
                            
                        }   
                        a:hover {
                            color: $orange;
                            
                        }
                      
                    }
                   li:hover {
                    animation: link 2s ease-in-out 0s normal none infinite running;
                    
                   }
                   @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-5deg);
                }
            
                20%,
                40% {
                    transform: rotate(5deg);
                }
        }
                   
                  
                   
                }
            }
            div:nth-child(2) {
                 display: flex;
                 justify-content: space-between;
                 position: relative;
                 p {
                    width: 403px;
                    height: 25px;
                    color: $gray;
                    font-size: $fz18;
                    font-weight: $medium;
                    line-height: 21.33px;
                    font-family: 'Rubik';
                 }
                 img {
                    position: absolute;
                    left: 440px;
                 }
                 a:nth-child(3) {
                    color: $gray;
                    font-size: $fz30;
                    font-weight: $extra-bold;
                    line-height: 36.57px;
                    font-family: 'Rubik';
                 }
                 a:hover {
                    border-bottom: 3px solid $orange;
                    transform: scale(1.05);
                    transition: 1s;

                 }
                 button {
                    width: 240px;
                    height: 37px;
                    background-color: $orange;
                    color: $white;                    
                    font-weight: $extra-bold;
                    font-size: $fz18;
                    line-height: 21.33px;
                    font-family: 'Rubik';
                    border: 1px solid $orange;
                    cursor: pointer;
                 }
                 button:hover {
                    animation: button 2s;
                 }
                 @keyframes button {
                    0%,
                        50%,
                        100% {
                            transform: rotate(0deg);
                        }
                    
                        10%,
                        30% {
                            transform: rotate(-5deg);
                        }
                    
                        20%,
                        40% {
                            transform: rotate(5deg);
                        }
                 }
            }
        }
        }
        .form {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 0.1px;
            form {
                position: relative;
                input {
                    width: 690px;
                    height: 40px;
                    padding-left: 28px;
                    border: 1px solid lightgray;
                    ::placeholder {
                        font-size: $fz14;
                        line-height: 20.9px;
                        color: $gray;
                        font-weight: $reg;
                    }
                }
                img {
                    position: absolute;
                    cursor: pointer;
                    left: 640px;
                    top: 10px;
                }
                
            }
            img {
                position: absolute;
                left: 765px;
                top: 5px;
            }
            .gmail {
                position: absolute;
                top: 10px;
                left: 985px;
            }
            a:nth-child(3) {
                width: 110px;
                height: 34px;
                color: $gray;
                line-height: 17.08px;
                font-size: $fz14;
                font-weight: $medium;
                position: relative;
                span {
                    color: $gray;
                    line-height: 17.08px;
                    font-size: $fz14;
                    font-weight: $medium;
                    margin-left: 10px;
                }
            }
            a:nth-child(3):hover {
                color: $orange;
                transition: 1s;
                span:hover {
                    color: $orange;
                    transition: 1s;
                }
            }
            a:nth-child(3):hover:after {
                content: '!';
                position: absolute;
                left: 100px;
                color: $darkblue;
                font-size: $fz30 - 10;
                transition: 1s;
                
                
            }
            a:nth-child(5) {
                color: $gray;
                width: 130px;
                height: 16px;
                line-height: 21.33px;
                font-size: $fz18;
                margin-top: 10px;
                padding-bottom: 20px;
            }
             a:nth-child(5):hover {
                color: $darkblue;
                transform: scale(1.05);
                transition: 1s;
                border-bottom: 2px solid $darkblue;
             }
            .adres {
                position: absolute;
                top: 8px;
                left: 1225px;
            }
            p:nth-child(7) {
                width: 146px;
                height: 60px;
                font-weight: $bold;
                font-size: $fz20;
                line-height: 29.86px;
                color: $gray;
                span {
                    font-size: $fz14;
                    line-height: 23.89px;
                    font-weight: $reg;
                    color: $gray;
                }
                .look {
                    display: none;
                }
            }
            p:nth-child(7):hover {
                cursor: pointer;
                transform: scale(1.08);
                transition: 1s;
                .look {
                    display: block;
                    color: $orange;
                }
            }
        }
       
    }
}
.categories {
    height: 60px;
    background-color: $fone-cat;
    .container {
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            li {
                a {
                    color: $gray;
                    font-size: $fz18;
                    font-weight: $medium;
                    line-height: 21.33px;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    border-bottom: 2px dotted $gray;
                    font-family: 'Rubik';
                }
                a:hover {
                    color: $orange;
                }
            }
            li:hover {
                    animation: link 2s ease-in-out 0s normal none infinite running;
                   }
                   @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-3deg);
                }
            
                20%,
                40% {
                    transform: rotate(3deg);
                }
        }
            
        }
    }
}
.catalog_slider {
    padding-top: 48px;
    .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        position: relative;
        // .corner {
        //     position: absolute;
        //     top: 590px;
        //     left: 1190px;
        // }
        .catalog {
             width: 448px;
             height: 736px;
             .headling-catalog{
                width: 448px;
                height: 60px;
                background-color: $fone-cat;
                padding-left: 21px;
                padding-top: 17px;
                position: relative;
                h6 {
                    width: 106px;
                    height: 26px;
                    color: $gray;
                    font-size: $fz24;
                    font-weight: $medium;
                    line-height: 29.28px;
                    font-family: 'Rubik';
                }
                .open-menu-catalog {
                    position: absolute;
                    top: 25px;
                    right: 15px;
                    cursor: pointer;
                }
                .close-menu-catalog {
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    display: none;
                    cursor: pointer;
                }
             }
             .catalog_menu {
                padding: 0.1px;
                display: none;
                padding-top: 9px;
                animation: catalog 1s;
                -webkit-box-shadow: 0px 0px 33px -13px rgba(34, 60, 80, 1);
                -moz-box-shadow: 0px 0px 33px -13px rgba(34, 60, 80, 1);
                box-shadow: 0px 0px 33px -13px rgba(34, 60, 80, 1);
                div {
                    margin-bottom: 22px;
                    padding-left: 54px;
                    position: relative;
                    a {
                        color: $gray;
                        font-size: $fz18 - 1;
                        line-height: 21.33px;
                        font-weight: $fz18;
                    }
                    a:hover {
                        color: $orange;
                    }
                    .icon-catalog {
                        position: absolute;
                        top: 2.5px;
                        left: 20px;
                    }
                    .open-button {
                        position: absolute;
                        top: 2.5px;
                        right: 15px;
                        cursor: pointer;
                    }

                }
                
             }
             @keyframes catalog {
                from {
                    opacity: 0.5;
                    transition: 1.5s;
                    transform: scale(1.05)
                }
                to {
                    opacity: 1;
                    transform: none;
                }
             }
        }
        .description {
            width: 922px;
            height: 742px;
            padding: 0.1px;
            position: relative;
            .about {
                padding: 0.1px;
                margin-bottom: 20px;
                p {
                    width: 922px;
                    height: 132px;
                    color: $gray;
                    font-size: $fz36 - 6;
                    font-weight: $reg;
                    span:nth-child(1) {
                        font-weight: $medium;
                        color: $gray;
                        font-size: $fz36 - 1;
                    }
                    span:nth-child(2) {
                        color: $orange;
                        font-weight: $medium;
                        font-size: $fz36 - 1;
                    }
                }
            }
            .slider {
                width: 920px;
                height: 590px;
                position: relative;
                overflow: hidden;
                .slider-line {
                    height: 590px;
                    width: 4960px;
                    position: relative;
                    display: flex;
                    transition: all ease 1s;
                    .slide1 {
                        position: relative;
                        width: 992px;
                        height: 590px;
                        p {
                            position: absolute;
                            color: $white;
                            width: 422px;
                            height: 116px;
                            font-size: $fz30;
                            font-weight: $medium;
                            line-height: 37.02px;
                            top: 214px;
                            left: 448px;
                            z-index: 3;
                            span:nth-child(1) {
                                color: $white;
                                font-size: $fz30;
                                font-weight: $medium;
                                line-height: 37.02px;
                                margin-left: 38px;
                            }
                            .key {
                                color: $white;
                                font-size: $fz30;
                                font-weight: $medium;
                                line-height: 37.02px;
                                margin-left: 98px;
                            }
                        }
                        a {
                            position: absolute;
                            left: 478px;
                            top: 352px;
                            color: $white;
                            background-color: $orange;
                            width: 330px;
                            height: 68px;
                            padding-top: 24px;
                            padding-left: 37px;
                            font-size: $fz18;
                            line-height: 21.33px;
                            font-weight: $extra-bold;
                            z-index: 3;
                        }
                        .fone {
                            position: absolute;
                            
                        }
                        .shadow {
                            position: absolute;
                            z-index: 2;
                        }
                    }
                   .slide2 {
                     position: relative;
                     padding: 0.1px;
                     left: -70px;
                     width: 992px;
                     height: 590px;
                     a {
                            color: $white;
                            background-color: $orange;
                            width: 402px;
                            height: 69px;
                            padding-top: 25px;
                            padding-left: 24px;
                            font-size: $fz18;
                            line-height: 21.33px;
                            font-weight: $extra-bold;
                            display: block;
                            text-transform: uppercase;
                            position: absolute;
                            z-index: 2;
                            left: 458px;
                            top: 382px;

                     }
                     p:nth-child(3) {
                        line-height: 37.02px;
                        font-weight: $medium;
                        font-size: $fz30;
                        color: $white;
                        position: absolute;
                        z-index: 3;
                        left: 551px;
                        top: 230px;
                        width: 300px;
                        height: 74px;
                        span {
                            margin-left: 68px;
                        }
                     }
                     p:nth-child(4) {
                        position: absolute;
                        width: 434px;
                        height: 42px;
                        left: 447px;
                        top: 322px;
                        color: $white;
                        font-weight: $reg;
                        line-height: 21.33px;
                        font-size: $fz18;
                        padding: 0.1px;
                        span {
                            margin-left: 70px;
                            color: $white;
                            font-weight: $reg;
                            line-height: 21.33px;
                            font-size: $fz18;
                        }
                     }
                     .fone2 {
                        position: absolute;
                     }
                     .shadow2 {
                        position: absolute;
                     }
                   }
                   .slide3 {
                     position: relative;
                     width: 992px;
                     height: 590px;
                     padding: 0.1px;
                     left: -143px;
                     .fone3 {
                        position: absolute;
                     }
                     .shadow3 {
                        position: absolute;
                        z-index: 2;
                        left: 5px;
                     }
                     p:nth-child(3) {
                        position: absolute;
                        top: 217px;
                        left: 206px;
                        width: 682px;
                        height: 100px;
                        color: $white;
                        line-height: 37.02px;
                        font-size: $fz30;
                        font-weight: $medium;
                        z-index: 3;
                        span {
                            margin-left: 240px;
                        }
                     }
                     p:nth-child(4) {
                        position: absolute;
                        top: 335px;
                        left: 206px;
                        width: 652px;
                        height: 63px;
                        color: $white;
                        font-size: $reg;
                        line-height: 21.33px;
                        font-weight: $medium;
                        z-index: 4;
                     }
                     a {
                        position: absolute;
                        width: 324px;
                        height: 69px;
                        background-color: $orange;
                        padding-left: 28px;
                        padding-top: 24px;
                        color: $white;
                        line-height: 21.33px;
                        font-weight: $extra-bold;
                        font-size: $fz18;
                        z-index: 4;
                        text-transform: uppercase;
                        left: 486px;
                        top: 438px;
                     }
                   }
                }
            }
            .prev {
                position: absolute;
                top: 425px;
                z-index: 4;
                cursor: pointer;
                
            }
            .next {
                position: absolute;
                top: 430px;
                right: 0px;
                z-index: 4;
                cursor: pointer;
            }
            .page1 {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: $gray;
                cursor: pointer;
                top: 707px;
                left: 370px;
            }
            .page2 {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: $gray;
                top: 707px;
                left: 400px;
                z-index: 4;
                cursor: pointer;
            }
            .page3 {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: $gray;
                top: 707px;
                left: 430px;
                cursor: pointer;
            }
            .active {
                background-color: $orange;
            }
        }
    }
}
.dignities{
    padding-top: 102px;
    .container {
        padding: 0.1px;
        height: 530px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .first-line {
            display: flex;
            justify-content: space-between;
            div:nth-child(1) {
                background-color: $fone-cat;
                width: 330px;
                height: 250px;
                border-radius: 11px;
                padding-top: 69px;
                padding-left: 50px;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                p {
                    width: 256px;
                    height: 111px;
                    font-size: $fz30;
                    font-weight: $medium;
                    line-height: 37.02px;
                    color: $gray;
                    span:nth-child(1) {
                        margin-left: 40px;
                    }
                    span:nth-child(3) {
                        margin-left: 20px;
                    }

                }
            }
            div:nth-child(2) {
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                position: relative;
                border: 1px solid $white;
                background-color: $white;
                width: 330px;
                height: 250px;
                border-radius: 11px;
                padding: 0.1px;
                padding-left: 27px;
                padding-top: 107px;
                p:nth-child(2) {
                    font-size: $fz24;
                    line-height: 29.28px;
                    color: $gray;
                    font-weight: $medium;
                    margin-bottom: 10px;
                }
                img {
                   position: absolute;
                   top: 40px;
                   left: 127px;
                }
                p:nth-child(3) {
                    width: 194px;
                    height: 63px;
                    font-weight: $reg;
                    font-size: $fz18;
                    line-height: 21.33px;
                    margin-left: 38px;
                }
            }
            div:nth-child(3) {
                width: 330px;
                height: 250px;
                border-radius: 11px;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                position: relative;
                border: 1px solid $white;
                background-color: $white;
                padding: 0.1px;
                padding-left: 55px;
                padding-top: 111px;
                img {
                    position: absolute;
                    top: 40px;
                    left: 125px;
                }
                p:nth-child(2) {
                         font-size: $fz24;
                        line-height: 29.28px;
                        color: $gray;
                        font-weight: $medium;
                        margin-bottom: 10px;
                    }
                p:nth-child(3) {
                    font-size: $fz18;
                    color: $gray;
                    font-weight: $reg;
                    line-height: 21.33px;
                    width: 262px;
                    height: 81px;
                }
            }
            div:nth-child(4) {
                width: 330px;
                height: 250px;
                border-radius: 11px;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                position: relative;
                border: 1px solid $white;
                background-color: $white;
                padding: 0.1px;
                padding-top: 107px;
                padding-left: 66px;
                p:nth-child(2) {
                    font-size: $fz24;
                    line-height: 29.28px;
                    color: $gray;
                    font-weight: $medium;
                    margin-bottom: 10px;
                }
                p:nth-child(3) {
                   font-weight: $reg;
                   font-size: $fz18;
                   line-height: 21.33px;
                   color: $gray;
                   width: 230px;
                }
                img {
                    position: absolute;
                    left: 135px;
                    top: 31px;
                }
            }
            div:hover {
                transform: scale(1.05);
                transition: 1.5s;
            }
        }
        .second-line {
            display: flex;
            position: relative;
            justify-content: space-between;
            div:nth-child(1) {
                border: 1px solid $white;
                border-radius: 11px;
                background-color: $white;
                width: 690px;
                height: 250px;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                img:nth-child(1) {
                position: absolute;
                left: 311px;
                top: 22px;
            }
            p:nth-child(2) {
                color: $gray;
                position: absolute;
                font-size: $fz24;
                font-weight: $medium;
                line-height: 29.28px;
                top: 101px;
                left: 240px;
            }
            img {
                position: absolute;
            }
            img:nth-child(3) {
                top: 156px;
                left: 30px;
            }
            img:nth-child(4) {
                top: 168px;
                left: 105px;
            }
            img:nth-child(5) {
                top: 182px;
                left: 185px;
            }
            img:nth-child(6) {
                left: 290px;
                top: 163px;
            }
            img:nth-child(7) {
                top: 182px;
                left: 380px;
            }
            img:nth-child(8) {
                top: 164px;
                left: 490px;
            }
            img:nth-child(9) {
                top: 174px;
                left: 590px;
            }
            }
            div:nth-child(2) {
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                position: relative;
                padding: 0.1px;
                border: 1px solid $white;
                border-radius: 11px;
                width: 330px;
                height: 250px;
                background-color: $white;
                img {
                    position: absolute;
                    top: 36px;
                    left: 125px;
                }
                p:nth-child(2) {
                    color: $gray;
                    font-size: $fz24;
                    font-weight: $medium;
                    line-height: 29.28px;
                    position: absolute;
                    top: 111px;
                    left: 57px;
                    margin-bottom: 9px;
                }
                p:nth-child(3) {
                    position: absolute;
                    left: 18px;
                    top: 150px;
                    width: 292px;
                    height: 71px;
                    color: $gray;
                    font-weight: $reg;
                    font-size: $fz18;
                    line-height: 21.33px;
                }
            }
            div:nth-child(3) {
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.45);
                position: relative;
                border: 1px solid $white;
                border-radius: 11px;
                background-color: $white;
                width: 330px;
                height: 250px;
                img:nth-child(1) {
                    position: absolute;
                    left: 134px;
                    top: 35px;
                }
                p:nth-child(2) {
                    position: absolute;
                    top: 101px;
                    left: 64px;
                    color: $gray;
                    font-weight: $medium;
                    font-size: $fz24;
                    line-height: 29.28px;
                }
                p:nth-child(3) {
                    position: absolute;
                    left: 27px;
                    top: 140px;
                    line-height: 21.33px;
                    font-size: $fz18;
                    font-weight: $reg;
                    color: $gray;
                    width: 269px;
                    height: 83px;
                }
            }
            div:hover {
                transform: scale(1.05);
                transition: 1.5s;
            }
        }
    }
}
.banners {
    padding-top: 129px;
    .container {
        display: flex;
        justify-content: space-between;
        div:nth-child(1) {
            position: relative;
            background-color: $fone-cat;
            padding: 0.1px;
            padding-top: 76px;
            padding-bottom: 78px;
            padding-right: 44px;
            width: 690px;
            height: 402px;
            img:nth-child(1) {
                position: absolute;
                left: 15px;
                top: 29px;
            }
            img:nth-child(2) {
                position: absolute;
                left: 1px;
                top: 172px;
            }
            p:nth-child(3) {
                width: 476px;
                height: 90px;
                line-height: 29.28px;
                font-size: $fz24;
                font-weight: $medium;
                color: $gray;
                margin-left: 160px;
            }
            p:nth-child(4) {
                font-size: $fz18;
                font-weight: $reg;
                color: $gray;
                line-height: 21.33px;
                width: 292px;
                height: 42px;
                margin-left: 320px;
            }
            a {
                width: 300px;
                height: 70px;
                background-color: $orange;
                padding-top: 23px;
                padding-left: 50px;
                color: $white;
                text-transform: uppercase;
                line-height: 21.33px;
                font-size: $fz18;
                font-weight: $extra-bold;
                position: absolute;
                top: 254px;
                left: 346px;
            }
            a:hover {
                animation: link 2s ease-in-out 0s normal none infinite running;
            }
            @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-5deg);
                }
            
                20%,
                40% {
                    transform: rotate(5deg);
                }
        }
        }
        div:nth-child(2) {
            position: relative;
            background-color: $banner4;
            padding: 0.1px;
            padding-top: 84px;
            padding-bottom: 77px;
            padding-right: 36px;
            width: 690px;
            height: 402px;
            img:nth-child(1) {
                position: absolute;
                top: 27px;
                left: 20px;
            }
            img:nth-child(2) {
                position: absolute;
                top: 111px;
            }
            p:nth-child(3) {
                margin-left: 416px;
                color: $gray;
                line-height: 29.28px;
                font-weight: $medium;
                font-size: $fz24;
                width: 226px;
                height: 50px;
                margin-bottom: 18px;
            }
            p:nth-child(4) {
                margin-left: 416px;
                color: $gray;
                font-size: $fz18;
                font-weight: $reg;
                line-height: 21.33px;
                width: 256px;
                height: 84px;
            }
            a {
                position: absolute;
                left: 389px;
                top: 254px;
                width: 268px;
                height: 69px;
                background-color: $orange;
                padding-left: 64px;
                padding-top: 24px;
                text-transform: uppercase;
                color: $white;
                font-weight: $extra-bold;
                font-size: $fz18;
                line-height: 21.33px;
            }
            a:hover {
                animation: link 2s ease-in-out 0s normal none infinite running;
            }
            @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-5deg);
                }
            
                20%,
                40% {
                    transform: rotate(5deg);
                }
        }
        }
    }
}
.partners {
    padding-top: 100px;
    .container {
        .wrap-partners {
            padding: 0.1px;
            padding-top: 22px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;
            height: 300px;
            width: 100%;
            background-color: $fone-cat;
            div:nth-child(1) {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 20px;
                p {
                    width: 687px;
                    height: 74px;
                    font-size: $fz30;
                    font-weight: $medium;
                    line-height: 37.02px;
                    color: $gray;
                }
                a {
                   width: 400px;
                   height: 60px;
                   border: 1px solid $orange;
                   padding-left: 16px;
                   padding-top: 18px; 
                   color: $gray;
                   text-transform: uppercase;
                   font-weight: $medium;
                   font-size: $fz18;
                   line-height: 21.33px;
                   position: relative;
                   img {
                    position: absolute;
                    right: 14px;
                   }
                }
                a:hover {
                    color: $white;
                    background-color: $orange;
                    animation: link 2s ease-in-out 0s normal none infinite running;
                }
                 @keyframes link {
            0%,
                50%,
                100% {
                    transform: rotate(0deg);
                }
            
                10%,
                30% {
                    transform: rotate(-5deg);
                }
            
                20%,
                40% {
                    transform: rotate(5deg);
                }
        }
            }
            div:nth-child(2) {
                padding-top: 100px;
                position: relative;
                img {
                    position: absolute;
                }
                img:nth-child(1) {
                left: 60px;
                top: -10px;
                }
                img:nth-child(2) {
                top: 10px;
                left: 300px;
                }
                img:nth-child(3) {
                    top: -10px;
                    left: 600px;
                }
                img:nth-child(4) {
                    top: 21px;
                    left: 961px;
                }
                img:nth-child(5) {
                    top: -5px;
                    left: 1220px;
                }
                ul {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    li {
                        font-weight: $medium;
                        font-size: $fz20;
                        line-height: 23.7px;
                        color: $gray;
                    }
                }
            }
        }
    }
}