@media all and (max-width: 1220px) {
  .container {
    width: 900px; }

  .header .container {
    justify-content: space-around; }
    .header .container .name__of__library {
      font-size: 20px; }
  .header .wrapper__text__header {
    margin-left: 0px !important; }
    .header .wrapper__text__header .header__list__of__catigories {
      width: 300px; }
      .header .wrapper__text__header .header__list__of__catigories li {
        font-size: 14px;
        font-weight: 400; }
    .header .wrapper__text__header .login {
      font-size: 14px; }

  .search__block .container .search {
    margin-left: 170px; }
  .search__block .container .alert__not__defined__card {
    left: 170px; }
  .search__block .container .sentences__about__games {
    width: 887px;
    margin-left: 0px;
    font-weight: 400;
    padding-left: 40px; }

  .hero .container {
    flex-direction: column;
    align-items: center; }
    .hero .container #slider {
      margin-bottom: 80px; }
    .hero .container #buttons__block {
      top: 350px;
      left: 365px; }
    .hero .container .text__about__pixelPack {
      width: 100%;
      padding-left: 50px; }

  .blocks__games .container .games__without__end {
    flex-direction: column;
    align-items: center; }
    .blocks__games .container .games__without__end div {
      margin-bottom: 35px; }
  .blocks__games .container .games__with__end {
    flex-flow: wrap; }
    .blocks__games .container .games__with__end div {
      margin-bottom: 35px; }

  .form .container #wrapper__form #form_1 #form__regestration {
    width: 300px !important;
    margin-left: 520px; }

  .guide .container #svg__progress__circle__guide {
    margin-left: 380px; } }
@media all and (max-width: 900px) {
  .container {
    width: 560px;
    border: 1px solid red; }

  .header .container {
    padding-left: 0px;
    padding-right: 0px; }
    .header .container .name__of__library {
      font-size: 16px;
      margin-left: 3px; }
    .header .container .logo {
      width: 46px;
      height: 46px; }
    .header .container .wrapper__text__header .header__list__of__catigories {
      width: 250px; }
      .header .container .wrapper__text__header .header__list__of__catigories li {
        font-size: 10px; }
    .header .container .wrapper__text__header a .login {
      font-size: 10px;
      display: flex;
      color: red;
      text-decoration: underline; }
      .header .container .wrapper__text__header a .login #img__login {
        display: none !important; }

  .search__block .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px; }
    .search__block .container .search {
      margin-left: 0px;
      width: 550px; }
    .search__block .container .help__text {
      margin-top: 300px; }
    .search__block .container .cards__active__block {
      right: 14px; }
    .search__block .container .sentences__about__games {
      width: 100%;
      line-height: 30px; }
    .search__block .container .alert__not__defined__card {
      left: 5px; }

  .hero .container #buttons__block {
    left: 191px; }

  .form .container #wrapper__form #form_1 {
    padding-top: 40px;
    background-position: bottom;
    background-size: 60% 50%; }
    .form .container #wrapper__form #form_1 #form__regestration {
      width: 300px;
      margin-left: 133px; }

  .about__platform .container {
    flex-direction: column;
    align-items: center; }
    .about__platform .container .desktop__games {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px; }

  .guide .container #svg__progress__circle__guide {
    margin-left: 230px; }

  .footer .container {
    flex-flow: wrap; }
    .footer .container ul {
      margin-bottom: 30px; }
    .footer .container .neon__view {
      height: 150px; } }
@media all and (max-width: 560px) {
  .container {
    width: 320px; }

  .header .container .wrapper__text__header .header__list__of__catigories {
    display: none; }
  .header .container .wrapper__text__header a {
    display: none; }
  .header .container .name__of__library {
    margin-left: 10px; }
  .header .container #hamburger__button__header {
    display: block; }

  .search__block .container .search {
    width: 310px;
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 10px; }
  .search__block .container .cards__active__block {
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 320px;
    border-top-right-radius: 0px; }
    .search__block .container .cards__active__block .img__of__races__and__molesmash__jorun__block {
      width: 100%;
      height: 260px; }
    .search__block .container .cards__active__block .text__content__of__card {
      width: 100%; }
    .search__block .container .cards__active__block .text__content__of__jorun {
      width: 100%; }
  .search__block .container .sentences__about__games {
    display: none; }
  .search__block .container .help__text {
    margin-top: 470px; }

  .hero .container #buttons__block {
    left: 70px; }
  .hero .container .text__about__pixelPack {
    padding-left: 10px; }

  .blocks__games .container .games__without__end div {
    width: 315px; }

  .more__about__games .container canvas {
    width: 315px; }
  .more__about__games .container .animated__btn__close__canvas {
    animation: btnClose 1.1s linear; }
  @keyframes btnClose {
    from {
      opacity: 0.1;
      color: #C71585; }
    to {
      opacity: 1;
      color: red; } }
  .form .container h3 {
    font-size: 20px;
    line-height: 25px; }

  .about__platform .container .desktop__games h3 {
    font-size: 16px; }
  .about__platform .container .desktop__and__mobile__games h3 {
    font-size: 16px;
    text-align: center; }

  .guide .container #svg__progress__circle__guide {
    margin-left: 100px; }
  .guide .container h3 {
    font-size: 20px;
    line-height: 25px; } }

/*# sourceMappingURL=main.css.map */
