@media all and (max-width: 1202px) {
    .container {
        width: 800px;
    }
    .name-player {
        left: 300px;
    }
    .wrap {
        margin-left: 240px;
    }
    #text {
        transform: rotate(-50deg);
        top: 358px;
        left: -275px;
        transform: rotate(-90deg);
    }
    #t1 {
        left: 100px;
    }
    .table-winner {
        left: 100px;
    }
}
@media all and (max-width: 820px) {
    .container {
        width: 560px;
    }
    .wrap {
        margin-left: 120px;
    }
    .name-player {
        left: 190px;
        color: red;
    }
    #dynamic-on {
        left: -230px;
    }
    .red-line {
        display: none;
    }
    #off-music {
        display: none;
    }
    #table-winner {
        left: 178px;
    }
    .wrap-dynamic {
    display: none;
}
}
@media all and (max-width: 560px) {
    .container {
        width: 320px;
    }
    #table-winner {
        left: 35px;
    }
    #text {
        display: none;
    }
    .wrap {
        margin-left: 9px;
        width: 107px;
    }
    .cube {
        width: 35px;
        height: 35px;
        line-height: 34px;
        padding-left: 2px;
    }
    .name-player {
        left: 51px;
        width: 250px;
        color: red;
    }
    #t1 {
        left: 40px;
    }
}