* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1338px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
   
    
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}



.header-nav {
    display: flex;
    
}

div.header-nav h2 {
    margin-top: 10px;
    width: 106px ;
    height: 54px ;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    
    
}

div.header ul li {
    display: inline-block;
    margin-top: 23px;
    margin-left: 60px;
    font-size: 20px;
    color: #263238;
    
}

.nav {
    margin-left: 103px;
    
}

div.header-nav a {
    width: 220px ;
    height: 70px ;
    border: 1px solid black;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 150px;
    padding-left: 57px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #000000;
    background-color: white;
    
}

/* hero */

.hero {
    padding-top: 115px;

    
}

.lamp {
     background: url(../img/lamp.png) no-repeat 40% 30%, url(../img/map.png) no-repeat right;
     width: 1338px;
}

div.hero h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    width: 386px;
    height: 240px;
}

div.hero p {
    width: 632px;
    height: 108px;
    margin-top: 40px;
    color: #8F95A5;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}



div.hero button {
    
    border: 1px solid #263238;
    border-radius: 15px;
    background-color: #263238;
    padding-left: 117px ;
    padding-right: 118px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    font-size: 36px;
    line-height: 54px;
    margin-top: 61px;
}

/* section-one */

.section-one {
    padding-top: 171px;

}

div.section-one h3 {
    margin-left: 600px;
    font-size: 48px;
    line-height: 80px;
    color: black;
    font-weight: 600;
    width: 124px;
    height: 80px;
}

.flex {
    display: flex;
    margin-top: 91px;
    
}

.block-1 {
    width: 435px ;
    height: 894px ;
    background-color: #f5f5f5;
    margin-right: 18px;
    border-radius: 10px;
    
}

.block-1 img {
    width: 390px;
    height: 390px;
    margin-top: 35px;
    margin-left: 23px;
    
}

.block-1 h4 {
    line-height: 80px;
    font-size: 30px;
    width: 144px;
    height: 80px;
    margin-top: 39px;
    margin-bottom: 5px;
    color: #263238;
    font-weight: 600;
    margin-left: 43px;
}

.block-1 p {
    font-weight: 400;
    line-height: 24px;
    color: #8F95A5;
    width: 347px;
    height: 192px;
    margin-bottom: 36px;
    margin-left: 43px;
}

.block-1 button {
    width: 230px;
    height: 60px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 64px;
    padding-right: 63px;
    padding-top: 17px;
    padding-bottom: 16px;
    margin-left: 43px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.block-23 {
    display: flex;
}

.block-2 {
    width: 434px;
    height: 531px;
    background-color: #F5F5F5;
    border-radius: 10px;
    
}

div.block-2 img{
    width: 233px;
    height: 233px;
    margin-left: 122px;
}

div.block-2 h4 {
    width: 112px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    font-weight: 600;
    color: #263238;
    margin-left: 42px;
}

div.block-2 p {
    width: 285px;
    height: 106px;
    margin-left: 41px;
    line-height: 24px;
    font-weight: 400;
    color: #8F95A5;
    
}

div.block-2 button {
    margin-left: 42px;
    margin-top: 33px;
    width: 218px;
        height: 60px;
        background-color: #263238;
        border: 1px solid #263238;
        border-radius: 5px;
        padding-left: 52px;
        padding-right: 51px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 43px;
        color: white;
        font-size: 20px;
        line-height: 27px;
        font-weight: 500;
        
}

.block-3 {
    width: 435px;
    height: 532px;
    background-color: #F5F5F5;
    margin-left: 18px;
    border-radius: 10px;
    
}

div.block-3 img {
    margin-right: 63px;
    width: 371px;
    height: 247px;
}

div.block-3 h4 {
    font-size: 30px;
    color: #263238;
    
    margin-left: 41px;
    width: 127px;
    height: 80px;
    line-height: 80px;
    font-weight: 600;
}

div.block-3 p{

    width: 285px;
        height: 106px;
        margin-left: 41px;
        line-height: 24px;
        font-weight: 400;
        color: #8F95A5;
}

div.block-3 button {
    width: 218px;
    height: 60px;
    background-color: #263238;
    border: 1px solid #263238;
    padding-left: 52px;
    padding-right: 51px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    margin-left: 43px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 20px;
}

.block-4 {
    width: 885px;
    height: 343px;
    background-color: #f5f5f5;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 0.1px;
    background-image: url(../img/imgblock4.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
   
}


div.block-4 h4 {
    width: 137px;
    height: 80px;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: #263238;
    margin-left: 48px;
    margin-top: 43px;
}

div.block-4 p {
    width: 341px;
        height: 72px;
        margin-left: 41px;
        line-height: 24px;
        font-weight: 400;
        color: #8F95A5;
}

div.block-4 button {
    margin-top: 40px;
    margin-left: 44px;
    width: 218px;
    height: 60px;
    padding-left: 52px;
    padding-top: 15px;
    padding-right: 51px;
    padding-bottom: 15px;
    border: 1px solid #263238;
    border-radius: 5px;
    background-color: #263238;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* section-two */


.section-two {
    padding-top: 282px;

}

div.section-two h2 {
     width: 219px;
     height: 80px;
     color: black;
     font-weight: 600;
     font-size: 48px;
     line-height: 80px;
}

div.section-two p {
    width: 635px;
    height: 240px;
    color: #8F95A5;
    margin-top: 23px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.list {
    display: flex;
}

ul.list li {
    margin-right: 163px;
    font-size: 48px;
    color: #2A3246;
    line-height: 80px;
    font-weight: 600;
}

ul.list li:first-child {
    width: 93px;
    height: 80px;
}

ul.list li:nth-child(2) {
    width: 49px;
    height: 80px;
}

ul.list li:last-child {
    width: 31px;
    height: 80px;
}

.list1 {
    display: flex;
    margin-left: 20px;
    width: 635px;
    height: 30px;
    margin-top: 20px;
}

ul.list1 li:first-child {
    margin-right: 163px;
    font-weight: 400;
    font-size: 20px;
    color: #8F95A5;
    line-height: 30px;
}

ul.list1 li:nth-child(2) {
    margin-right: 73px;
    font-weight: 400;
        font-size: 20px;
        color: #8F95A5;
        line-height: 30px;
}

ul.list1 li:last-child {
    font-weight: 400;
        font-size: 20px;
        color: #8F95A5;
        line-height: 30px;
}

.about {
    background-image: url(../img/fonts2.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

/* section3 */

.section-three {
    padding-top: 229px;

}

.section-three h2 {
    font-size: 48px;
    line-height: 80px;
    color: black;
    font-weight: bold;
    margin-left: 550px;
    width: 169px;
    height: 80px;
}

.mini-blocks {
    width: 1242.09px;
    height: 593.93px;
    margin: 0 auto;
    margin-top: 82px;
    display: flex;
}

.mini-block1 {
    margin-right: 30px;
    margin-left: 5px;
    
}

div.mini-block1 img {
    margin: 20px 10px 0px 20px;
}
div.mini-block1 h4 {
    width: 372px;
    height: 48px;
    color: #263238;
    line-height: 48px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 14px;
}

div.mini-block1 p {
    width: 372px;
    height: 90px;
    color: #8F95A5;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.price {
    width: 240px;
    height: 45px;
    margin-top: 29px;
    background-color: #EEEEEE;
}

div.price span:first-child {
    display: inline-block;
    width: 90px;
    height: 45px;
    margin-left: 18px;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
    font-weight: 400;
}

div.price span:last-child {
    display: inline-block;
    width: 100px;
    height: 27px;
    color: #546269;
    font-size: 18px;
    font-weight: 400;
    
}

.mini-block2 {
    margin-right: 30px;

}

div.mini-block2 h4 {
     color: #263238;
     width: 282px;
     height: 48px;
     margin: 0 auto;
     margin-top: 40px;
     font-size: 30px;
     line-height: 48px;
}

div.mini-block2 p {
    width: 372px;
    height: 90px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #8F95A5;
}

div.mini-block2 img {
    margin-top: 20px;
}

div.mini-block3 img {
    margin: 0px 10px 0px 20px;
}

div.mini-block3 h4 {
    width: 245px;
    height: 48px;
    color: #263238;
    font-size: 30px;
    line-height: 48px;
    margin: 0 auto;
}

div.mini-block3 p {
    width: 372px;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #8F95A5;
    margin: 0 auto;
    margin-top: 15px;
}

.mini-block1,
.mini-block2,
.mini-block3 {
    width: 391px;
    height: 593.93px;
    
}

/* section-four */ 

.section-four {
    padding-top: 290px;
}

.contact {
    display: flex;
    width: 1320px;
    height: 429px;
    margin: 0 auto;
    
}

div.contact h2 {
    width: 269px;
    height: 80px;
    line-height: 80px;
    font-size: 48px;
    margin-top: 40px;
}

div.contact p {
    width: 700px;
    height: 60px;
    margin-top: 37px;
    color: #8F95A5;
    font-size: 20px;
    line-height: 30px;
    
}

div.contact form {
    margin-top: 52px;
}

div.contact input {
    width: 450px;
    height: 80px;
    padding-left: 33px;
    padding-top: 26px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #8F95A5;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    
    
}

div.contact .input-s {
    width: 264px;
    height: 80px;
    padding-left: 0px;
    background-color: #263238;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #263238;
    border-radius: 10px;
    margin-left: 12px;

}


/* footer */ 

.footer {
    padding-top: 220px;
    margin: 0 auto;
}

.border {
    width: 1318px;
    border-top: 1px solid #8F95A5;
    display: flex;
    padding-top: 50px;
}

.border h3 {
    width: 106px;
        height: 54px;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;
}

.border p {
        width: 476px;
            height: 36px;
            margin-left: 607px;
            margin-top: 10px;
            color: #8F95A5;
            line-height: 36px;
            font-size: 18px;
}

