@media all and (max-width:1400px) {
    .container {
        width: 932px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        background-color: green;
    }

div.header-nav h2 {
    margin-top: 10px;
    width: 89px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
.nav {
    width: 400px;
    height: 24px;
    margin-left: 103px;
    
}

div.header ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    color: #263238;
    line-height: 24px;
}
div.header-nav a {
    width: 160px;
    height: 50px;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-left: 80px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
    background-color: white;
}
.hero {
    padding-top: 88px; 
}
div.hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    width: 386px;
    height: 240px;
}
div.hero p {
    width: 632px;
    height: 108px;
    margin-top: 7px;
    color: #8F95A5;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
div.hero button {
    width: 292px;
    height: 80px;
    border: 1px solid #263238;
    border-radius: 15px;
    background-color: #263238;
    padding-left: 79px;
    padding-right: 78px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: white;
    font-size: 24px;
    line-height: 36px;
    margin-top: 25px;
}
.lamp {
    width: 932px;
    background: url(../img/fone-hero932.png) no-repeat right, url(../img/lamp-hero932.png) no-repeat 40% 22%;
    background-color: green;

}
div.section-one h3 {
    width: 93px;
    height: 80px;
    margin-left: 400px;
    font-size: 36px;
    line-height: 80px;
    color: black;
    font-weight: 600;
    width: 124px;
    height: 80px;
}
.flex {
    display: flex;
    margin-top: 53px;
}
.block-1 {
    width: 303px;
    height: 690px;
    background-color: #f5f5f5;
    margin-right: 7px;
    border-radius: 10px;
    background: url(../img/fone-block1-932.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: #F5F5F5;

}
div.block-1 img {
    display: none;
}
.block-1 h4 {
    line-height: 80px;
    font-size: 22px;
    width: 183px;
    height: 69px;
    margin-top: 39px;
    margin-bottom: 5px;
    color: #263238;
    font-weight: 600;
    margin-left: 29px;
    margin-top: 250px;
}
.block-1 p {
    font-weight: 400;
    line-height: 21px;
    color: #8F95A5;
    width: 262px;
    height: 169px;
    margin-bottom: 20px;
    margin-left: 29px;
    font-size: 14px;
    margin-top: 20px
}
.block-1 button {
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 19px;
    margin-left: 29px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.block-23 {
    width: 600px;
}
.block-2 {
    width: 302px;
    height: 441px;
    background-color: #F5F5F5;
    border-radius: 10px;
    
}
div.block-2 img {
    display: none;
}

.block-2 {
    background-image: url(../img/Typewriter-bro\ 1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
div.block-2 h4 {
    width: 138px;
    height: 69px;
    line-height: 80px;
    font-size: 22px;
    font-weight: 600;
    color: #263238;
    margin-left: 29px;
    margin-top: 180px;
}
div.block-2 p {
    width: 250px;
    height: 106px;
    margin-left: 29px;
    line-height: 21px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 14px;
}
div.block-2 button {
    margin-top: 5px;
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-left: 29px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.block-3 {
    width: 304px;
    height: 442px;
    background-color: #F5F5F5;
    margin-left: 7px;
    border-radius: 10px;
    background-image: url(../img/House\ bookshelves-bro\ 1.png);
        background-position: 50% 0%;
        background-repeat: no-repeat;
}
div.block-3 img {
    display: none;
}

div.block-3 h4 {
    font-size: 22px;
    color: #263238;
    margin-left: 29px;
    width: 127px;
    height: 69px;
    line-height: 80px;
    margin-top: 180px;
    font-weight: 600;
}
div.block-3 p {
    width: 250px;
        height: 106px;
        margin-left: 29px;
        line-height: 21px;
        font-weight: 400;
        color: #8F95A5;
        font-size: 14px;
}
div.block-3 button {
    margin-top: 4px;
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-left: 29px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.block-4 {
    width: 600px;
    height: 241px;
    background-color: #f5f5f5;
    margin-top: 7px;
    border-radius: 10px;
    padding-top: 0.1px;
    background-image: url(../img/Podcast\ audience-bro\ 1.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
div.block-4 h4 {
    width: 117px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 80px;
    color: #263238;
    margin-left: 29px;
    margin-top: 5px;
}
div.block-4 p {
    width: 341px;
    height: 72px;
    margin-left: 29px;
    line-height: 21px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 14px;
    margin-top: 10px;
}
div.block-4 button {
    margin-top: 5px;
        width: 196px;
        height: 57px;
        background-color: #263238;
        border: 1px solid #263238;
        border-radius: 5px;
        padding-left: 42px;
        padding-right: 41px;
        padding-top: 15px;
        padding-bottom: 19px;
        margin-left: 29px;
        color: white;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
}

}