@media all and (max-width:1400px) {
    .container {
        width: 932px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

div.header-nav h2 {
    margin-top: 10px;
    width: 89px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
.nav {
    width: 400px;
    height: 24px;
    margin-left: 103px;
    
}

div.header ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    color: #263238;
    line-height: 24px;
}
div.header-nav a {
    width: 160px;
    height: 50px;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-left: 80px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
    background-color: white;
}
.hero {
    padding-top: 88px; 
}
div.hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    width: 386px;
    height: 240px;
}
div.hero p {
    width: 632px;
    height: 108px;
    margin-top: 7px;
    color: #8F95A5;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
div.hero button {
    width: 292px;
    height: 80px;
    border: 1px solid #263238;
    border-radius: 15px;
    background-color: #263238;
    padding-left: 79px;
    padding-right: 78px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: white;
    font-size: 24px;
    line-height: 36px;
    margin-top: 25px;
}
.lamp {
    width: 932px;
    background: url(../img/fone-hero932.png) no-repeat right, url(../img/lamp-hero932.png) no-repeat 40% 22%;

}
div.section-one h3 {
    width: 93px;
    height: 80px;
    margin-left: 400px;
    font-size: 36px;
    line-height: 80px;
    color: black;
    font-weight: 600;
    width: 124px;
    height: 80px;
}
.flex {
    display: flex;
    margin-top: 53px;
}
.block-1 {
    width: 303px;
    height: 690px;
    background-color: #f5f5f5;
    margin-right: 7px;
    border-radius: 10px;
    background: url(../img/fone-block1-932.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: #F5F5F5;

}
div.block-1 img {
    display: none;
}
.block-1 h4 {
    line-height: 80px;
    font-size: 22px;
    width: 183px;
    height: 69px;
    margin-top: 39px;
    margin-bottom: 5px;
    color: #263238;
    font-weight: 600;
    margin-left: 29px;
    margin-top: 250px;
}
.block-1 p {
    font-weight: 400;
    line-height: 21px;
    color: #8F95A5;
    width: 262px;
    height: 169px;
    margin-bottom: 20px;
    margin-left: 29px;
    font-size: 14px;
    margin-top: 20px
}
.block-1 button {
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 19px;
    margin-left: 29px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.block-23 {
    width: 600px;
}
.block-2 {
    width: 302px;
    height: 441px;
    background-color: #F5F5F5;
    border-radius: 10px;
    
}
div.block-2 img {
    display: none;
}

.block-2 {
    background-image: url(../img/Typewriter-bro\ 1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
div.block-2 h4 {
    width: 138px;
    height: 69px;
    line-height: 80px;
    font-size: 22px;
    font-weight: 600;
    color: #263238;
    margin-left: 29px;
    margin-top: 180px;
}
div.block-2 p {
    width: 250px;
    height: 106px;
    margin-left: 29px;
    line-height: 21px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 14px;
}
div.block-2 button {
    margin-top: 5px;
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-left: 29px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.block-3 {
    width: 304px;
    height: 442px;
    background-color: #F5F5F5;
    margin-left: 7px;
    border-radius: 10px;
    background-image: url(../img/House\ bookshelves-bro\ 1.png);
        background-position: 50% 0%;
        background-repeat: no-repeat;
}
div.block-3 img {
    display: none;
}

div.block-3 h4 {
    font-size: 22px;
    color: #263238;
    margin-left: 29px;
    width: 127px;
    height: 69px;
    line-height: 80px;
    margin-top: 180px;
    font-weight: 600;
}
div.block-3 p {
    width: 250px;
        height: 106px;
        margin-left: 29px;
        line-height: 21px;
        font-weight: 400;
        color: #8F95A5;
        font-size: 14px;
}
div.block-3 button {
    margin-top: 4px;
    width: 196px;
    height: 57px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-left: 29px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.block-4 {
    width: 600px;
    height: 241px;
    background-color: #f5f5f5;
    margin-top: 7px;
    border-radius: 10px;
    padding-top: 0.1px;
    background-image: url(../img/Podcast\ audience-bro\ 1.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
div.block-4 h4 {
    width: 117px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 80px;
    color: #263238;
    margin-left: 29px;
    margin-top: 5px;
}
div.block-4 p {
    width: 341px;
    height: 72px;
    margin-left: 29px;
    line-height: 21px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 14px;
    margin-top: 10px;
}
div.block-4 button {
    margin-top: 5px;
        width: 196px;
        height: 57px;
        background-color: #263238;
        border: 1px solid #263238;
        border-radius: 5px;
        padding-left: 42px;
        padding-right: 41px;
        padding-top: 15px;
        padding-bottom: 19px;
        margin-left: 29px;
        color: white;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
}
div.section-two h2 {
    width: 165px;
    height: 80px;
    color: black;
    font-weight: 600;
    font-size: 36px;
    line-height: 80px;
}
div.section-two p {
    width: 535px;
    height: 192px;
    color: #8F95A5;
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
ul.list li:first-child {
    width: 59px;
    height: 80px;
}
ul.list li {
    margin-right: 80px;
    font-size: 30px;
    color: #2A3246;
    line-height: 80px;
    font-weight: 600;
}
ul.list li:nth-child(2) {
    width: 31px;
    height: 80px;
}
ul.list li:last-child {
    width: 20px;
    height: 80px;
}
.list1 {
    display: flex;
    margin-left: 5px;
    width: 535px;
    height: 30px;
    margin-top: 0px;
}
ul.list1 li:first-child {
    margin-right: 70px;
    font-weight: 400;
    font-size: 16px;
    color: #8F95A5;
    line-height: 24px;
}
ul.list1 li:nth-child(2) {
    margin-right: 50px;
    font-weight: 400;
    font-size: 16px;
    color: #8F95A5;
    line-height: 24px;
}
ul.list1 li:last-child {
    font-weight: 400;
    font-size: 16px;
    color: #8F95A5;
    line-height: 24px;
}

.about {
    background-image: url(../img/about-fone932.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.section-three h2 {
    font-size: 36px;
    line-height: 80px;
    color: black;
    font-weight: bold;
    width: 127px;
    margin: 0 auto;
    height: 80px;
}
.mini-blocks {
    height: 1007.85px;
    width: 902px;
    margin: 0 auto;
    margin-top: 32.05px;
    display: flex;
    flex-flow: wrap;
}
.mini-block1,
.mini-block2,
.mini-block3 {
    width: 350px;
    height: 493.93px;
}

.mini-block1 img {
    display: none;
}
.mini-block1 {
    margin-left: 80px;
    background-image: url(../img/Online\ test-bro\ 1.png);
    background-position: center top;
    background-repeat: no-repeat;
}
div.mini-block1 h4 {
    width: 273px;
    height: 34px;
    color: #263238;
    line-height: 34px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 250px;
    margin-left: 29px;
}
div.mini-block1 p {
    width: 300px;
    height: 90px;
    color: #8F95A5;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 29px;
}
.mini-block2 {
    background-image: url(../img/Lesson-bro\ 1.png);
    background-position: 50% 5%;
    background-repeat: no-repeat;
}
.mini-block2 img {
    display: none;
}
div.mini-block2 h4 {
    width: 273px;
        height: 34px;
        color: #263238;
        line-height: 34px;
        font-size: 22px;
        font-weight: 600;
        margin-top: 250px;
        margin-left: 29px;
}
div.mini-block2 p {
width: 300px;
    height: 90px;
    color: #8F95A5;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 29px;
}
.mini-block3 {
    margin: 0 auto;
    background-image: url(../img/Webinar-bro\ 2.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.mini-block3 img {
    display: none;
}
div.mini-block3 h4 {
    width: 273px;
        height: 34px;
        color: #263238;
        line-height: 34px;
        font-size: 22px;
        font-weight: 600;
        margin-top: 250px;
        margin-left: 29px;
}
div.mini-block3 p {
    width: 300px;
        height: 90px;
        color: #8F95A5;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-top: 25px;
        margin-left: 29px;
}
div.price span:first-child {
    display: inline-block;
    width: 90px;
    height: 36px;
    margin-left: 18px;
    font-size: 24px;
    line-height: 36px;
    color: #263238;
    font-weight: 400;
    padding-top: 5px;
}
.price {
    width: 205px;
    height: 45px;
    margin-top: 20px;
    margin-left: 29px;
    background-color: #EEEEEE;
}
div.price span:last-child {
    display: inline-block;
    width: 89px;
    height: 24px;
    color: #546269;
    font-size: 16px;
    font-weight: 400;
}
div.contact img {
    display: none;
}
div.contact h2 {
    width: 202px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    margin-top: 40px;
}
div.contact p {
    width: 450px;
    height: 60px;
    margin-top: 37px;
    color: #8F95A5;
    font-size: 16px;
    line-height: 24px;
}
div.contact input {
    width: 323px;
    height: 60px;
    padding-left: 38px;
    padding-top: 23px;
    padding-bottom: 16px;
    font-size: 14px;
    color: #8F95A5;
    font-weight: 400;
    line-height: 21px;
    border-radius: 10px;
    border: 1px solid #8F95A5;
}
div.contact .input-s {
    width: 193px;
    height: 60px;
    padding-left: 0px;
    background-color: #263238;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #263238;
    border-radius: 10px;
    margin-left: 12px;
    line-height: 24px;
    padding-top: 21px;
    padding-bottom: 15px;
}
.contact {
    display: flex;
    width: 900px;
    height: 429px;
    margin: 0 auto;
    background-image: url(../img/Слой\ 2.png);
    background-repeat: no-repeat;
    background-position: right;

}
.border h3 {
    width: 89px;
    height: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
.border p {
    width: 450px;
    height: 36px;
    margin-left: 207px;
    margin-top: 10px;
    color: #8F95A5;
    line-height: 24px;
    font-size: 16px;
}
.border {
    width: 900px;
    border-top: 1px solid #8F95A5;
    display: flex;
    padding-top: 50px;
}
}

@media all and (max-width:960px) {
     .container {
        width: 696px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        background-color: green;
    }
    ul.nav {
        display: none;
    }
    div.header-nav a {
        display: none;
    }

    div.header-nav {
        background-image: url(../img/modal.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 600px;
    }
    div.hero h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    width: 217px;
    height: 135px;
    }
    div.hero p {
    width: 400px;
    height: 72px;
    margin-top: 37px;
    color: #8F95A5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
    div.lamp {
        width: 696px;
        background: url(../img/lampright600.png) no-repeat right, url(../img/lamp600.png) no-repeat 40% 30%;
    }
    div.hero button {
    width: 236px;
    height: 65px;
    border: 1px solid #263238;
    border-radius: 15px;
    background-color: #263238;
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin-top: 25px;
}
div.section-one h3 {
    width: 78px;
    height: 80px;
    margin-left: 300px;
    font-size: 30px;
    line-height: 80px;
    color: black;
    font-weight: 600;
    width: 124px;
    height: 80px;
}
.flex {
    display: flex;
    margin-top: 53px;
    width: 696px;
}
.block-1 {
    width: 224px;
    height: 662px;
    background-color: #f5f5f5;
    margin-right: 3px;
    border-radius: 10px;
    background: url(../img/mb600.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: #F5F5F5;
}
.block-1 h4 {
    line-height: 80px;
    font-size: 20px;
    width: 137px;
    height: 69px;
    margin-bottom: 5px;
    color: #263238;
    font-weight: 600;
    margin-left: 19px;
    margin-top: 250px;
}
.block-1 p {
    font-weight: 400;
    line-height: 19px;
    color: #8F95A5;
    width: 197px;
    height: 169px;
    margin-bottom: 20px;
    margin-left: 19px;
    font-size: 13px;
    margin-top: 20px;
}
.block-1 button {
    width: 178px;
    height: 50px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 43px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-left: 19px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.block-2 {
    background-image: url(../img/mb2.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 227px;
    height: 441px;
}
div.block-2 h4 {
    width: 138px;
    height: 69px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 600;
    color: #263238;
    margin-left: 19px;
    margin-top: 180px;
}
div.block-2 p {
    width: 197px;
    height: 106px;
    margin-left: 19px;
    line-height: 19px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 13px;
}

div.block-2 button {
    width: 178px;
    height: 50px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 43px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-left: 19px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.block-3 {
    width: 228px;
    height: 442px;
    background-color: #F5F5F5;
    margin-left: 3px;
    border-radius: 10px;
    background-image: url(../img/mb3.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

div.block-3 h4 {
    width: 138px;
    height: 69px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 600;
    color: #263238;
    margin-left: 19px;
    margin-top: 180px;
}

div.block-3 p {
     width: 197px;
    height: 106px;
    margin-left: 19px;
    line-height: 19px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 13px;
}

div.block-3 button {
     width: 178px;
    height: 50px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 43px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-left: 19px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.block-4 {
    width: 462px;
    height: 210px;
    background-color: #f5f5f5;
    margin-top: 7px;
    border-radius: 10px;
    padding-top: 0.1px;
    background-image: url(../img/mb4.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

div.block-4 h4 {
    width: 117px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
    color: #263238;
    margin-left: 19px;
    margin-top: 0px;
}

div.block-4 p {
    width: 341px;
    height: 72px;
    margin-left: 19px;
    line-height: 19px;
    font-weight: 400;
    color: #8F95A5;
    font-size: 13px;
    margin-top: 5px;
}

div.block-4 button {
    margin-top: 5px;
    width: 178px;
    height: 50px;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 43px;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-left: 19px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
div.section-two h2 {
    width: 137px;
    height: 80px;
    color: black;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
}
div.section-two p {
    width: 400px;
    height: 192px;
    color: #8F95A5;
    margin-top: 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
ul.list li:first-child {
    width: 43px;
    height: 20px;
}
.list {
    display: flex;
    height: 40px;
    width: 300px;
}
ul.list li:nth-child(2) {
    width: 23px;
    height: 20px;
}
ul.list li:last-child {
    width: 15px;
    height: 20px;
}
ul.list li {
    margin-right: 80px;
    font-size: 22px;
    color: #2A3246;
    line-height: 80px;
    font-weight: 600;
}
.list1 {
    display: flex;
    margin-left: 5px;
    width: 400px;
    height: 30px;
    margin-top: 30px;
}
ul.list1 li:first-child {
    margin-right: 60px;
    font-weight: 400;
    font-size: 13px;
    color: #8F95A5;
    line-height: 19px;
}
ul.list1 li:nth-child(2) {
    margin-right: 50px;
    font-weight: 400;
    font-size: 13px;
    color: #8F95A5;
    line-height: 19px;
}
ul.list1 li:last-child {
    font-weight: 400;
    font-size: 13px;
    color: #8F95A5;
    line-height: 19px;
}
.about {
    background-image: url(../img/about600.png);
    background-repeat: no-repeat;
    background-position: right;
}
.section-three h2 {
    font-size: 30px;
    line-height: 80px;
    color: black;
    font-weight: bold;
    width: 127px;
    margin: 0 auto;
    height: 80px;
}
.mini-blocks {
    height: 1007.85px;
    width: 600px;
    margin: 0 auto;
    margin-top: 32.05px;
    display: flex;
    flex-flow: wrap-reverse;
}
.mini-block1,
.mini-block2,
.mini-block3 {
    width: 270px;
    height: 493.93px;
}

}