.div {
    background-image: url(../img/cards.7e0a18f0.png);
    height: 190px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: right;
    

    
}

.div1 {
    display: flex;
}

.div3 {
    background-image: url(../img/cards.7e0a18f0.png);
    height: 190px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.div4 {
    background-image: url(../img/cards.7e0a18f0.png);
    height: 190px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: 0% 75%;
}


.div5 {
    background-image: url(../img/cards.7e0a18f0.png);
    height: 190px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: 67% 58.3%;
    
}


.div6 {
    background-image: url(../img/cards.7e0a18f0.png);
    height: 190px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: 33% 91.6%;

}
   