body {
    width: 100%;
    font-family: 'Fira Sans Condensed',
    sans-serif;
}



a {
    text-decoration: none;
    color: #2F2F2F;
}

ul {
    list-style-type: none;
}

.div-1-header {
    display: flex;
}

.logo-1 {
    margin-left: 80px;
}

.logo-2 {
    margin-top: 43px;
}


.header.size {
    height: 248px;
}

.name {
    margin-top: 30px;
    margin-left: -110px;
    letter-spacing: 5px;
    font-size: 34px;
    font-weight: 500;
    font-family: 'Fjord One',
    serif;


}


.ford {
    color: #A6D26A;
}


.nav-1 {
    margin-left: 105px;
    display: flex;
}

.li-1 {
    margin-top: 28px;
    font-weight: 500;
    letter-spacing: 3%;
    font-size: 14px;
    font-weight: bold;
}

.li-2 {
    margin-left: 44px;
    margin-top: 28px;
    font-weight: 500;
    letter-spacing: 3%;
    font-size: 14px;
    font-weight: bold;
}

.li-3 {
    margin-left: 44px;
    margin-top: 28px;
    font-weight: 500;
    letter-spacing: 3%;
    font-size: 14px;
    font-weight: bold;
}



.li-4 {
    margin-left: 44px;
    margin-top: 28px;
    letter-spacing: 3%;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
}

.input {
    margin-left: 89px;
    height: 40px;
    width: 290px;
    border: 1px solid #2F2F2FCC;
    border-radius: 10px;
    margin-top: 33px;
}

.poisk {
    border: 0px;
    background: none;
    margin-top: 5px;
    margin-left: -60px;

}

.profile {
    margin-left: 55.5px;
    margin-top: 40px;
}

.like {
    margin-left: 40.5px;
    margin-top: 40px;
}


.one {

    margin-top: 47px;
    margin-left: 4.05px;
}


.buy {
    margin-left: 40.5px;
    margin-top: 40px;
}

.three {
    margin-left: 4.05px;
    margin-top: 47px;
}

.nav-2 {
    display: flex;
    margin-top: 62px;
}


.li-2-1 {
    width: 256px;
    height: 24px;
    margin-left: 130px;
    font-size: 20px;
    letter-spacing: 3%;
    margin-right: -40px;
    margin-top: -60px;
    





}

/* .li-2-2 {
    width: 256px;
    height: 24px;
    font-size: 20px;
    letter-spacing: 3%;
    margin-left: 110px;
    margin-right: -30px;
    margin-top: 25px;
    

}


.li-2-3 {
    width: 256px;
    height: 24px;
    font-size: 20px;
    letter-spacing: 3%;
    padding-right: 20px;
    padding-left: 90px;
    margin-top: 25px;
}


.li-2-4 {
    width: 256px;
    height: 24px;
    font-size: 20px;
    letter-spacing: 3%;
    
    padding-left: 70px;
    padding-right: 30px;
    margin-top: 25px;
}

.right {
    margin-right: -30px;
    margin-left: 0px;
}

.left {
    margin-left: 0px;
} */

.fone-books {
    background-color: #98B66F;
    width: 320px;
    height: 80px;
    margin-left: 50px;
}

.main-section {
    height: 1203px;
    background-color: #f4f4f4;
    margin-top: -16px;
}

.text-book {
    display: flex;
}

.text-after {
    margin-top: 63px;
    font-size: 14px;
    margin-left: 0px;
    
    height: 80px;
    background-color: #f4f4f4;
    width: 100%;
}


.text-css {
    letter-spacing: 1px;
    padding-left: 33px;
    padding-top: 31px;
    color: gray;
}


.harry-potter {
    color: #A6D26A;
}


.book-two-section {
    width: 545px;
    height: 528px;
    background-color: white;
     margin-left: 80px;
    position: absolute;
    top: 43%;
    
}




.big-book {
    padding-left: 140px;
    padding-top: 48px;
}

.hit {
    padding-left: 435px;
    margin-top: -415px;
    
   
}

.hit-2 {
    border: 1px solid #FFBC1C;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 11px;
    color: white;
    background-color: #FFBC1C;
    font-weight: bold;
    letter-spacing: 2px;
}


.logo-css {
    margin-top: 412px;
    margin-left: 442px;
}

.fotos-div {
    width: 130px;
    height: 213px;
    background-color: white;
    margin-right: 8px;
}

.margin {
    position: absolute;
    top: 118%;
    margin-left: 80px;
    display: flex;
}

.about-book-harry {
    background-color: white;
    width: 545px;
    height: 447px;
    position: absolute;
    top: 150%;
    margin-left: 80px;
    margin-top: -5px;
}


.look {
    padding-left: 32px;
    padding-top: 35px;
    font-weight: bold;
    font-size: 16px;
}

.books {
    padding-left: 17px;
    letter-spacing: 1.1px;
    margin-bottom: 32px;
}

.nav-books {
    
      list-style-type: "– ";
    

}
