


.main {
    background-image: url(../img/ramka.png)   ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 100%;
    
    
    
    
    
    
    
    
    
   
    
   
    

    
    text-align: center;

    
    
}