* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// font weight
$medium: 500;
$bold: 600;
$extra-bold: 700;
// font size
$fz: 16px;
$fz18: $fz + 2;
$fz24: $fz + 8;
$fz32: $fz + 14;
$fz36: $fz + 20;
$lightgray: lightgray;
// colors 
$orange: orange;
$darkblue: darkblue;
$ping: #ff005c;
$black: black;
$white: white;
$gray: #D3D3D3;
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $fz;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrap {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-weight: $medium;
            padding-bottom: 50px;
            line-height: 45px;
            font-size: $fz32;
            span:nth-child(1) {
                font-weight: $extra-bold;
                font-size: $fz36;
            }
            span:nth-child(2) {
                font-weight: $bold;
                color: $orange;
            }
            span:nth-child(3) {
                color: $darkblue;
                font-weight: $extra-bold;
                font-style: italic;
            }
            span:nth-child(4) {
                color: $ping;
                font-weight: $extra-bold;
                span {
                    color: $black;
                    font-weight: $medium;
                }
            }
            span:nth-child(5) {
                font-style: italic;
                font-weight: $bold;
                color: $black;
            }
        }
        form {
            margin-left: 220px;
            padding-left: 170px;
            width: 800px;
            height: 300px;
            padding-top: 30px;
            position: relative;
            align-self: baseline;
            #a {
                    margin-right: 150px;
                    border: 1px solid $lightgray;
                    width: 50px;
                    height: 35px;
                    padding-left: 10px;
                }
            
                #b {
                    margin-right: 150px;
                    border: 1px solid $lightgray;
                    width: 50px;
                    height: 35px;
                    padding-left: 10px;
                }
            
                #c {
                    border: 1px solid $lightgray;
                    width: 50px;
                    height: 35px;
                    padding-left: 10px;
                }
                #res {
                    position: absolute;
                    left: 305px;
                    top: 140px;
                    width: 150px;
                    height: 50px;
                    border: 1px solid green;
                    border-radius: 13px;
                    background-color: green;
                    color: $white;
                    cursor: pointer;
                    font-weight: $medium;
                    font-size: $fz;
                }
                p:nth-child(7) {
                    position: absolute;
                    top: 40px;
                    left: 65px;
                    font-weight: $medium;
                    font-size: $fz18;
                }
                p:nth-child(8) {
                    position: absolute;
                    left: 270px;
                    top: 41px;
                    font-weight: $medium;
                    font-size: $fz18;
                }
                p:nth-child(9) {
                    position: absolute;
                    left: 473px;
                    top: 40px;
                    font-weight: $medium;
                    font-size: $fz18;
                }
        }
        .block_results {
            margin-top: 30px;
            display: none;
            width: 550px;
            height: 250px;
            background-color: $gray;
            border: 1px solid $gray;
            padding-left: 50px;
            padding-top: 30px;
            align-self: center;
            border-radius: 13px;
            position: relative;
            img {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
}
