* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Montserrat',
    sans-serif;
    font-family: 'DM Sans',
    sans-serif;
    height: 5000px;
    background-color: #FCFBFF;
}

.container {
    width: 1252.86px;
    margin: 0 auto;
    
}

.header {
    height: 759.04px;
    background-color: #FCFBFF;
    margin-top: 43.27px;
    
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    color: #244D4D;
    font-size: 24px;
    font-family: 'Montserrat';
    line-height: 29.26px;
    font-weight: 700 bold;
    float: left;
}

.header ul li {
    float: left;
    margin-left: 50px;
    
}

.header li a {
    color: #161616;
    line-height: 20.83px;
    font-weight: 400 'Regular';
}

.menu__top {
    margin-left: 465.19px;
    padding-top: 5px;
}
.menu__top  a:hover {
    content: '';
    color: #244D4D;;
}

.search {
    float: right;
}

.fone {
    
    height: 700px;
    margin-top: 34.01px;
    background-image: url(../img/fone_header.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 0.1px;

    
   
    
}

.left-text {
    background-color: #154444;
    width: 620.53px;
    height: 469.92px;
    margin-top: 114px;
    margin-left: -60px;
    
    

    
    
    
    
 }

.help {
    font-size: 56px;
    color: #FFFFFF;
    line-height: 68.26px;
    padding-left: 120.38px;
    padding-top: 74.46px;
    font-weight: 700 bold;
    font-weight: 'Montserrat';
}

.left-paragraph {
    padding-left: 120.38px;
    padding-top: 30px;
    color: #FFFFFF;
    font-weight: 400 'Regular';
    font-family: 'DM Sans',
    sans-serif;
    font-size: 20px;

}


/* description */

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 140px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 700 bold;
    line-height: 41.66px;

}

.div-description {
    width: 1086px;
    height: 134px;
    margin-left: 116px;
    margin-bottom: -40px;
}


.operation {
    margin-left: 9.45px;
}

.description  ul li {
    float: left;
    margin-left: 100px;
    
    

}

.about {
    width: 1200px;
    height: 577px;
    
    margin-left: 55px;
    margin-top: 172.24px;
    float: left;
    background-image: url(../img/fone-about.png);
    background-position: right;
    background-repeat: no-repeat;
   
}

.about-us {
    color: #244D4D;
    font-size: 32px;
    font-weight: 700 bold;
    font-family: 'Montserrat';
}

.paragraph-about {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
}

.div-about ul li  {
   clear: both;
   
    

}

.ul-icon {
    margin-top: 40px;
    margin-left: -100px;
    
    
}


.div-about ul li:nth-child(2) {
    margin-top: 73.78px;
}

.div-about ul li:nth-child(3) {
    margin-top: 73.78px;

}

 .h4-about {
    font-size: 24px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 500;
    line-height: 27px;
    margin-left: 5%;
    
}

.h4-about2 {
    margin-left: 5%;
    font-size: 24px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 500;
    line-height: 27px;
    margin-left: 5%;
    margin-top: 40px;
}

.h4-about3 {
    margin-left: 5%;
    font-size: 24px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 500;
    line-height: 27px;
    margin-left: 5%;
    margin-top: 40px;
}

.p-about {
    margin-top: 15px;
    margin-left: 5%;
}




.section-one {
    margin-top: 166px;
    margin-left: 60px;
}

.section-one-paragpaph {
    color: #383738;
    font-size: 20px;
    font-weight: 400 'Regular';
    font-family: 'DM Sans',sans-serif; 
    margin-top: 20px;
    line-height: 27px;
}

.blocks {
    margin-top: 80px;
    display: flex;
    padding-top: 0.1px;
    

}

.block-1 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    background-image: url(../img/fone-block1.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    /* active.vision.ru - источник */
   
    

}
.block-1 p {

    padding-top: 0.1px;
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}

.block-1 .photo-a a {
   float: right; 
   padding-top: 270px;
    padding-left: 8px;
   
   
}




.block-1 {
    padding-right: 24.06px;
}



.prise40 {
    padding-top: 20.75px;
    padding-left: 24.06px;
    float: left;
    color: #154444;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500 'Medium';
    
}

.buy-40 {
    float: right;
    border: 1px solid #244D4D;
    background-color: #244D4D;
    border-radius: 6px;
    margin-top: 20.75px;
    padding-left: 14.35px;
    padding-right: 14.5px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    color: white;
    font-size: 12px;
    font-weight: 500 'Medium';
    
    
    
}




.block-2 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    background-image: url(../img/fone-block2.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    margin-left: 30px;
    
}

.block-2 p {
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}

.block-2 .photo-a a {
    float: right;
    padding-top: 270px;
    padding-left: 8px;
}

.block-2 .photo-a:nth-child(2) {
    margin-right: 24.06px;
}




.prise40-2 {
    padding-top: 20.75px;
    float: left;
}

.block-2 ul li:nth-child(2) {
    margin-right: 24.06px;
}



.block-3 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    margin-left: 30px;
    background-image: url(../img/fone-block3.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
}

.block-3 .photo-a a {
    float: right;
    padding-top: 270px;
    padding-left: 8px;
    
    
}
.block-3 .photo-a:nth-child(2) {
    margin-right: 24.06px;
}
.block-3 p {
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}



.section-two ul {
    margin-top: 30px;
}



.section-two .headings li:first-child {
    float: left;
    margin-left: 260px;
    margin-right: 100px;
    margin-right: 104px;
    color: #244D4D;
    

}
.section-two .headings li:nth-child(2) {
   float: left;
   margin-right: 104px;
   

}



.section-two .headings  li {
   
    font-size: 24px;
    line-height: 27px;
    font-family: 'DM sans';
    color: #919090;
}

.fone_section_two {
    width: 552px;
    height: 393px;
    margin-top: 98.46px;
}

.div-fone {
    width: 495px;
    height: 381px;
    background-color: #244D4D;
    
}

.div-bg {
    width: 500px;
    height: 389.34px;
    background-image: url(../img/in-fone.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    
   
}

.position-div {
    display: flex;
}

.mini-blocks-div{
   margin-top: 108.79px;
   margin-left: 103.28px;
   display: flex;
   
}

.mini-block1 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    background-image: url(../img/badroom.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;

    
}

.mini-block1:hover {
    background-color: #244D4D;
}



.mini-block2 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    background-image: url(../img/dining-room.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;

    
   
}

.mini-block2:hover {
    background-color: #244D4D;
}



.mini-block3 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    background-image: url(../img/bedroom.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.mini-block3:hover {
    background-color: #244D4D;
}

.mini-block4 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-left: 30px;
    background-image: url(../img/kitchen.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.mini-block4:hover {
    background-color: #244D4D;
}

.mini-block5 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    margin-left: 30px;
    background-image: url(../img/office.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #154444;
}

.mini-block5:hover {
    background-color: #244D4D;
}

.mini-block6 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    margin-left: 30px;
    background-image: url(../img/hallway.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.mini-block6:hover {
    background-color: #244D4D;
}

.text-in-mini-block {
    color: #808080;
    font-weight: 500, Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-left: 66.05px;
    padding-top: 56px;

   
}

.text-kitchen {
    color: #808080;
    font-weight: 500,
    Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-top: 56px;
    padding-left: 82px;
  
}

.text-in-bedroom {
    color: #808080;
    font-weight: 500,
    Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-top: 56px;
    padding-left: 76px;
}

.text-in-office {
    padding-top: 56px;
    padding-left: 91.3px;
    color: white;
    font-weight: 500, medium;
    line-height: 21px;
}

.text-in-hallway {
    padding-top: 56px;
    padding-left: 82px;
    color: #808080;
    font-weight: 500,medium;
    line-height: 21px;
}

.section-three {
    margin-top: 140px;
}

.section-three-flex {
    display: flex;
}

.section-three-about {
    margin-left: 79.94px;
}

.section-three-about h3 {
    color: #244D4D;
    font-weight: 700, Bold;
    font-size: 32px;
    line-height: 48px;
    font-family: 'DM Sans';
}

.section-three-about p {
    margin-top: 30.25px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400, 'Regular';
    font-family: 'DM Sans';
}


.big-circle {
    width: 492.42px;
    height: 492.42px;
    background-image: url(../img/big-circle.png);
    background-repeat: no-repeat;
    margin-left: 0px;
    
}

.fone-after-circle {
    width: 459.09px;
    height: 492.42px;
    background-image: url(../img/fone_after_big-circle.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 70px;
   
}

.opinion-jibon {
    display: flex;
    margin-top: 10px;
}

.photo-jibon {
    padding-top: 30px;
}

.opinion-jibon p {
    color: black;
    font-weight: 500;
}

.opinion-jibon span {
    color: black;
    font-weight: 500;
}

/* section-four */

.section-four {
    margin-top: 140px;
}

.e-mail-div {
    width: 1200px;
    height: 404px;
    background-color: #305F64;
    margin-left: 10px;
    padding-top: 65px;
}

.e-mail-div h3 { 
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 48px;
    font-weight: 700, Bold;
    font-family: 'Montserrat';
}

.e-mail-div p {
    text-align: center;
    margin-top: 20.39px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400, 'Regular';
    font-family: 'DM Sans';
    color: #FFFFFFCC;
}

.section-four input {
    margin-left: 358.1px;
    margin-top: 50px;
    width: 471.98px;
    height: 67px;
    padding-top: 22.49px;
    padding-bottom: 22.51px;
}

.e-mail-div input::placeholder {
    padding-left: 45.52px;
    padding-top: 22.49px;
    padding-bottom: 22.51px;
}

.e-mail-div input[type="text"] {
    padding: 15px;
}

.btn {
    position: relative;
    left: -12.5%;
    border: 1px solid #FFB624;
    border-radius: 10px;
    background-color: #FFB624;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 31.16px;
    padding-right: 32.16px;
    width: 125px;
    height: 52px;
    color: white;
    font-weight: 500, Medium;
    line-height: 22px;
    font-family: 'DM Sans';
    cursor: pointer;
}

.footer {
    margin-top: 140px;
    height: 442px;
    background-color: #305F64;
    
    
}

.footer-flex {
    display: flex;
}

.left-information-footer {
    padding-top: 80px;
    padding-left: 89px;
}

.left-information-footer h3 {
    color: white;
    font-weight: 700, Bold;
    font-size: 24px;
    font-family: 'Montserrat';
    line-height: 29.26px;
}

.left-information-footer p {
    margin-top: 30px;
    color: white;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400, 'Regular';

}

.left-information-footer h4 {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-weight: 700, Bold;
    color: white;
    font-size: 20px;
    line-height: 26px;

}

.left-information-footer ul {
    display: flex;
    margin-top: 20.46px;
}

.left-information-footer ul li:nth-child(2) {
    margin-left: 15px ;
}

.left-information-footer ul li:nth-child(4) {
    margin-left: 15px;
}

.left-information-footer ul li:nth-child(3) {
    margin-left: 15px;
}

.second-information-footer {
    padding-top: 82px;
    margin-left: 78.13px;
}

.second-information-footer ul {
    margin-top: 30px;

}

.second-information-footer ul li {
    margin-bottom: 16px;
    font-family: 'DM Sans';
    color: white;
    font-weight: 400, 'Regular';
    line-height: 23.44px;
    font-size: 18px;
}

.second-information-footer ul li a {
    color: white;
}

.second-information-footer h5 {
    font-family: 'Montserrat';
    font-weight: 700, Bold;
    color: white;
    font-size: 20px;
    line-height: 26px;
}


.third-information-footer {
    padding-top: 82px;
    margin-left: 109px;
}


.third-information-footer h5 {
    font-family: 'Montserrat';
    font-weight: 700,
    Bold;
    color: white;
    font-size: 20px;
    line-height: 26px;
}

.third-information-footer ul {
    margin-top: 30px;
}

.third-information-footer ul li {
    margin-bottom: 16px;
    font-family: 'DM Sans';
    color: white;
    font-weight: 400,
    'Regular';
    line-height: 23.44px;
    font-size: 18px;
}
.third-information-footer ul li a {
    color: white;
}

.last-infromation-footer {
    padding-top: 83px;
    margin-left: 88px;
}

.last-infromation-footer p {
    margin-top: 30px;
}

.last-infromation-footer form {
    margin-top: 40px;
}

.last-infromation-footer h5 {
    font-family: 'Montserrat';
    font-weight: 700, Bold;
    font-size: 20px;
    line-height: 24.38px;
    color: white;
}

.last-infromation-footer p {
    font-family: 'DM Sans';
    font-size: 18px;
    color: white;
    font-weight: 400, 'Regular';
}

.last-infromation-footer input {
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 22px;
    width: 253px;
    height: 48px;
    
}

.last-infromation-footer button {
    position: relative;
    left: -14.5%;
   
    
}
.last-infromation-footer button {
    border: 15px solid transparent;
    border-left: 20px solid #FFB624;
    border-right: none;
    background-color: white;
    margin-bottom: 9px;
    cursor: pointer;
}


.border {
    border-top: 1px solid #657f82;
    margin-top: 60.68px;
}

.border p {
    padding-top: 20.08px;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 400, 'Regular';
    font-size: 18px;
    line-height: 23.44px;
    color: #FFFFFF;
}