* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Montserrat',
    sans-serif;
    font-family: 'DM Sans',
    sans-serif;
    height: 5000px;
    background-color: #FCFBFF;
}

.container {
    width: 1252.86px;
    margin: 0 auto;
    
}

.header {
    height: 759.04px;
    background-color: #FCFBFF;
    margin-top: 43.27px;
    
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    color: #244D4D;
    font-size: 24px;
    font-family: 'Montserrat';
    line-height: 29.26px;
    font-weight: 700 bold;
    float: left;
}

.header ul li {
    float: left;
    margin-left: 50px;
    
}

.header li a {
    color: #161616;
    line-height: 20.83px;
    font-weight: 400 'Regular';
}

.menu__top {
    margin-left: 465.19px;
    padding-top: 5px;
}
.menu__top  a:hover {
    content: '';
    color: #244D4D;;
}

.search {
    float: right;
}

.fone {
    
    height: 700px;
    margin-top: 34.01px;
    background-image: url(../img/fone_header.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 0.1px;

    
   
    
}

.left-text {
    background-color: #154444;
    width: 620.53px;
    height: 469.92px;
    margin-top: 114px;
    margin-left: -60px;
    
    

    
    
    
    
 }

.help {
    font-size: 56px;
    color: #FFFFFF;
    line-height: 68.26px;
    padding-left: 120.38px;
    padding-top: 74.46px;
    font-weight: 700 bold;
    font-weight: 'Montserrat';
}

.left-paragraph {
    padding-left: 120.38px;
    padding-top: 30px;
    color: #FFFFFF;
    font-weight: 400 'Regular';
    font-family: 'DM Sans',
    sans-serif;
    font-size: 20px;

}


/* description */

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 140px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 700 bold;
    line-height: 41.66px;

}

.div-description {
    width: 1086px;
    height: 134px;
    margin-left: 116px;
    margin-bottom: -40px;
}


.operation {
    margin-left: 9.45px;
}

.description  ul li {
    float: left;
    margin-left: 100px;
    
    

}

.about {
    width: 1200px;
    height: 577px;
    
    margin-left: 55px;
    margin-top: 172.24px;
    float: left;
    background-image: url(../img/fone-about.png);
    background-position: right;
    background-repeat: no-repeat;
   
}

.about-us {
    color: #244D4D;
    font-size: 32px;
    font-weight: 700 bold;
    font-family: 'Montserrat';
}

.paragraph-about {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
}

.div-about ul li  {
   clear: both;
   
    

}

.ul-icon {
    margin-top: 40px;
    margin-left: -100px;
    
    
}


.div-about ul li:nth-child(2) {
    margin-top: 73.78px;
}

.div-about ul li:nth-child(3) {
    margin-top: 73.78px;

}

 .h4-about {
    font-size: 24px;
    color: #244D4D;
    font-family: 'DM Sans',
    sans-serif;
    font-weight: 500;
    line-height: 27px;
    margin-left: 5%;
    
}

.h4-about2 {
    font-size: 20px;
    color: #244D4D;
    font-family: 'DM Sans',
        sans-serif;
    font-weight: 500;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 700 bold;
    line-height: 27px;
    margin-left: 5%;
}

.h4-about3 {
    font-size: 20px;
    color: #244D4D;
    font-family: 'DM Sans',
        sans-serif;
    font-weight: 500;
    margin-top: 40px;
    font-weight: 700 bold;
    line-height: 27px;
    margin-left: 5%;
}

.p-about {
    margin-top: 15px;
    margin-left: 5%;
}




.section-one {
    margin-top: 166px;
}

.section-one-paragpaph {
    color: #383738;
    font-size: 20px;
    font-weight: 400 'Regular';
    font-family: 'DM Sans',sans-serif; 
    margin-top: 20px;
    line-height: 27px;
}

.blocks {
    margin-top: 80px;
    display: flex;
    padding-top: 0.1px;
    

}

.block-1 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    background-image: url(../img/fone-block1.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    /* active.vision.ru - источник */
   
    

}
.block-1 p {

    padding-top: 0.1px;
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}

.block-1 a {
   float: right; 
   padding-top: 270px;
   
   
}


.block-1 a {
    padding-left: 8px;
    
}

.block-1 {
    padding-right: 24.06px;
}

.prise40 {
    padding-top: 20.75px;
    padding-left: 24.06px;
    float: left;
    color: #154444;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500 'Medium';
    
}

.buy-40 {
    float: right;
    border: 1px solid #244D4D;
    background-color: #244D4D;
    border-radius: 6px;
    margin-top: 20.75px;
    padding-left: 14.35px;
    padding-right: 14.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 12px;
    font-weight: 500 'Medium';
    
    
}

.block-2 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    background-image: url(../img/fone-block2.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    margin-left: 30px;
    
}

.block-2 p {
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}

.block-2 a {
    float: right;
    padding-top: 270px;
}

.block-2 a {
    padding-left: 8px;
    
}

.block-2 a:nth-child(2) {
    padding-right: 24.06px;
}

.prise40-2 {
    padding-top: 20.75px;
    float: left;
}

.block-2 ul li:nth-child(2) {
    margin-right: 24.06px;
}

.block-3 {
    width: 380px;
    height: 382.31px;
    background-color: white;
    margin-left: 30px;
    background-image: url(../img/fone-block3.png);
    background-repeat: no-repeat;
    background-position: top center 50% 0%;
    -webkit-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
    box-shadow: -3px 13px 37px 0px rgba(34, 60, 80, 0.24);
}

.block-3 a {
    float: right;
    padding-top: 270px;
    padding-left: 8px;
}

.block-3 a:nth-child(2) {
    padding-right: 24.06px;
}

.block-3 p {
    padding-top: 270px;
    padding-left: 24.06px;
    color: #244D4D;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500 'Medium';
    float: left;
}

.section-two ul {
    margin-top: 30px;
}



.section-two .headings li:first-child {
    float: left;
    margin-left: 260px;
    margin-right: 100px;
    margin-right: 104px;
    color: #244D4D;
    

}
.section-two .headings li:nth-child(2) {
   float: left;
   margin-right: 104px;
   

}

.section-two .headings  li {
   
    font-size: 24px;
    line-height: 27px;
    font-family: 'DM sans';
    color: #919090;
}

.fone_section_two {
    width: 552px;
    height: 393px;
    margin-top: 98.46px;
}

.div-fone {
    width: 495px;
    height: 381px;
    background-color: #244D4D;
    
}

.div-bg {
    width: 500px;
    height: 389.34px;
    background-image: url(../img/in-fone.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    
   
}

.position-div {
    display: flex;
}

.mini-blocks-div{
   margin-top: 108.79px;
   margin-left: 103.28px;
   display: flex;
   
}

.mini-block1 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    background-image: url(../img/badroom.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;

    
}

.mini-block2 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    background-image: url(../img/dining-room.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;

    
   
}

.mini-block3 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    background-image: url(../img/bedroom.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.mini-block4 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-left: 30px;
    background-image: url(../img/kitchen.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.mini-block5 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    margin-left: 30px;
    background-image: url(../img/office.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #154444;
}

.mini-block6 {
    width: 222px;
    height: 90px;
    border: 1px solid #D9DCE5;
    margin-top: 33.42px;
    margin-left: 30px;

    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.text-in-mini-block {
    color: #808080;
    font-weight: 500, Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-left: 66.05px;
    padding-top: 56px;

   
}

.text-kitchen {
    color: #808080;
    font-weight: 500,
    Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-top: 56px;
    padding-left: 82px;
  
}

.text-in-bedroom {
    color: #808080;
    font-weight: 500,
    Medium;
    line-height: 21px;
    font-family: 'DM sans';
    padding-top: 56px;
    padding-left: 76px;
}

.text-in-office {
    padding-top: 56px;
    padding-left: 91.3px;
    color: white;
    font-weight: 500, medium;
    line-height: 21px;
}