body {
  margin: 0;
}

.container {
  margin: auto;
  margin: 0;
}

.li-one {
  list-style: none;
}



.header {
  background-color: black;
  width: 1920px;
  height: 1080px;
  font-family: "Manrope", sans-serif;
  
  ;
}

.margin-1 {
  margin-left: 0px;
}

.foto-logo {
  height: 12px;
  width: 12px;
  margin-left: 383px;
  margin-top: 36px;
  padding-top: 12px;
}

.first-name {
  color: white;
  margin-left: 393px;
  font-size: 28px;
  line-height: 66px;
  margin-top: -35px;
  font-weight: 100;
  
  padding-top: 12px;
}

.header-conteiner-1 {
  display: flex;
  
}

.nav-1 {
  color: white;
  list-style-type: none;
  display: flex;
  margin-top: 65px;
  margin-left: 84px;
}

.nav-1li-1 {
  margin-left: 214px;
}

.nav-1li-2 {
  margin-left: 15px;
}

.nav-1li-3 {
  margin-left: 15px;
}

.nav-1li-4 {
  margin-left: 15px;
}

.div-2 {
  display: flex;
  margin-left: 242px;
}

.make-remake {
  margin-left: 239px;
}

.card {
  width: 438px;
  height: 280px;
  margin-left: -550px;
  position: relative;
  margin-top: 45px;
  margin-bottom: 800px;
}

.circle {
  width: 176px;
  height: 176px;
  position: relative;
  margin-top: 197px;
  margin-left: 635px;
}
/* тут передвигать */

.h1-section {
  color: white;
  font-weight: 100;
  margin-left: 2px;
  font-size: 90px;
}

.dream {
  color: white;
  margin-top: 180px;
  margin-left: -310px;
  font-size: 26px;
}

.big-logo {
  margin-top: -990px;
  margin-left: 190px;
  width: 40px;
}

.strelka {
  height: 170px;
  margin-top: 625px;
  margin-left: -1059px;
}

.we-make {
  margin-top: -480px;
  color: white;
  margin-left: 312px;
  font-size: 30px;
}

.circle-3 {
  margin-left: 1029px;
  margin-top: 8px;
}

.standart {
  margin-left: 180px;
  letter-spacing: 2px;
  font-weight: bold !important;
  font-style: normal;
  margin-top: 67px;
  font-size: 26px;
  padding-top: 67px;
}
.circle-4 {
  margin-left: 1268px;
  margin-top: -128px;
}

.ul-1 {
  margin-left: 182px;
  margin-top: -70px;
  line-height: 25px;
}

.section-1 {
  font-family: "Manrope", sans-serif;
  width: 1920px;
  height: 417px;
  background-color: #e8e8e8;
  margin-top: -67px;
}

.ul-1-li-1 {
  font-weight: 600;
  font-size: 14px;
}

/* .order-now {
  margin-left: 180px;
  margin-top: 60px;
  display: block;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  border: 4px solid;
  border-right: 4px solid #ffbc0f;
  border-left: 4px solid #cc76cd;
  border-bottom: 4px solid #c0a754;
  border-top: 4px solid #f39836;
  border-radius: 25px;
  width: 143px;
  color: white;
  background-color: #f8cb7b;
} */

.order {
  margin-top: -43px;
  margin-left: 240px;
  color: white;
}

.foto-order {
  margin-left: 200px;
  width: 155px;
  margin-top: 30px;
}

.link-order {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.standart-cart-foto {
  width: 438px;
  height: 280px;
  margin-left: 1010px;
  margin-top: -547px;
}

.white-circle {
  margin-left: 476px;
  margin-top: -50px;
  width: 264px;
  height: 132px;
}

.proverka {
  margin-top: -90px;
}

.proverka-3 {
  margin-left: 786px;

}



.header-links {
  text-decoration: none;
  color: white;
}

.section-two {
    width: 1920px;
    height: 417px;
    background-color: white;
    font-family: "Manrope",
    sans-serif;
}


.premium-circle {
  margin-left: 786px;
}

.premium-card-foto {
  width: 438px;
  height: 280px;
  margin-left: 1010px;
  margin-top: -80px
}


.text-premium {
  margin-top: -300px;
  margin-left: 180px;
}


.head-premium {
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  font-family: "Manrope",
  sans-serif;
  font-size: 26px;
}


.ul-premium {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  font-family: "Manrope",
  sans-serif;
}


.order-premium {
  margin-left: -24px;
  width: 155px;
  margin-top: 30px;
}

.order-premium-now {
  text-decoration: none;
  margin-top: -45px;
  margin-left: 16px;
  font-weight: 500;
  list-style-type: none;
  
  }


  .premium-link-order {
    text-decoration: none;
    color: white;
    font-size: 16px;
    list-style: none;
   
  }


  .section-3 {
    width: 1920px;
    height: 900px;
    font-family: "Manrope",
    sans-serif;
    margin-top: 100px;
    }
  

    .frame-circle {
      width: 137px;
      height: 257px;
    }

    .apps {
      display: flex;
    }


    .apps-serv {
      font-size: 33px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      margin-left: -1px;
      margin-top: 55px;
      
    }

    .frame-4-logo {
      margin-left: 130px;
      margin-top: 55px;
      height: 14px;
      width: 14px;
      
    }


    .errow {
      margin-left: 650px;
      margin-top: -181px;
      height: 250px;
      width: 1;
    }

    .text-frame {
      display: flex;
      margin-left: 400px;
    }

    .credit-debit {
      margin-left: 490px;
      margin-top: -5px;
      font-size: 13px;
      
    }

    .ins {
      margin-top: -20px;
      font-size: 13px;
      margin-left: 106px;
    }

    .crypto {
      font-size: 33px;
      margin-bottom: 18px;
      margin-left: 106px;
    }

    .cards {
      margin-left: 490px;
      margin-top: -20px;
      margin-bottom: 4px;
      font-size: 33px;
      
    }

    .spiral {
      width: 1920px;
      margin-top: -150px;
    }


    .mob-ev {
      margin-left: 1000px;  
      margin-top: -310px;
      }

      .mobile-app {
        font-size: 33px;
        margin-top: 100px;

      }
      
      .nope {
        margin-left: 280px;
      }

      .pocket {
        margin-top: -28px;
        font-size: 13px;
        
      }


      .last-frame-circle {
        margin-left: 1764px;
        width: 157px;
        height: 157px;
        margin-top: 120px;
      }
  


      .footer {
        width: 1920px;
        height: 239px;
        background-color: black;
      }

      .last-circle {
        width: 160px;
        margin-top: 1px;
        margin-left: 1764px;
        height: 77px;
        
      }


      .div-footer {
        display: flex;
        color: white;
        font-family: "Manrope",
        sans-serif;
        
      }


      .last-logo {
        margin-left: 202px;
        margin-top: 30px;
        height: 14px;
        width: 14px;
      }


      .support {
        margin-left: 395px;
        margin-bottom: -20px;
        margin-top: 35px;
        
        
        
      }

      .sate {
        font-size: 33px;
        margin-top: -12px;
        margin-left: 212px;
      }

      .copyright {
        margin-top: 20px;
        margin-left: 260px;
      }


      .gadwell {
        margin-left: 180px;
      }

      .test {
        margin-left: 550px;
        margin-top: 20px;
      }


      .logo-sate {
        margin-left: 120px;
      }

      .jej {
        margin-left: 350px;
      }