* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



.container {
  margin: 0 auto;
  width: 1600px;
  background-color: green;
}

.header {
  background-color: red;
  padding-top: 39px;
  margin-bottom: -1px;

}

div.header .container {
  display: flex;
}

.header h3 {
   color: #FFFFFF;
   margin-left: 20px;
   width: 213px;
   height: 53px;
   font-size: 38px;
   font-weight: 300;
   line-height: 51px;
   padding-left: 20px;
   background-image: url(../img/Ellipse\ 1.svg);
   background-repeat: no-repeat;
   background-position: left top;
}

.nav {
  display: inline-block;
  width: 563px;
  height: 43px;
  margin-top: 10px;
  margin-left: 333px;
  
}
ul.nav li {
  display: inline;
  margin-right: 15px;
  font-weight: 300;
  line-height: 33px;
  font-size: 20px;
  color: white;
}

.hero {
  padding-top: 137px;
  background-color: bisque;
  
  
}

div.hero .flex-hero {
  display: flex;
}


div.hero h1 {
  font-size: 128px;
  font-weight: 300;
  color: white;
  height: 216px;
  width: 574px;
  line-height: 163px;
  background-image: url(../img/h1.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 60px;
}

div.card-hero img {
  margin-left: 70px;
  display: inline-block;
}

div.card-hero {
  width: 1010px;
  
}

img.hero-circle {
   position: relative;
   left: -150px;
   top: 100px;
   display: inline-block;
}

img.test {
  position: relative;
  z-index: 2;
 
}

div.hero span {
  width: 312px;
  height: 51px;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
  margin-left: 60px;
  color: white;
}

div.hero .container p {
   width: 507px;
   height: 112px;
   margin-top: 103px;
   line-height: 39.18px;
   font-size: 36px;
   font-weight: 400;
   color: white;
   margin-left: 150px;
}

div.hero .container {
   background-image: url(../img/errow.png);
   background-repeat: no-repeat;
   background-position: 3% 90%;
   
   
}








