body {
  margin: 0;
}

.header {
  background-color: black;
  width: 1540px;
  height: 1080px;
  font-family: "Manrope", sans-serif;
}

.foto-logo {
  height: 12px;
  width: 12px;
  margin-left: 183px;
  margin-top: 36px;
  padding-top: 12px;
}

.first-name {
  color: white;
  margin-left: 0px;
  font-size: 28px;
  line-height: 66px;
  margin-top: -1px;
  font-weight: 100;
  margin-top: 26px;
  padding-top: 12px;
}

.header-conteiner-1 {
  display: flex;
}

.nav-1 {
  color: white;
  list-style-type: none;
  display: flex;
  margin-top: 60px;
}

.nav-1li-1 {
  margin-left: 214px;
}

.nav-1li-2 {
  margin-left: 15px;
}

.nav-1li-3 {
  margin-left: 15px;
}

.nav-1li-4 {
  margin-left: 15px;
}

.div-2 {
  display: flex;
}

.card {
  width: 438px;
  height: 280px;
  margin-left: -550px;
  position: relative;
  margin-top: 45px;
  margin-bottom: 800px;
}

.circle {
  width: 176px;
  height: 176px;
  position: relative;
  margin-top: 197px;
  margin-left: 635px;
}
/* тут передвигать */

.h1-section {
  color: white;
  font-weight: 100;
  margin-left: 2px;
  font-size: 90px;
}

.dream {
  color: white;
  margin-top: 180px;
  margin-left: -310px;
  font-size: 26px;
}

.big-logo {
  margin-top: -990px;
  margin-left: 190px;
  width: 40px;
}

.strelka {
  height: 170px;
  margin-top: 625px;
  margin-left: -1059px;
}

.we-make {
  margin-top: -480px;
  color: white;
  margin-left: 312px;
  font-size: 30px;
}

.circle-3 {
  margin-left: 929px;
  margin-top: 8px;
}

.standart {
  margin-left: 180px;
  letter-spacing: 2px;
  font-weight: bold !important;
  font-style: normal;
  margin-top: 67px;
  font-size: 26px;
  padding-top: 67px;
}
.circle-4 {
  margin-left: 929px;
  margin-top: -128px;
}

.ul-1 {
  margin-left: 182px;
  margin-top: -70px;
  line-height: 25px;
}

.section-1 {
  font-family: "Manrope", sans-serif;
  width: 1540px;
  height: 417px;
  background-color: #e8e8e8;
  margin-top: -67px;
}

.ul-1-li-1 {
  font-weight: 600;
  font-size: 14px;
}

/* .order-now {
  margin-left: 180px;
  margin-top: 60px;
  display: block;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  border: 4px solid;
  border-right: 4px solid #ffbc0f;
  border-left: 4px solid #cc76cd;
  border-bottom: 4px solid #c0a754;
  border-top: 4px solid #f39836;
  border-radius: 25px;
  width: 143px;
  color: white;
  background-color: #f8cb7b;
} */

.order {
  margin-top: -43px;
  margin-left: 240px;
  color: white;
}

.foto-order {
  margin-left: 200px;
  width: 155px;
  margin-top: 30px;
}

.link-order {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.standart-cart-foto {
  width: 438px;
  height: 280px;
  margin-left: 680px;
  margin-top: -547px;
}

.white-circle {
  margin-left: 476px;
  margin-top: -50px;
  width: 264px;
  height: 132px;
}

.proverka {
  margin-top: -90px;
}

.proverka-3 {
  margin-left: 450px;
}
