@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@import url(../css/veriables.scss);
@import url(../css/mixins.scss);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Manrope', sans-serif;
  height: 10000px;
  font-size: 16px; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.container {
  margin: 0 auto;
  width: 1200px; }

.header {
  height: 81px;
  background-color: #141414;
  margin-bottom: -1px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url(../img/logo-circle.svg);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    padding-left: 15px;
    padding-right: 15px; }
    .header .container h3 {
      color: white;
      font-weight: 300;
      font-size: 38px;
      width: 141px;
      height: 52px;
      line-height: 51.91px; }
  .header ul {
    display: flex;
    width: 563px;
    height: 43px;
    justify-content: space-between; }
    .header ul li a {
      color: #757575;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.17px; }
    .header ul li a:hover {
      color: white; }

.hero {
  padding-top: 92px;
  background-color: #141414;
  margin-bottom: -2px; }
  .hero .container {
    padding: 0.1px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/big-logo-circle.svg);
    background-position: left top;
    background-repeat: no-repeat; }
    .hero .container .logo-text {
      margin-left: 36px; }
    .hero .container h1 {
      width: 399px;
      height: 108px;
      color: white;
      font-size: 100px;
      line-height: 136.6px;
      font-weight: 300;
      margin-left: 25px; }
    .hero .container p {
      width: 199px;
      height: 33px;
      margin-top: 8px;
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin-left: 33px; }
    .hero .container .card-hero {
      height: 436px;
      width: auto;
      position: relative;
      margin-bottom: 3px; }
      .hero .container .card-hero img.img2-hero {
        position: absolute;
        top: 200px;
        left: 460px; }
      .hero .container .card-hero img.img1-hero {
        position: relative; }
      .hero .container .card-hero img.img1-hero:hover {
        z-index: 2; }

.text-after-hero {
  padding-top: 203px;
  background: url(../img/50-circle-hero.png) no-repeat 81% 101%;
  background-color: #141414;
  margin-bottom: -1px; }
  .text-after-hero .container {
    display: flex;
    justify-content: space-around;
    background: url(../img/arrow-hero.png) no-repeat top left;
    padding-bottom: 276px; }
    .text-after-hero .container p:nth-child(1) {
      width: 359px;
      height: 112px;
      font-size: 36px;
      line-height: 49.18px;
      font-weight: 400;
      color: white; }
      .text-after-hero .container p:nth-child(1) span {
        color: #757575; }
    .text-after-hero .container p:last-child {
      width: 419px;
      height: 49px;
      color: #757575;
      font-size: 36px;
      line-height: 49.18px;
      font-weight: 400; }
      .text-after-hero .container p:last-child span {
        color: white; }

.cards1 {
  padding-top: 122px;
  background: url(../img/under-circle.png) no-repeat 81% -0.9%;
  background-color: #141414;
  margin-bottom: -1px; }
  .cards1 .container {
    display: flex;
    background: url(../img/card1.png) no-repeat 95% 70%; }
  .cards1 h4 {
    width: 177px;
    height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40.98px; }
  .cards1 a.button1 {
    display: block;
    width: 148px;
    height: 62px;
    margin-top: 16px;
    border: 1px solid black;
    padding-left: 32px;
    padding-right: 23px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.17px;
    color: white;
    background-image: url(../img/button-cards1.png);
    background-repeat: no-repeat;
    margin-bottom: 284px; }
  .cards1 .block-img {
    width: 530px;
    height: 327px; }
  .cards1 ul {
    width: 258px;
    height: 131px;
    margin-left: 78px;
    margin-top: 10px; }
    .cards1 ul li {
      font-weight: 300;
      color: #757575;
      font-size: 18px;
      line-height: 30.17px; }
      .cards1 ul li span {
        font-weight: 700;
        color: white;
        font-size: 20px; }

.cards2 {
  padding-top: 185px;
  background-color: #141414;
  margin-bottom: -1px; }
  .cards2 .container {
    display: flex;
    background: url(../img/2card.png) no-repeat 96%;
    padding-bottom: 300px; }
    .cards2 .container h4 {
      width: 155px;
      height: 41px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 40.98px; }
    .cards2 .container .button2 {
      display: block;
      width: 148px;
      height: 62px;
      margin-top: 16px;
      border: 1px solid black;
      padding-left: 32px;
      padding-right: 23px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 15px;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.17px;
      color: white;
      background-image: url(../img/button-cards2.png);
      background-repeat: no-repeat; }
    .cards2 .container ul {
      width: 289px;
      height: 165px;
      margin-left: 84px; }
      .cards2 .container ul li {
        font-size: 20px;
        line-height: 33.52px;
        font-weight: 400;
        color: #757575; }
        .cards2 .container ul li span {
          color: white; }

.apps {
  padding-top: 201px;
  background-color: #141414; }
  .apps .container .h3 {
    width: 281px;
    height: 48px;
    font-weight: 400;
    font-size: 36px;
    line-height: 49.18px; }

/*# sourceMappingURL=style.css.map */
