@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url(../css/veriables.scss);
@import url(../css/mixins.scss);



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    height: 10000px;
    font-size: 16px;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 81px;
    background-color: #141414;
    margin-bottom: -1px;
   
    
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        background-image: url(../img/logo-circle.svg);
        background-repeat: no-repeat;
        background-position: 0% 10%;
        padding-left: 15px;
        padding-right: 15px;
       

        h3 {
                color: white;
                font-weight: 300;
                font-size: 38px;
                width: 141px;
                height: 52px;
                line-height: 51.91px;
            }
    }
    ul {
        display: flex;
        width: 563px;
        height: 43px;
        justify-content: space-between;
        
        li a {
            color: #757575;
            font-size: 18px;
            font-weight: 400;
            line-height: 30.17px;
            
        }

        li a:hover {
            color: white;
            
        }
    }
}

.hero {
    padding-top: 92px;
    background-color: #141414;
    margin-bottom: -2px;
    
    .container {
        padding: 0.1px;
        display: flex;
        justify-content: space-between;
        background-image: url(../img/big-logo-circle.svg);
        background-position: left top;
        background-repeat: no-repeat;

        .logo-text {
            margin-left: 36px;
        }

        h1 {
            width: 399px;
            height: 108px;
            color: white;
            font-size: 100px;
            line-height: 136.6px;
            font-weight: 300;
            margin-left: 25px;
            animation: logotext 3s;

            @keyframes logotext {
                from{transform: rotate(70deg);}
                
            }
            
        }

        p {
            width: 199px;
            height: 33px;
            margin-top: 8px;
            color: white;
            font-size: 18px;
            font-weight: 400;
            margin-left: 33px;
            animation: bank 2s;
            

            @keyframes bank {
                from{transform: rotate(70deg);}
            }
        }

        .card-hero {
            height: 436px;
            width: auto;
            position: relative;
            margin-bottom: 3px;
            animation: cardhero 3s;
            animation-iteration-count: 1;
            
            
            img.img2-hero {
                position: absolute;
                    top: 200px;
                left: 460px;
                }
            img.img1-hero {
                position: relative;
                
            }
            img.img1-hero:hover {
                z-index: 2;
            }

            @keyframes cardhero {
                from{margin-left: 400px;}
                to{margin-left: 200px;}
            }
        }
    }
}

.text-after-hero {
    padding-top: 203px;
    background: url(../img/50-circle-hero.png) no-repeat 81% 101%;
    background-color: #141414;
    margin-bottom: -1px;
    
    
    .container {
        display: flex;
        justify-content: space-around;
        background: url(../img/arrow-hero.png) no-repeat top left; 
        padding-bottom: 276px;
        


        p:nth-child(1) {
                width: 359px;
                height: 112px;
                font-size: 36px;
                line-height: 49.18px;
                font-weight: 400;
                color: white;
        
                span {
                    color: #757575;
                }
            }
        
            p:last-child {
                width: 419px;
                height: 49px;
                color: #757575;
                font-size: 36px;
                line-height: 49.18px;
                font-weight: 400;
               
        
                span {
                    color: white;
                }
            }
    }
}

.cards1 {
    padding-top: 122px;
    background: url(../img/under-circle.png) no-repeat 81% -0.9%;
    background-color: #141414;
    margin-bottom: -1px;

    .container {
        display: flex;
        background: url(../img/card1.png) no-repeat 95% 70%;
    }

    h4 {
        width: 177px;
        height: 41px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40.98px;
    }

    a.button1 {
        display: block;
        width: 148px;
        height: 62px;
        margin-top: 16px;
        border: 1px solid black;
        padding-left: 32px;
        padding-right: 23px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30.17px;
        color: white;
        background-image: url(../img/button-cards1.png);
        background-repeat: no-repeat;
        margin-bottom: 284px;
    }

    .block-img {
        width: 530px;
        height: 327px;
    }

    ul {
        width: 258px;
        height: 131px;
        margin-left: 78px;
        margin-top: 10px;

        li {
            font-weight: 300;
            color: #757575;
            font-size: 18px;
            line-height: 30.17px;

            span {
                font-weight: 700;
                color: white;
                font-size: 20px;
            }
        }
    }
}

.cards2 {
    padding-top: 185px;
    background-color: #141414;
    margin-bottom: -1px;

    .container {
          display: flex;
          background: url(../img/2card.png) no-repeat 96%;
          padding-bottom: 300px;

        h4 {
            width: 155px;
            height: 41px;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 30px;
            letter-spacing: 1px;
            line-height: 40.98px;
        }

        .button2 {
                display: block;
                width: 148px;
                height: 62px;
                margin-top: 16px;
                border: 1px solid black;
                padding-left: 32px;
                padding-right: 23px;
                padding-top: 16px;
                padding-bottom: 16px;
                border-radius: 15px;
                font-size: 18px;
                font-weight: 400;
                line-height: 30.17px;
                color: white;
                background-image: url(../img/button-cards2.png);
                background-repeat: no-repeat;
        }

        ul {
            width: 289px;
            height: 165px;
            margin-left: 84px;

            li {
                font-size: 20px;
                line-height: 33.52px;
                font-weight: 400;
                color: #757575;

                span {
                    color: white;
                }
            }
        }

    }
}

.apps {
    padding-top: 201px;
    background-color: #141414;
    margin-bottom: -1px;


    .container {
         background: url(../img/logo-circle.svg) no-repeat left top, url(../img/Spring.png) no-repeat 50% 100%;
        height: 500px;


        h3 {
            width: 281px;
            height: 48px;
            font-weight: 400;
            font-size: 36px;
            line-height: 49.18px;
            color: white;
            margin-left: 20px;
        }

        .blocks-apps {
            margin-top: 110px;
            width: 1069px;
            height: 182px;
            display: flex;
            justify-content: space-around;

            .block1 {
                width: 196px;
                height: 182px;
                border-radius: 13px;
                animation: block1 6s linear infinite ;
               

                @keyframes block1 {
                   from{-webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                    box-shadow: inset 3px 3px 15px 8px #6a63e9;}
                    50%{-webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
                        box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35);}
                    to {
                        -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                            box-shadow: inset 3px 3px 15px 8px #6a63e9;
                    }
                }

                h4 {
                    width: 165px;
                    height: 36px;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 35.52px;
                    color: white;
                    margin-bottom: 16px;
                    
                }

                p {
                    color: #757575;
                    width: 190px;
                    height: 60px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30.17px;
                    margin-left: 2px;
                    margin-bottom: 16px;
                    
                    
                }

                a {
                    display: block;
                    width: 102px;
                    height: 54px;
                    border: 2px solid #9900FFCC;
                    border-radius: 10px;
                    padding-top: 12px;
                    padding-bottom: 16px;
                    padding-left: 30px;
                    
                    background-color: #141414;
                    color: white;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30.17px;
                }
            }

           
        }

        .block2 {
            width: 196px;
            height: 182px;
            border-radius: 13px;
            animation: block2 6s linear infinite;

            @keyframes block2 {
                    from {
                        -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                        box-shadow: inset 3px 3px 15px 8px #6a63e9;
                    }
            
                    50% {
                        -webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
                        box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35);
                    }
            
                    to {
                        -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                        box-shadow: inset 3px 3px 15px 8px #6a63e9;
                    }
                }

            h4 {
                width: 165px;
                height: 36px;
                font-weight: 400;
                font-size: 26px;
                line-height: 35.52px;
                color: white;
                margin-bottom: 16px;
               
            }

            p {
                color: #757575;
                width: 192px;
                height: 60px;
                font-weight: 400;
                font-size: 18px;
                line-height: 30.17px;
                margin-left: 2px;
                margin-bottom: 16px;
            }

            a {
                display: block;
                width: 102px;
                height: 54px;
                border: 2px solid #9900FFCC;
                border-radius: 10px;
                padding-top: 12px;
                padding-bottom: 16px;
                padding-left: 32px;
                background-color: #141414;
                color: white;
                font-weight: 400;
                font-size: 18px;
                line-height: 30.17px;
            }
        }
                 .block2:hover {
                     -webkit-box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
                     box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
                 }

        .block3 {
            width: 196px;
            height: 182px;
            border-radius: 13px;
            animation: block2 6s linear infinite;

            @keyframes block3 {
                    from {
                        -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                        box-shadow: inset 3px 3px 15px 8px #6a63e9;
                    }
            
                    50% {
                        -webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
                        box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35);
                    }
            
                    to {
                        -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
                        box-shadow: inset 3px 3px 15px 8px #6a63e9;
                    }
                }

            h4 {
                width: 165px;
                height: 36px;
                font-weight: 400;
                font-size: 26px;
                line-height: 35.52px;
                color: white;
                margin-bottom: 16px;
            }

            p {
                color: #757575;
                width: 192px;
                height: 60px;
                font-weight: 400;
                font-size: 18px;
                line-height: 30.17px;
                margin-left: 2px;
                margin-bottom: 16px;
                
            }

            a {
                display: block;
                width: 102px;
                height: 54px;
                border: 2px solid #9900FFCC;
                border-radius: 10px;
                padding-top: 12px;
                padding-bottom: 16px;
                padding-left: 30px;
                background-color: #141414;
                color: white;
                font-weight: 400;
                font-size: 18px;
                line-height: 30.17px;
            }
        }

                 .block3:hover {
                     -webkit-box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
                     box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
                 }
    }
}

.ball {
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50px;
}

.ball:nth-child(1) {
    background: #ffffff;
    -webkit-animation: right 3s infinite ease-in-out;
    -moz-animation: right 3s infinite ease-in-out;
    animation: right 3s infinite ease-in-out;
}

.ball:nth-child(2) {
    background: #fcb413;
    -webkit-animation: left 3.1s infinite ease-in-out;
    -moz-animation: left 3.1s infinite ease-in-out;
    animation: left 3.1s infinite ease-in-out;
}

.ball:nth-child(3) {
    background: #6964e9;
    -webkit-animation: right 3.05s infinite ease-in-out;
    -moz-animation: right 3.05s infinite ease-in-out;
    animation: right 3.05s infinite ease-in-out;
}

.ball:nth-child(4) {
    background: #ffffff;
    -webkit-animation: left 3.15s infinite ease-in-out;
    -moz-animation: left 3.15s infinite ease-in-out;
    animation: left 3.15s infinite ease-in-out;
}

.ball:nth-child(5) {
    background: #6964e9;
    -webkit-animation: right 3.1s infinite ease-in-out;
    -moz-animation: right 3.1s infinite ease-in-out;
    animation: right 3.1s infinite ease-in-out;
}

.ball:nth-child(6) {
    background: #fcb413;
    -webkit-animation: left 3.05s infinite ease-in-out;
    -moz-animation: left 3.05s infinite ease-in-out;
    animation: left 3.05s infinite ease-in-out;
}

.ball:nth-child(7) {
    background: #ffffff;
    -webkit-animation: right 3s infinite ease-in-out;
    -moz-animation: right 3s infinite ease-in-out;
    animation: right 3s infinite ease-in-out;
}

@-webkit-keyframes right {
    0% {
        -webkit-transform: translate(-15px);
    }

    50% {
        -webkit-transform: translate(15px);
    }

    100% {
        -webkit-transform: translate(-15px);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(15px);
    }

    50% {
        -webkit-transform: translate(-15px);
    }

    100% {
        -webkit-transform: translate(15px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-15px);
    }

    50% {
        -moz-transform: translate(15px);
    }

    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(15px);
    }

    50% {
        -moz-transform: translate(-15px);
    }

    100% {
        -moz-transform: translate(15px);
    }
}

@keyframes right {
    0% {
        transform: translate(-15px);
    }

    50% {
        transform: translate(15px);
    }

    100% {
        transform: translate(-15px);
    }
}

@keyframes left {
    0% {
        transform: translate(15px);
    }

    50% {
        transform: translate(-15px);
    }

    100% {
        transform: translate(15px);
    }
}

.updates {
    padding-top: 303px;
    background-color: #141414;

    .container {
        background-color: green;

        h3 {
          width: 206px;
          height: 49px;
          color: white;
          font-weight: 400;
          font-size: 36px;
          line-height: 49.18px;
          margin-left: 490px;
        }

    .blocks-updates1 {
        width: 1165.56px;
        height: 223.35px;
        background-color: orange;
        display: flex;
        justify-content: space-between;
        margin-left: 17px;
        margin-top: 48px;
        
        .wrap1 {
            height: 200px;
            background-color: purple;
            border-bottom: 3px solid #c4c4c4;
            height: 200px;
            width: 330px;
            display: flex;
            justify-content: center;

            .block-update1 {
            height: 153.35px;
            width: 285.56px;
            background-color: red;
        }
        }
       

        .block-update2 {
            height: 153.35px;
            width: 285.56px;
            background-color: lightblue;
        }

        .block-update3 {
            height: 153.35px;
            width: 285.56px;
            background-color: pink;
        }
    }
    }
}