@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@import url(../css/veriables.scss);
@import url(../css/mixins.scss);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.container {
  margin: 0 auto;
  width: 1200px; }

.header {
  height: 81px;
  background-color: #141414;
  margin-bottom: -1px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url(../img/logo-circle.svg);
    background-repeat: no-repeat;
    background-position: 0% 10%;
    padding-left: 15px;
    padding-right: 15px; }
    .header .container h3 {
      color: white;
      font-weight: 300;
      font-size: 38px;
      width: 141px;
      height: 52px;
      line-height: 51.91px; }
  .header ul {
    display: flex;
    width: 563px;
    height: 43px;
    justify-content: space-between; }
    .header ul li a {
      color: #757575;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.17px; }
    .header ul li a:hover {
      color: white; }

.hero {
  padding-top: 92px;
  background-color: #141414;
  margin-bottom: -2px; }
  .hero .container {
    padding: 0.1px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/big-logo-circle.svg);
    background-position: left top;
    background-repeat: no-repeat; }
    .hero .container .logo-text {
      margin-left: 36px; }
    .hero .container h1 {
      width: 399px;
      height: 108px;
      color: white;
      font-size: 100px;
      line-height: 136.6px;
      font-weight: 300;
      margin-left: 25px;
      animation: logotext 3s; }
@keyframes logotext {
  from {
    transform: rotate(70deg); } }
    .hero .container p {
      width: 199px;
      height: 33px;
      margin-top: 8px;
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin-left: 33px;
      animation: bank 2s; }
@keyframes bank {
  from {
    transform: rotate(70deg); } }
    .hero .container .card-hero {
      height: 436px;
      width: auto;
      position: relative;
      margin-bottom: 3px;
      animation: cardhero 3s;
      animation-iteration-count: 1; }
      .hero .container .card-hero img.img2-hero {
        position: absolute;
        top: 200px;
        left: 460px; }
      .hero .container .card-hero img.img1-hero {
        position: relative; }
      .hero .container .card-hero img.img1-hero:hover {
        z-index: 2; }
@keyframes cardhero {
  from {
    margin-left: 300px; }
  to {
    margin-left: 200px; } }
.text-after-hero {
  padding-top: 203px;
  background: url(../img/50-circle-hero.png) no-repeat 81% 101%;
  background-color: #141414;
  margin-bottom: -1px; }
  .text-after-hero .container {
    display: flex;
    justify-content: space-around;
    background: url(../img/arrow-hero.png) no-repeat top left;
    padding-bottom: 276px; }
    .text-after-hero .container p:nth-child(1) {
      width: 359px;
      height: 112px;
      font-size: 36px;
      line-height: 49.18px;
      font-weight: 400;
      color: white; }
      .text-after-hero .container p:nth-child(1) span {
        color: #757575; }
    .text-after-hero .container p:last-child {
      width: 419px;
      height: 49px;
      color: #757575;
      font-size: 36px;
      line-height: 49.18px;
      font-weight: 400; }
      .text-after-hero .container p:last-child span {
        color: white; }

.cards1 {
  padding-top: 122px;
  background: url(../img/under-circle.png) no-repeat 81% -0.9%;
  background-color: #141414;
  margin-bottom: -1px; }
  .cards1 .container {
    display: flex;
    background: url(../img/card1.png) no-repeat 95% 70%; }
  .cards1 h4 {
    width: 177px;
    height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40.98px; }
  .cards1 a.button1 {
    display: block;
    width: 148px;
    height: 62px;
    margin-top: 16px;
    border: 1px solid black;
    padding-left: 32px;
    padding-right: 23px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.17px;
    color: white;
    background-image: url(../img/button-cards1.png);
    background-repeat: no-repeat;
    margin-bottom: 284px; }
  .cards1 .block-img {
    width: 530px;
    height: 327px; }
  .cards1 ul {
    width: 258px;
    height: 131px;
    margin-left: 78px;
    margin-top: 10px; }
    .cards1 ul li {
      font-weight: 300;
      color: #757575;
      font-size: 18px;
      line-height: 30.17px; }
      .cards1 ul li span {
        font-weight: 700;
        color: white;
        font-size: 20px; }

.cards2 {
  padding-top: 185px;
  background-color: #141414;
  margin-bottom: -1px; }
  .cards2 .container {
    display: flex;
    background: url(../img/2card.png) no-repeat 96%;
    padding-bottom: 300px; }
    .cards2 .container h4 {
      width: 155px;
      height: 41px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;
      line-height: 40.98px; }
    .cards2 .container .button2 {
      display: block;
      width: 148px;
      height: 62px;
      margin-top: 16px;
      border: 1px solid black;
      padding-left: 32px;
      padding-right: 23px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 15px;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.17px;
      color: white;
      background-image: url(../img/button-cards2.png);
      background-repeat: no-repeat; }
    .cards2 .container ul {
      width: 289px;
      height: 165px;
      margin-left: 84px; }
      .cards2 .container ul li {
        font-size: 20px;
        line-height: 33.52px;
        font-weight: 400;
        color: #757575; }
        .cards2 .container ul li span {
          color: white; }

.apps {
  padding-top: 201px;
  background-color: #141414;
  margin-bottom: -1px; }
  .apps .container {
    background: url(../img/logo-circle.svg) no-repeat left top, url(../img/Spring.png) no-repeat 50% 100%;
    height: 500px; }
    .apps .container h3 {
      width: 281px;
      height: 48px;
      font-weight: 400;
      font-size: 36px;
      line-height: 49.18px;
      color: white;
      margin-left: 20px; }
    .apps .container .blocks-apps {
      margin-top: 110px;
      width: 1069px;
      height: 182px;
      display: flex;
      justify-content: space-around; }
      .apps .container .blocks-apps .block1 {
        width: 196px;
        height: 182px;
        border-radius: 13px;
        animation: block1 6s linear infinite; }
@keyframes block1 {
  from {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; }
  50% {
    -webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
    box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35); }
  to {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; } }
        .apps .container .blocks-apps .block1 h4 {
          width: 165px;
          height: 36px;
          font-weight: 400;
          font-size: 26px;
          line-height: 35.52px;
          color: white;
          margin-bottom: 16px; }
        .apps .container .blocks-apps .block1 p {
          color: #757575;
          width: 190px;
          height: 60px;
          font-weight: 400;
          font-size: 18px;
          line-height: 30.17px;
          margin-left: 2px;
          margin-bottom: 16px; }
        .apps .container .blocks-apps .block1 a {
          display: block;
          width: 102px;
          height: 54px;
          border: 2px solid #9900FFCC;
          border-radius: 10px;
          padding-top: 12px;
          padding-bottom: 16px;
          padding-left: 30px;
          background-color: #141414;
          color: white;
          font-weight: 400;
          font-size: 18px;
          line-height: 30.17px; }
    .apps .container .block2 {
      width: 196px;
      height: 182px;
      border-radius: 13px;
      animation: block2 6s linear infinite; }
@keyframes block2 {
  from {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; }
  50% {
    -webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
    box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35); }
  to {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; } }
      .apps .container .block2 h4 {
        width: 165px;
        height: 36px;
        font-weight: 400;
        font-size: 26px;
        line-height: 35.52px;
        color: white;
        margin-bottom: 16px; }
      .apps .container .block2 p {
        color: #757575;
        width: 192px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30.17px;
        margin-left: 2px;
        margin-bottom: 16px; }
      .apps .container .block2 a {
        display: block;
        width: 102px;
        height: 54px;
        border: 2px solid #9900FFCC;
        border-radius: 10px;
        padding-top: 12px;
        padding-bottom: 16px;
        padding-left: 32px;
        background-color: #141414;
        color: white;
        font-weight: 400;
        font-size: 18px;
        line-height: 30.17px; }
    .apps .container .block2:hover {
      -webkit-box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
      box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35); }
    .apps .container .block3 {
      width: 196px;
      height: 182px;
      border-radius: 13px;
      animation: block2 6s linear infinite; }
@keyframes block3 {
  from {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; }
  50% {
    -webkit-box-shadow: inset 3px 3px 15px 10px rgba(255, 28, 204, 0.35);
    box-shadow: inset 3px 3px 15px 20x rgba(255, 28, 204, 0.35); }
  to {
    -webkit-box-shadow: inset 3px 3px 15px 3px #6a63e9;
    box-shadow: inset 3px 3px 15px 8px #6a63e9; } }
      .apps .container .block3 h4 {
        width: 165px;
        height: 36px;
        font-weight: 400;
        font-size: 26px;
        line-height: 35.52px;
        color: white;
        margin-bottom: 16px; }
      .apps .container .block3 p {
        color: #757575;
        width: 192px;
        height: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30.17px;
        margin-left: 2px;
        margin-bottom: 16px; }
      .apps .container .block3 a {
        display: block;
        width: 102px;
        height: 54px;
        border: 2px solid #9900FFCC;
        border-radius: 10px;
        padding-top: 12px;
        padding-bottom: 16px;
        padding-left: 30px;
        background-color: #141414;
        color: white;
        font-weight: 400;
        font-size: 18px;
        line-height: 30.17px; }
    .apps .container .block3:hover {
      -webkit-box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35);
      box-shadow: inset 4px 7px 50px 13px rgba(214, 41, 200, 0.35); }

.ball {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px; }

.ball:nth-child(1) {
  background: #ffffff;
  -webkit-animation: right 3s infinite ease-in-out;
  -moz-animation: right 3s infinite ease-in-out;
  animation: right 3s infinite ease-in-out; }

.ball:nth-child(2) {
  background: #fcb413;
  -webkit-animation: left 3.1s infinite ease-in-out;
  -moz-animation: left 3.1s infinite ease-in-out;
  animation: left 3.1s infinite ease-in-out; }

.ball:nth-child(3) {
  background: #6964e9;
  -webkit-animation: right 3.05s infinite ease-in-out;
  -moz-animation: right 3.05s infinite ease-in-out;
  animation: right 3.05s infinite ease-in-out; }

.ball:nth-child(4) {
  background: #ffffff;
  -webkit-animation: left 3.15s infinite ease-in-out;
  -moz-animation: left 3.15s infinite ease-in-out;
  animation: left 3.15s infinite ease-in-out; }

.ball:nth-child(5) {
  background: #6964e9;
  -webkit-animation: right 3.1s infinite ease-in-out;
  -moz-animation: right 3.1s infinite ease-in-out;
  animation: right 3.1s infinite ease-in-out; }

.ball:nth-child(6) {
  background: #fcb413;
  -webkit-animation: left 3.05s infinite ease-in-out;
  -moz-animation: left 3.05s infinite ease-in-out;
  animation: left 3.05s infinite ease-in-out; }

.ball:nth-child(7) {
  background: #ffffff;
  -webkit-animation: right 3s infinite ease-in-out;
  -moz-animation: right 3s infinite ease-in-out;
  animation: right 3s infinite ease-in-out; }

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(-15px); }
  50% {
    -webkit-transform: translate(15px); }
  100% {
    -webkit-transform: translate(-15px); } }
@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(15px); }
  50% {
    -webkit-transform: translate(-15px); }
  100% {
    -webkit-transform: translate(15px); } }
@-moz-keyframes right {
  0% {
    -moz-transform: translate(-15px); }
  50% {
    -moz-transform: translate(15px); }
  100% {
    -moz-transform: translate(-15px); } }
@-moz-keyframes left {
  0% {
    -moz-transform: translate(15px); }
  50% {
    -moz-transform: translate(-15px); }
  100% {
    -moz-transform: translate(15px); } }
@keyframes right {
  0% {
    transform: translate(-15px); }
  50% {
    transform: translate(15px); }
  100% {
    transform: translate(-15px); } }
@keyframes left {
  0% {
    transform: translate(15px); }
  50% {
    transform: translate(-15px); }
  100% {
    transform: translate(15px); } }
.updates {
  padding-top: 303px;
  background-color: #141414;
  padding-bottom: 200px; }
  .updates .container h3 {
    width: 206px;
    height: 49px;
    color: white;
    font-weight: 400;
    font-size: 36px;
    line-height: 49.18px;
    margin-left: 490px; }
  .updates .container .blocks-updates1 {
    width: 1165.56px;
    height: 223.35px;
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-top: 48px; }
    .updates .container .blocks-updates1 .wrap1 {
      border-bottom: 2px solid #c4c4c4;
      height: 180px;
      width: 330px;
      display: flex;
      justify-content: center; }
      .updates .container .blocks-updates1 .wrap1 .block-update1 {
        height: 153.35px;
        width: 285.56px; }
        .updates .container .blocks-updates1 .wrap1 .block-update1 h4 {
          width: 285px;
          height: 65px;
          font-size: 26px;
          line-height: 35.52px;
          font-weight: 400;
          color: white; }
        .updates .container .blocks-updates1 .wrap1 .block-update1 p {
          width: 280px;
          height: 52px;
          letter-spacing: 1%;
          line-height: 23.46px;
          font-size: 14px;
          font-weight: 400;
          margin-top: 7px;
          color: #757575; }
        .updates .container .blocks-updates1 .wrap1 .block-update1 a {
          font-size: 18px;
          font-weight: 400;
          color: white;
          line-height: 30.17px;
          width: 45px;
          height: 15px; }
    .updates .container .blocks-updates1 .block-update2 {
      height: 153.35px;
      width: 285.56px; }
      .updates .container .blocks-updates1 .block-update2 h4 {
        width: 285px;
        height: 65px;
        font-size: 26px;
        line-height: 35.52px;
        font-weight: 400;
        color: white; }
      .updates .container .blocks-updates1 .block-update2 p {
        width: 280px;
        height: 52px;
        letter-spacing: 1%;
        line-height: 23.46px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 7px;
        color: #757575; }
      .updates .container .blocks-updates1 .block-update2 a {
        width: 45px;
        height: 15px;
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 30.17px; }
    .updates .container .blocks-updates1 .block-update3 {
      height: 153.35px;
      width: 285.56px; }
      .updates .container .blocks-updates1 .block-update3 h4 {
        width: 285px;
        height: 65px;
        font-size: 26px;
        line-height: 35.52px;
        font-weight: 400;
        color: white; }
      .updates .container .blocks-updates1 .block-update3 p {
        width: 280px;
        height: 52px;
        letter-spacing: 1%;
        line-height: 23.46px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 7px;
        color: #757575; }
      .updates .container .blocks-updates1 .block-update3 a {
        width: 45px;
        height: 15px;
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 30.17px; }
  .updates .container .blocks-updates2 {
    width: 1165.56px;
    height: 223.35px;
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-top: 100px; }
    .updates .container .blocks-updates2 .wrap2 {
      border-bottom: 2px solid #c4c4c4;
      height: 180px;
      width: 330px;
      display: flex;
      justify-content: center; }
      .updates .container .blocks-updates2 .wrap2 .block-update4 {
        height: 153.35px;
        width: 285.56px; }
        .updates .container .blocks-updates2 .wrap2 .block-update4 h4 {
          width: 285px;
          height: 65px;
          font-size: 26px;
          line-height: 35.52px;
          font-weight: 400;
          color: white; }
        .updates .container .blocks-updates2 .wrap2 .block-update4 p {
          width: 280px;
          height: 52px;
          letter-spacing: 1%;
          line-height: 23.46px;
          font-size: 14px;
          font-weight: 400;
          margin-top: 7px;
          color: #757575; }
        .updates .container .blocks-updates2 .wrap2 .block-update4 a {
          width: 45px;
          height: 15px;
          font-size: 18px;
          font-weight: 400;
          color: white;
          line-height: 30.17px; }
      .updates .container .blocks-updates2 .wrap2 .block-update5 {
        height: 153.35px;
        width: 285.56px; }
        .updates .container .blocks-updates2 .wrap2 .block-update5 h4 {
          width: 285px;
          height: 65px;
          font-size: 26px;
          line-height: 35.52px;
          font-weight: 400;
          color: white; }
        .updates .container .blocks-updates2 .wrap2 .block-update5 p {
          width: 280px;
          height: 52px;
          letter-spacing: 1%;
          line-height: 23.46px;
          font-size: 14px;
          font-weight: 400;
          margin-top: 7px;
          color: #757575; }
        .updates .container .blocks-updates2 .wrap2 .block-update5 a {
          width: 45px;
          height: 15px;
          font-size: 18px;
          font-weight: 400;
          color: white;
          line-height: 30.17px; }
      .updates .container .blocks-updates2 .wrap2 .block-update6 {
        height: 153.35px;
        width: 285.56px; }
        .updates .container .blocks-updates2 .wrap2 .block-update6 h4 {
          width: 285px;
          height: 65px;
          font-size: 26px;
          line-height: 35.52px;
          font-weight: 400;
          color: white; }
        .updates .container .blocks-updates2 .wrap2 .block-update6 p {
          width: 280px;
          height: 52px;
          letter-spacing: 1%;
          line-height: 23.46px;
          font-size: 14px;
          font-weight: 400;
          margin-top: 7px;
          color: #757575; }
        .updates .container .blocks-updates2 .wrap2 .block-update6 a {
          width: 45px;
          height: 15px;
          font-size: 18px;
          font-weight: 400;
          color: white;
          line-height: 30.17px; }

.footer {
  background-color: #141414;
  border-top: 3px solid #757575;
  padding-top: 61px;
  padding-bottom: 73px; }
  .footer .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer .container .footer-position {
      width: 718px;
      height: 414px;
      position: relative; }
      .footer .container .footer-position .form-footer {
        width: 530px;
        height: 226.08px;
        border-radius: 16.56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
        left: 120px;
        top: 100px;
        background-image: url(../img/form-footer.png);
        background-repeat: no-repeat; }
        .footer .container .footer-position .form-footer h3 {
          margin-top: 26.5px;
          font-size: 30px;
          font-weight: 300;
          line-height: 40.98px;
          color: white;
          width: 358px;
          height: 34px; }
        .footer .container .footer-position .form-footer p {
          width: 395px;
          height: 27px;
          font-size: 16px;
          color: #FFFFFF;
          font-weight: 300;
          line-height: 26.82px;
          margin-top: 4px; }
        .footer .container .footer-position .form-footer form {
          margin-top: 32px; }
        .footer .container .footer-position .form-footer input {
          background-color: #1e0e3c;
          border: 1px solid #1e0e3c;
          border-radius: 16.56px;
          width: 256.72px;
          height: 48.86px;
          padding-left: 14.91px;
          padding-top: 11.59px;
          padding-bottom: 12.25px; }
        .footer .container .footer-position .form-footer ::placeholder {
          color: #B9B9B9CC;
          font-size: 18px;
          line-height: 33.31px;
          font-weight: 400; }
        .footer .container .footer-position .form-footer button {
          display: inline-block;
          background-color: #1e0e3c;
          border: 1px solid #1e0e3c;
          border-radius: 16.56px;
          width: 74px;
          height: 48.86px;
          margin-left: 16px;
          color: #B9B9B9CC;
          text-transform: uppercase;
          padding-left: 24px;
          padding-top: 12px;
          padding-right: 24px;
          padding-bottom: 12px;
          font-size: 18px;
          font-weight: 400; }
      .footer .container .footer-position img {
        position: absolute;
        top: 220px; }
    .footer .container .footer-information {
      width: 1190px;
      height: 81px;
      margin-top: 17px;
      display: flex;
      justify-content: space-between; }
      .footer .container .footer-information p:nth-child(1) {
        width: 214px;
        height: 81px;
        line-height: 26.82px;
        color: #FFFFFF;
        font-weight: 300; }
      .footer .container .footer-information h4 {
        width: 200px;
        height: 65px;
        font-size: 48px;
        font-weight: 300;
        line-height: 65.57px;
        color: white;
        padding-left: 15px;
        background-image: url(../img/logo-circle.svg);
        background-repeat: no-repeat;
        background-position: left top; }
      .footer .container .footer-information p:nth-child(3) {
        height: 61px;
        width: 322px;
        line-height: 26.82px;
        color: #FFFFFF;
        font-weight: 300; }

/*# sourceMappingURL=style.css.map */
