@import url(../css/style.scss);

// colors

$gray: #757575;
$header-fone: #141414;

// font size
$fz: 16px;
$fz18: 18px;
$fz20: 20px;
$fz26: 26px;
$fz30: 36px;
$fz38: 38px;
$fz100: 100px;

// width btn

$w: 148px; 
$w: 122px;
