* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
}


#container {
    height: 5000px;
}


.WrapperContent {
    padding-top: 10px;
    position: relative;
    width: 1220px;
    margin: 0 auto;
    .AboutHero {
        .WalterWhiteImage {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 350px;
    }
    .TextUnderImage {
        text-align: center;
        margin-bottom: 50px;
    }
    .About {
        font-size: 30px;
        color: black;
        font-weight: 500;
        margin-top: 30px;
    }
    .AboutSecond {
        font-size: 20px;
        color: black;
        font-weight: 500;
        margin-top: 30px;
    }
    }
    .MainBlock {
        position: relative;
        .Cash {
            background-color: #5f676d;
            position: sticky;
            top: 0;
            width: 100%;
            height: 80px;
            z-index: 100;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 40px;
            padding-top: 15px;
            margin-bottom: 70px;
        }
        .WrapperItems {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            margin-bottom: 30px;
            height: 8000px;
            .Item {
            cursor: pointer;
            width: 380px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 16px;
            -webkit-box-shadow: 0px 17px 41px -8px rgba(34, 60, 80, 0.48);
            -moz-box-shadow: 0px 17px 41px -8px rgba(34, 60, 80, 0.48);
            box-shadow: 0px 17px 41px -8px rgba(34, 60, 80, 0.48);
            margin-bottom: 50px;
            img {
                width: 100%;
                height: 250px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            .Operations {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 116px;
                width: 100%;
                background-color: #646d74;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                .BuySell {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .Buy {
                        cursor: pointer;
                        width: 60px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #9edd99;
                        border-radius: 13px;
                        color: black;
                        font-weight: 500;
                    }
                    .Sell {
                        cursor: pointer;
                        width: 60px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #dd9999;
                        border-radius: 13px;
                        color: black;
                        font-weight: 500;
                    }
                    .Quanlity {
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .Title {
                    width: 100%;
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                }
                .Price {
                    width: 100%;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 10px;
                }
            }
        }
        }
        
    }
}
