body {
    
    position: relative;
}

table {
    overflow-x: scroll;
    overflow-y: visible;
}
.header-footer {
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: blue;
    background-color: lightblue;
    

}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.sports {
    width: 300px;
    height: 500px;
    background-color: gold;
    
    
    
    
    
    
    
}

.football {
    position: absolute;
    top: 10%;
    left: 53%;
    font-family: sans-serif,
    serif;
    
    
}


.content {
    height: 500px;
    background-image: url(../img/ball.png);
    background-position: right;
    background-repeat: repeat-y;
   
    
    
    
    
    
}


.foto {
    width: 250px;
    margin-left: 350px;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    
}

.about {
    margin-left: 350px;
    font-family: sans-serif,
    serif;
    
}

li {
    list-style-type: none;
    margin-top: 16px;
    color: slateblue;
    font-weight: bold;
    font-family: sans-serif,
    serif;
}


.tips {
    margin-top: 60px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif, serif;
}



