* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
    font-family: sans-serif, serif;
}

div.main {
    margin: 0 auto;
    width: 700px;
    height: 1600px;
    overflow-y: scroll;
    background-color: #1abc9c;
    margin-top: 100px;
    border-radius: 13px;
}

div.main h2 {
    width: 600px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
    color: ghostwhite;
}



div.main p {
    width: 300px;
}
.iframe1 {
    display: block;
    margin-left: 50px;
    margin-top: 100px;
}


a {
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: darkblue;
    
}

div.links {
    
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: #f5f5f5;
    border-radius: 13px;
    padding: 0.1px;
}

div.links h3 {
    margin-left: 70px;
    margin-top: 50px;
    color: teal;
}

li {
    list-style: none;
}