body {
  font-family: "Open Sans", sans-serif;
}

.font-color {
  display: flex;
  padding-left: 90px;

  margin-top: 50px;
  font-size: 50px;
}

.name {
  margin-left: 500px;
  font-size: 50px;
}

.ul-1 {
  list-style-type: none;
  display: flex;
  margin-left: 70px;
  margin-top: 40px;
}

.color-lime {
  color: #00ff00;
  padding-left: 50px;
  font-weight: bold;
}

.color-indigo {
  color: #4b0082;
  padding-left: 50px;
  font-weight: bold;
}

.font {
  display: flex;
}

.foto {
  margin-top: 70px;
  margin-left: 70px;
  padding-left: 20px;
}

.fone-1 {
  width: 241px;
  height: 100px;
  margin-left: 100px;
}

.fone-2 {
  margin-left: 20px;
}

.answer {
  margin-left: 480px;
  font-size: 30px;
}

.text {
  margin-left: 180px;
  font-weight: 500;
  line-height: 27px;
  font-size: 20px;
}

.code {
  margin-left: 320px;
}

.tak-vot {
  margin-left: 180px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 50px;
  font-size: 20px;
}

.example {
  margin-left: 400px;
  margin-top: 50px;
  font-size: 26px;
}

.font2-2 {
  margin-left: 300px;
  border: 3px solid;
}


.link {
  text-decoration: none;
  font-size: 23px;
  color: red;
  font-weight: bold;
}